<template>
  <view class="my">
    <view v-if="show" class="btn">
      <button type="primary" @click="getuserInfo">去登录/授权</button>
    </view>
    <view v-else>
      <view class="header">
        <view class="header_user">
          <img :src="userList.avatarUrl" alt="" class="header_user_img" />
          <p>{{ userList.nickName }}</p>
        </view>
        <view class="header_connect">
          <p>绑定手机号后可查看订单和领取优惠券，<span @click="bang">去绑定</span></p>
        </view>
      </view>
      <!-- 我的订单 -->
      <order/>
      <!-- 收藏 -->
      <notice :count='count' />
    </view>
  </view>
</template>

<script>
import { save_user_info, _login,getcollCount } from "../../services/user";
import order from './order.vue'
import notice from './notice.vue'
export default {
  components: {order,notice},
  data() {
    return {
      show: true,
      userList: {},
      count:0,
    };
  },
  async onLoad() {
    await this.login();
    this.count=await getcollCount()
  },
  methods: {
    bang(){
      uni.navigateTo({ url: "./component/phone/index"});
    },
    async login() {
      const token =uni.getStorageSync('token');
      if (!token) {
        this.show=true;
      }else{
        this.show=false;
      }
      const [, { code }] = await uni.login();
      const result = await _login({
        principal: code,
      });
       this.userList={
         avatarUrl:result.pic,
         nickName: result.nickName
       }
      uni.setStorageSync("token", result.access_token);
    },
    getuserInfo() {
      const that = this;
      this.show=false;
      uni.getUserProfile({
        desc: "获取用户信息授权",
        async success(res) {
          //设置 用户信息
          const { avatarUrl, nickName } = res.userInfo;
          const { statusCode } = await save_user_info({
            avatarUrl,
            nickName,
          });
           that.userList = {
              avatarUrl,
              nickName,
            };
        },
        fail(error) {
          console.log(error, "error");
        },
      });
    },
  },
};
</script>

<style scoped>

.my {
  width: 100%;
  height: 100%;
  background: #e9eaec;
}
.btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button {
  width: 250rpx;
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  width: 100%;
  height: 380rpx;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.header_user {
  width: 100%;
  height: 280rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_user_img {
  width: 150rpx;
  height: 150rpx;
  border-radius: 50%;
}
.header_user p {
  font-size: 36rpx;
  margin-top: 10rpx;
}
.header_connect {
  width: 100%;
  height: 100rpx;
  border-top: 1rpx #ccc solid;
  display: flex;
  align-items: center;
}
.header_connect p{
  margin-left: 20rpx;
}
.header_connect p span{
  font-weight: bold;
  color: red;
}
</style>