<template>
  <view>
    <view class="notice">
      <view class="notice_div" @click="collect">
        <h3>{{count}}</h3>
        <p>我的收藏</p>
      </view>
      <view class="notice_div">
        <h3>5</h3>
        <p>我的消息</p>
      </view>
      <view class="notice_div">
        <h3>3</h3>
        <p>我的足迹</p>
      </view>
      <view class="notice_div" @click="integral">
        <h3>3</h3>
        <p>我的积分</p>
      </view>
    </view>
    <view class="my_footer" @click="address">
      <view class="my_footer_left">
        <img src="../../static/my/dizhi.png" alt="" />
        <p>我的地址</p>
      </view>
      <view class="right_fan">></view>
    </view>
  </view>
</template>

<script>
export default {
  props:{
    count:{
      type:Number,
      required:true,
    }
  },
  methods: {
    address() {
      uni.navigateTo({ url: "./component/address/index" });
    },
    collect() {
      uni.navigateTo({ url: "./component/Collection/index" });
    },
    integral() {
      uni.navigateTo({ url: "./component/integral/index" });
    },
  },
};
</script>

<style scoped>
.notice {
  margin-top: 25rpx;
  width: 100%;
  height: 200rpx;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notice_div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.notice_div h3 {
  font-size: 36rpx;
  font-weight: bold;
  color: rgba(68, 139, 180);
  margin-bottom: 10rpx;
}
.notice_div p {
  margin-top: 10rpx;
}
.my_footer {
  width: 100%;
  height: 100rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20rpx;
  background: #fff;
}
.my_footer img {
  width: 60rpx;
  height: 65rpx;
}
.my_footer_left {
  display: flex;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rpx;
}
.right_fan {
  margin-right: 20rpx;
  color: rgb(131, 128, 128);
}
</style>