<template>
  <view class="order">
    <view class="order_header">
      <h5>我的订单</h5>
      <p @click="btn1">查看全部&nbsp;></p>
    </view>
    <view class="order_center">
      <view class="order_center_item" @click="btn2">
        <img src="../../static/my/toPay.png" />
        <p>待支付</p>
        <p class="order_center_item_count" v-if="a.records.length">
          {{ a.records.length }}
        </p>
      </view>
      <view class="order_center_item" @click="btn3">
        <img src="../../static/my/toDelivery.png" />
        <p>代发货</p>
      </view>
      <view class="order_center_item" @click="btn4">
        <img src="../../static/my/toTake.png" />
        <p>待收货</p>
      </view>
      <view class="order_center_item" @click="btn5">
        <img src="../../static/my/toComment.png" />
        <p>已完成</p>
      </view>
    </view>
  </view>
</template>

<script>
import { getTabarr } from "@/services/user";
export default {
  data() {
    return {
      a: {},
    };
  },
  async mounted() {
    this.a = await getTabarr({ status: 1 });
  },
  methods: {
    btn1() {
      uni.navigateTo({ url: "./component/order/index?id=0" });
    },
    btn2() {
      uni.navigateTo({ url: "./component/order/index?id=1" });
    },
    btn3() {
      uni.navigateTo({ url: "./component/order/index?id=2" });
    },
    btn4() {
      uni.navigateTo({ url: "./component/order/index?id=3" });
    },
    btn5() {
      uni.navigateTo({ url: "./component/order/index?id=4" });
    },
  },
};
</script>

<style scoped>
.order {
  width: 100%;
  margin-top: 30rpx;
  background: #fff;
  height: 240rpx;
  display: flex;
  flex-direction: column;
}
.order_header {
  width: 100%;
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5rpx solid #ccc;
}
.order_header h5 {
  font-weight: bold;
  margin-left: 20rpx;
}
.order_header p {
  margin-right: 20rpx;
  color: rgb(83, 81, 81);
}
.order_center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order_center_item {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.order_center_item_count {
  border: 1px red solid;
  color: red;
  position: absolute;
  background: #fff;
  top: -24rpx;
  right: 55rpx;
  /* padding: 5rpx; */
  padding: 0 10rpx;
  border-radius: 30rpx;
}
.order_center_item img {
  width: 80rpx;
  height: 75rpx;
}
.order_center_item p {
  margin-top: 20rpx;
}
</style>