
<template>
  <div class="home">
    <el-container>
      <el-aside width="250px">
        <el-menu router background-color="#263238" text-color="#fff" active-text-color="#ffd04b">
          <h1 class="Logo">
            亚米建站后台
          </h1>
          <MenuNav />
        </el-menu>
      </el-aside>
      <el-main>
        <el-header>
          <el-icon :size="25">
            <svg t="1666613342075" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
              p-id="14611" width="40" height="40">
              <path
                d="M849.1 128 174.9 128c-25.9 0-46.9 21-46.9 46.9l0 34.2c0 25.9 21 46.9 46.9 46.9l674.2 0c25.9 0 46.9-21 46.9-46.9l0-34.2C896 149 875 128 849.1 128z"
                p-id="14612" fill="#646566"></path>
              <path
                d="M849.1 768 174.9 768c-25.9 0-46.9 21-46.9 46.9l0 34.2c0 25.9 21 46.9 46.9 46.9l674.2 0c25.9 0 46.9-21 46.9-46.9l0-34.2C896 789 875 768 849.1 768z"
                p-id="14613" fill="#646566"></path>
              <path
                d="M849.1 448 174.9 448c-25.9 0-46.9 21-46.9 46.9l0 34.2c0 25.9 21 46.9 46.9 46.9l674.2 0c25.9 0 46.9-21 46.9-46.9l0-34.2C896 469 875 448 849.1 448z"
                p-id="14614" fill="#646566"></path>
            </svg>
          </el-icon>
          <div class="user">
            <el-dropdown>
                <span class="el-dropdown-link">
                {{login.userInfo.username===undefined?"admin":login.userInfo.username}}
                </span>
                  <template #dropdown>
                  <el-dropdown-menu>
                  <el-dropdown-item @click="xiugai">修改密码</el-dropdown-item>
                  <el-dropdown-item  @click.native="exitlogin">退出</el-dropdown-item>
                  </el-dropdown-menu>
                  </template>
            </el-dropdown>
            <!-- 修改密码 -->
      <el-dialog
        title="修改密码"
       v-model="visible"
       >
    <el-form :model="dataForm" :rules="dataRule" @keyup.enter.native="dataFormSubmit()" label-width="80px">
      <el-form-item label="账号">
        <span>{{ login.userInfo.username }}</span>
      </el-form-item>
      <el-form-item label="原密码" prop="password">
        <el-input type="password" v-model="dataForm.password"></el-input>
      </el-form-item>
      <el-form-item label="新密码" prop="newPassword">
        <el-input type="password" v-model="dataForm.newPassword"></el-input>
      </el-form-item>
      <el-form-item label="确认密码" prop="confirmPassword">
        <el-input type="password" v-model="dataForm.confirmPassword"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
      </el-dialog>
          </div>
        </el-header>
        <div class="main">
          <router-view />
        </div>
      </el-main>
    </el-container>
  </div>
</template>
<script setup lang="ts">
import {ref,reactive} from "vue"
import {useRouter} from 'vue-router';
import { ElMessage, ElMessageBox } from 'element-plus'
import MenuNav from '../../components/menuNav/index.vue'
import useStore from '../../store';
import {edit_password} from "../../api/login"
const { login } = useStore()

const router=useRouter()


const exitlogin=()=>{
  ElMessageBox.confirm(
    '确定进行退出操作?',
    '退出登录',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(() => {
      localStorage.clear()
      router.push('/login')
      ElMessage({
        type: 'success',
        message: '成功退出',
      })
    })
}
let visible=ref(false)
const dataForm = reactive({
          password: '',
          newPassword: '',
          confirmPassword: ''
});
const xiugai=()=>{
  visible.value=true  
}
// 确认密码正则
let validateConfirmPassword = (rule:any, value:any, callback:any) => {
        if (dataForm.newPassword !== value) {
          callback(new Error('确认密码与新密码不一致'))
        } else {
          callback()
        }
}
// 正则校验
const dataRule= reactive({
          password: [
            { required: true, message: '原密码不能为空', trigger: 'blur' }
          ],
          newPassword: [
            { required: true, message: '新密码不能为空', trigger: 'blur' }
          ],
          confirmPassword: [
            { required: true, message: '确认密码不能为空', trigger: 'blur' },
            { validator: validateConfirmPassword, trigger: 'blur' }
          ]
})
const dataFormSubmit=async()=>{
  let res: any = await edit_password({
                'password': dataForm.password,
                'newPassword':dataForm.newPassword
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '更改成功',
      })
      localStorage.clear()
      router.push('/login')
    }
}
</script>
<style scoped lang="scss">
.el-container {
  height: 100%;

  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
  }

  .el-menu {
    height: 100%;

    .Logo {
      width: 100%;
      height: 60px;
      text-align: center;
      line-height: 60px;
      background: #02a1e9;
      color: #fff;
      cursor: pointer;
    }
  }

  .el-main {
    padding: 0;
    background-color: #f4f4f4;

    .el-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
    }

    .main {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      margin-top: 6px;

      .main_con {
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
    }
  }

}
.el-dropdown-link{
  font-size: 16px;
}
.el-aside {
  overflow: auto ;
}
</style>