/<template>
  <view class="settlement">
    <uni-popup ref="popup" type="bottom" background-color="#fff">
      <view class="bt">
        <text>优惠券</text>
        <text @click="close">x</text>
      </view>
      <view class="tbt">
        <text
          v-for="(item, index) in list1"
          :key="index"
          @click="gaoliang(index)"
          :class="index === changei ? 'on' : ''"
          >{{ item.name }}</text
        >
      </view>
      <view class="con"></view>
    </uni-popup>
    <view class="addrlist" @click="goshouhuo">
      <view class="add_left">
        <view class="add_left_top">
          <img src="../../static/icon/3.1定位.png" alt="" class="img" />
          <text v-if="addrlist === null">添加新地址</text>
          <text class="name">{{ addrlist.receiver }}</text>
          <text>{{ addrlist.mobile }}</text>
        </view>
        <view class="add_address"
          >{{ addrlist.province }}{{ addrlist.city }}{{ addrlist.area
          }}{{ addrlist.addr }}</view
        >
      </view>
      <img src="../../static/icon/右侧.png" alt="" class="img" />
    </view>
    <view class="ban">
      <!-- 商品 -->
      <view class="banitem" v-for="(item, index) in setlist" :key="index">
        <view class="banpic">
          <image :src="item.pic"></image>
        </view>
        <view class="baninfo">
          <view class="banname">
            {{ item.prodName }}
          </view>
          <view class="bantype">{{ item.skuName }} </view>
          <!-- 总价  -->
          <view class="bannum">
            <text class="banprice">
              <text class="symbol">¥</text>
              <text class="big_num">{{ item.price }}</text>
              <text class="small_num"></text>
            </text>
            <text class="bancount">x{{ item.prodCount }}</text>
          </view>
        </view>
      </view>
      <view class="bantotal">
        <text>共{{ totalCount }}件商品</text>
        <view class="zongprice">
          合计：
          <text class="symbol">¥</text>
          <text class="big_num">{{ total.actualTotal }}</text>
        </view>
      </view>
    </view>
    <view class="ordermsg">
      <view class="couponitem" @click="open">
        <text>优惠券：暂无可用</text>
        <view class="order_right">
          <text class="orderzhang">0张</text>
          <img src="../../static/icon/右侧.png" alt="" class="img" />
        </view>
      </view>
      <view class="couponitemdi">
        <text>买家留言：</text>
        <input type="text" placeholder="给卖家留言" />
      </view>
    </view>
    <view class="ordermsg ordermsg_i">
      <view class="orderItem">
        <text>订单总额：</text>
        <view class="jiage">
          <text class="symbol">¥</text>
          <text class="big_num">{{ total.actualTotal }}</text>
        </view>
      </view>
      <view class="orderItem">
        <text>运费：</text>
        <view class="jiage">
          <text class="symbol">¥</text>
          <text class="big_num">0.00</text>
        </view>
      </view>
      <view class="orderItem">
        <text>优惠金额：</text>
        <view class="jiage">
          <text class="symbol">-¥</text>
          <text class="big_num">0.00</text>
        </view>
      </view>
      <view class="itempayment">
        <text>小计：</text>
        <text class="symbol">¥</text>
        <text class="big_num">{{ total.actualTotal }}</text>
      </view>
    </view>
    <view class="di"></view>
    <view class="submit-order-footer">
      <view class="sub-order">
        <view class="item-txt">
          合计：
          <view class="price">
            <text class="symbol">¥</text>
            <text class="big_num">{{ total.actualTotal }}</text>
          </view>
        </view>
      </view>
      <view class="submitbtn" @click="subPay"> 提交订单 </view>
    </view>
  </view>
</template>

<script>
import { getsetlist, send_order, order_pay } from "@/services/settlement";
export default {
  data() {
    return {
      changei: 0,
      addrlist: {},
      setlist: [], //订单列表
      total: 0, //总价
      totalCount: 0, //总数
      type: "order",
      addrId: 0, //默认地址
      shopId: 0,
      checkes: [],
      active: 0,
      bignum: 0,
      smallnum: 0,
      list1: [
        {
          name: "可用优惠券（0）",
        },
        {
          name: "不可用优惠券（0）",
        },
      ],
    };
  },
  onLoad(options) {
    this.showLoading();
    this.checkes = options.checkes.split(",").map((item) => Number(item));
  },
  onShow() {
    this.getsettlement();
  },
  methods: {
    open() {
      this.$refs.popup.open("bottom");
    },
    close() {
      this.$refs.popup.close("bottom");
    },
    // 跳收货地址
    goshouhuo() {
      this.$goPage({
        url: "/pages/my/component/address/index",
      });
    },
    // 展示loading弹框
    showLoading() {
      uni.showToast({
        icon: "loading",
        mask: true,
      });
    },
    //获取订单信息
    async getsettlement() {
      let res;
      // 先获取本地购物车数据 默认信息
      if (uni.getStorageSync("shopcaritem")) {
        const query = uni.getStorageSync("shopcaritem");
        query.addrId = this.addrId;
        res = await getsetlist(query);
        //清除本地存储
        uni.removeStorageSync("shopcaritem");
      } else {
        res = await getsetlist({
          addrId: this.addrId,
          basketIds: this.checkes,
          couponIds: [],
          userChangeCoupon: 1,
        });
      }
      this.total = res;
      // 总数量
      this.totalCount = this.total.totalCount;
      // 默认地址
      this.addrlist = res.userAddr;
      // 提交订单列表
      this.setlist =
        res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;
      this.shopId =
        res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems.shopId;
    },
    gaoliang(i) {
      this.changei = i;
    },
    // 支付订单
    async subPay() {
      // 获取订单号
      const result = await send_order({
        shopId: this.shopId,
      });
      // 获取支付信息
      const res = await order_pay({
        orderNumbers: result.orderNumbers,
        payType: 1,//1是微信 2支付宝
      });
      // 请求支付
      uni.requestPayment({
        appId: res.appId,
        timeStamp: res.timeStamp,
        nonceStr: res.nonceStr,
        package: res.packageValue,
        signType: res.signType,
        paySign: res.paySign,
        success: (result) => {
          uni.showToast({
            icon: "success",
            title: "支付成功",
          });
        },
        fail: (error) => {
          uni.showToast({
            icon: "error",
            title: "支付失败",
          });
        },
      });
    },
  },
};
</script>

<style scoped>
.on {
  border-bottom: 2px solid #eb2444;
  font-weight: 600;
}
.con {
  width: 100%;
  height: 600rpx;
  background: #eeeeee;
}
.tbt {
  width: 100%;
  height: 70rpx;
  line-height: 70rpx;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  border-bottom: 1px solid #f2f2f2;
}
.img:nth-child(1) {
  margin-right: 20rpx;
}
.name {
  font-size: 31rpx;
}
.bt {
  width: 100%;
  height: 50rpx;
  font-size: 28rpx;
  display: flex;
  justify-content: space-between;
  padding: 15rpx 10rpx;
}

.bt text:nth-child(2) {
  color: gray;
  padding: 0 20rpx;
}
.sub-order {
  flex: 1;
  margin: 0 30rpx;
  line-height: 100rpx;
  display: block;
  text-align: left;
  font-size: 28rpx;
}
.price {
  color: #eb2444;
}
.item-txt {
  display: flex;
}
.submit-order-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 750rpx;
  background: #fff;
  margin: auto;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 26rpx;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}
.submitbtn {
  padding: 0 10rpx;
  width: 200rpx;
  background: #eb2444;
  text-align: center;
  line-height: 100rpx;
  color: #fff;
}
.settlement {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  overflow-y: auto;
}
.addrlist {
  display: flex;
  width: 100%;
  height: 140rpx;
  background: white;
  align-items: center;
  justify-content: space-between;
}
.add_left {
  display: flex;
  flex-direction: column;
}
.img {
  width: 40rpx;
  height: 40rpx;
}
.add_left_top {
  display: flex;
  width: 380rpx;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.add_address {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 27rpx;
  margin-left: 60rpx;
  margin-top: 20rpx;
}
.ban {
  background-color: #fff;
  margin-top: 15rpx;
  font-size: 28rpx;
}
.banitem {
  display: flex;
  align-items: center;
  padding: 30rpx;
  border-bottom: 2rpx solid #f1f1f1;
}
.banpic {
  font-size: 0;
  display: block;
  width: 160rpx;
  height: 160rpx;
  overflow: hidden;
  background: #fff;
  margin-right: 16rpx;
}
.banpic image {
  width: 100%;
  height: 100%;
}
.baninfo {
  margin-left: 10rpx;
  font-size: 28rpx;
  width: 100%;
  position: relative;
  height: 160rpx;
  -webkit-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.jiage {
  color: #eb2444;
}
.banname {
  font-size: 28rpx;
  line-height: 40rpx;
  max-height: 86rpx;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
}
.bancount {
  color: gray;
}
.bannum {
  display: flex;
  justify-content: space-between;
}
.orderItem {
  display: flex;
  justify-content: space-between;
  padding: 28rpx;
}
.orderItem:nth-child(3) {
  border-bottom: 2rpx solid #ccc;
}
.bantype {
  color: #999;
  line-height: 40rpx;
  margin-top: 10rpx;
  font-size: 22rpx;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
}
.bantotal {
  text-align: right;
  padding: 20rpx 30rpx;
  font-size: 28rpx;
}
.zongprice {
  display: inline-block;
  color: #333;
  margin-left: 20rpx;
}
.symbol {
  font-size: 24rpx;
}
.big_num {
  font-size: 32rpx;
}
.small_num {
  font-size: 24rpx;
}
.ordermsg {
  width: 100%;
  margin: 20rpx 0;
  background: #fff;
  font-size: 28rpx;
  overflow: hidden;
}
.itempayment {
  text-align: right;
  color: #eb2444;
  padding: 28rpx;
}
.couponitem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 28rpx;
  font-family: arial;
  align-items: center;
  border-bottom: 2rpx solid #ccc;
  background: white;
  padding: 20rpx;
}
.couponitemdi {
  width: 100%;
  display: flex;
  font-size: 28rpx;
  font-family: arial;
  align-items: center;
  background: white;
  padding: 20rpx;
}
.order_right {
  margin-right: 20rpx;
  display: flex;
  align-items: center;
}

.orderzhang {
  margin-right: 20rpx;
  font-size: 28rpx;
  color: gray;
}
.di {
  width: 100%;
  height: 100rpx;
}
</style>