<template>
  <view class="address">
    <view class="address_header">
      <view v-for="(item, i) in addressList" :key="i" class="item">
        <view class="item_head">
          <view class="item_head_connect">
            <view
              ><span class="item_head_name">{{ item.receiver }}</span>
              {{ item.mobile }}</view
            >
            <view class="item_head_connect_city"
              >{{ item.province }}{{ item.city }}{{ item.area
              }}{{ item.addr }}</view
            >
          </view>
          <view class="item_head_img">
            <image
              src="@/static/my/revise.png"
              @click="updateList(item.addrId)"
            />
          </view>
        </view>
        <view class="item_foot">
          <radio
            :checked="item.commonAddr == 1 ? true : false"
            color="#eb2444"
            @click="moren(item.addrId)"
          />
          设置为默认地址
        </view>
      </view>
    </view>
    <view class="address_footer">
      <p @click="addList">新增收货地址</p>
    </view>
  </view>
</template>

<script>
import { getaddressList, getaddressId } from "@/services/user";
export default {
  data() {
    return {
      addressList: [],
    };
  },
  async onShow() {
    this.addressList = await getaddressList();
  },
  /* async onLoad() {
      this.addressList = await getaddressList()
  }, */
  methods: {
    //点击去新增
    addList() {
      uni.navigateTo({ url: "../../comps/addList/index?id" });
    },
    //点击去编辑
    updateList(id) {
      uni.navigateTo({ url: `../../comps/addList/index?id=${id}` });
    },
    //设置默认地址
    async moren(addrId) {
      await getaddressId(addrId);
      this.addressList.forEach((item) => {
        item.commonAddr = 0;
        if (item.addrId === addrId) {
          item.commonAddr = 1;
        }
      });
      uni.navigateBack();
    },
  },
};
</script>

<style scoped>
.address {
  width: 100%;
  height: 100%;
  background: #e9eaec;
  display: flex;
  flex-direction: column;
}
.address_header {
  flex: 1;
}
.address_footer {
  width: 100%;
  height: 100rpx;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
.item {
  width: 100%;
  height: 280rpx;
  margin-top: 20rpx;
  background: #fff;
  font-size: 28rpx;
}
.item_head {
  width: 100%;
  height: 180rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_head_connect {
  width: 400rpx;
  height: 120rpx;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item_head_img {
  margin-right: 10%;
  width: 45rpx;
  height: 45rpx;
  display: block;
}
.item_head_img image {
  width: 45rpx;
  height: 45rpx;
  display: block;
}
.item_foot {
  width: 100%;
  height: 100rpx;
  display: flex;
  align-items: center;
  padding-left: 5%;
  border-top: 1rpx #ccc solid;
}
.item_head_connect_city {
  font-size: 30rpx;
  color: #b7b8ba;
}
.item_head_name {
  font-size: 32rpx;
  padding-right: 20rpx;
}
</style>