<template>
  <!-- 每日上新 -->
  <view class="dailynew">
    <view class="dailynew-header">
      <view class="newTitle">
        <text>{{ title }}</text>
      </view>
      <view> </view>
    </view>
    <view class="dailynew-main">
      <view
        class="main-item"
        v-for="(item, index) in list"
        :key="index"
        @click="godetail(item.prodId)"
      >
        <view class="itemImg">
          <cover-image :src="item.pic" alt="" />
        </view>

        <view class="main-item-chil">
          <text class="tst">{{ item.prodName }}</text>
          <text class="txt">{{ item.brief }}</text>
          <view class="main-item-pic">
            <text>￥{{ item.price }}</text>
            <view class="main-img">
              <img src="../../static/ShouYe/购物车.png" alt="" />
            </view>
          </view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  props: ["list", "title"],
  data() {
    return {};
  },
  onload() {},
  methods: {
    godetail(ids) {
      this.$goPage({
        url: "/detailPkg/detail/index",
        query: {
          id: ids,
        },
      });
    },
    upPage(title) {
      if (title === "商城热卖") {
        this.$goPage({
          url: "/pages/index/ShopHot",
          query: {},
        });
      } else if (title === "更多宝贝") {
        this.$goPage({
          url: "/pages/index/Morbaby",
          query: {},
        });
      }
    },
  },
};
</script>

<style scoped>
.dailynew {
  width: 100%;
  height: 100%;
}
.dailynew-header {
  width: 96%;
  height: 80rpx;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40rpx;
}
.dailynew-main {
  width: 100%;
  height: 100%;
}
.main-item {
  width: 100%;
  height: 340rpx;
  margin-bottom: 10px;
  border-top: 1px solid #cdc9c9;
  display: flex;
}
.itemImg {
  margin-top: 20rpx;
  margin-left: 20rpx;
  width: 39%;
  height: 320rpx;
  margin-right: 20rpx;
}
.itemImg cover-image {
  width: 100%;
  height: 100%;
}
.main-item-chil {
  flex: 1;
  height: 320rpx;
  margin-top: 20rpx;
}

.tst {
  margin-top: 40rpx;
  font-size: 26rpx;
  display: block;
}
.txt {
  display: block;
  margin-top: 60rpx;
  font-size: 25rpx;
  color: #cdc9c9;
}
.main-item-pic {
  margin-top: 60rpx;
  display: flex;
  justify-content: space-between;
  font-size: 30rpx;
  color: #ee2c2c;
}
.main-img {
  width: 50rpx;
  height: 50rpx;
  padding-right: 60rpx;
}
.main-img img {
  width: 100%;
  height: 100%;
}
.newTitle {
  font-size: 30rpx;
}
.newBtn {
  font-size: 26rpx;
  background: rgba(248, 248, 255, 0.4);
  width: 120rpx;
  height: 45rpx;
  text-align: center;
  line-height: 45rpx;
  border-radius: 20rpx;
}
</style>