<template>
  <!-- 每日上新 -->
  <view class="dailynew">
    <view class="dailynew-header">
      <view class="newTitle">
        <text>商城热卖</text>
      </view>
      <view>
        <p class="newBtn" @click="upPage">查看更多</p>
      </view>
    </view>
    <view class="dailynew-main">
      <view
        class="main-item"
        v-for="(item, index) in list"
        :key="index"
        @click="godetail(item.prodId)"
      >
        <img :src="item.pic" alt="" />
        <view class="main-item-chil">
          <text class="tst">{{ item.prodName }}</text>
          <view class="main-item-pic">
            <text>￥{{ item.price }}</text>
          </view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  props: ["list"],
  data() {
    return {};
  },
  onload() {},
  methods: {
    godetail(ids) {
      this.$goPage({
        url: "/detailPkg/detail/index",
        query: {
          id: ids,
        },
      });
    },
    upPage() {
      this.$goPage({
        url: "/pages/index/ShopHot",
        query: {},
      });
    },
  },
};
</script>

<style scoped>
.dailynew {
  width: 100%;
  height: 304rpx;
  background: rgba(53, 142, 210);
  box-sizing: border-box;
  margin-bottom: 73%;
}
.dailynew-header {
  width: 96%;
  height: 80rpx;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dailynew-main {
  width: 96%;
  margin-left: 2%;
  display: flex;
  column-count: 3;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.main-item {
  width: 30%;
  margin-left: 3%;
  height: 371rpx;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
  margin-bottom: 10px;
}
.main-item img {
  width: 100%;
  height: 61%;
}
.tst {
  height: 76rpx;
  font-size: 28rpx;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-item-pic {
  display: flex;
  justify-content: space-between;
  font-size: 30rpx;
  color: #ee2c2c;
}
.newTitle {
  font-size: 30rpx;
  color: aliceblue;
}
.newBtn {
  font-size: 26rpx;
  color: aliceblue;
  background: rgba(248, 248, 255, 0.4);
  width: 120rpx;
  height: 45rpx;
  text-align: center;
  line-height: 45rpx;
  border-radius: 20rpx;
}
</style>