<template>
  <!-- 每日上新 -->
 
      <view class="main-item" >
        <cover-image :src="item.pic" alt="" />
        <view class="main-item-chil">
          <text class="tst">{{ item.prodName }}</text>
          <view class="main-item-pic">
            <text>￥{{ item.price }}</text>
            <view class="main-img"> </view>
          </view>
        </view>
  </view>
</template>

<script>
export default {
  props: {
    item:Object
  },
  data() {
    return {};
  },
  onload() {},

  methods: {
    name() {},
  },
};
</script>

<style scoped>
.main-item {
  width: 47%;
  margin-left: 2%;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
  margin-bottom: 10px;
  float: left;
}
.main-item-chil {
  padding: 8px;
}
.main-item cover-image {
  width: 100%;
  height: 340rpx;
}
.tst {
  height: 33rpx;
  font-size: 28rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.txt {
  font-size: 25rpx;
  color: #cdc9c9;
}
.main-item-pic {
  display: flex;
  justify-content: space-between;
  font-size: 30rpx;
  color: #ee2c2c;
}
</style>