<template>
  <view class="dailynew-main">
    <view
      class="main-item"
      v-for="(item, index) in list"
      :key="index"
      @click="godetail(item.prodId)"
    >
      <cover-image :src="item.pic" alt="" />
      <view class="main-item-chil">
        <text class="tst">{{ item.prodName }}</text>
        <text class="txt">{{ item.brief }}</text>
        <view class="main-item-pic">
          <text>￥{{ item.price }}</text>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  props: ["list"],
  methods: {
    godetail(ids) {
      this.$goPage({
        url: "/detailPkg/detail/index",
        query: {
          id: ids,
        },
      });
    },
  },
};
</script>

<style scoped>
.dailynew-main {
  width: 96%;
  margin-left: 2%;
  display: flex;
  column-count: 2;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.main-item {
  width: 47%;
  margin-left: 3%;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
  margin-bottom: 10px;
}
.main-item-chil {
  padding: 8px;
}
.main-item cover-image {
  width: 100%;
  height: 340rpx;
}
.tst {
  height: 33rpx;
  font-size: 28rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.txt {
  font-size: 25rpx;
  color: #cdc9c9;
}
.main-item-pic {
  display: flex;
  justify-content: space-between;
  font-size: 30rpx;
  color: #ee2c2c;
}
.main-img {
  width: 50rpx;
  height: 50rpx;
}
.main-img img {
  width: 100%;
  height: 100%;
}
.newTitle {
  font-size: 30rpx;
}
.newBtn {
  font-size: 26rpx;
  background: rgba(248, 248, 255, 0.4);
  width: 120rpx;
  height: 45rpx;
  text-align: center;
  line-height: 45rpx;
  border-radius: 20rpx;
}
</style>