/<template>
  <!-- 通知 -->
  <view class="notice">
    <view class="notice-one">
      <img src="../../static/ShouYe/horn.png" alt="" class="notice-img" />
    </view>
    <view class="notice-two">
      <swiper
        class="swiper"
        circular
        vertical
        :autoplay="true"
        :interval="4000"
        :duration="1000"
      >
        <swiper-item
          class="notice-two"
          v-for="(item, index) in list"
          :key="index"
          @click="upPage"
        >
          <text>{{ item.title }}</text>
        </swiper-item>
      </swiper>
    </view>
    <view class="notice-the"></view>
    <view class="notice-fore">></view>
  </view>
</template>

<script>
export default {
  props: ["list"],
  data() {
    return {};
  },
  methods: {
    upPage() {
       this.$goPage({
        url:'/pages/index/Latestannouncement',
        query:{}
       })
    },
  },
};
</script>

<style scoped>
.notice {
  width: 100%;
  height: 60rpx;
  margin-top: 30rpx;
  margin-bottom: 30rpx;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(237, 238, 238, 0.4);
  border-bottom: 1px solid rgba(237, 238, 238, 0.4);
}

.notice-one {
  width: 80rpx;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-left: 10rpx;
}
.notice-img {
  width: 90%;
  height: 60%;
}
.notice-two {
  flex: 6;
  font-size: 28rpx;
  line-height: 60rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.notice-the {
  flex: 2;
}
.notice-fore {
  margin-right: 20rpx;
}
.swiper {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}
</style>