/<template>
  <view :class="displa" @click="upPage(item.prodId)">
    <view class="img_s">
      <cover-image :src="item.pic" alt="" />
    </view>
    <view class="itrm">
      <p class="itrm-title">{{ item.prodName }}</p>
      <p class="itrm-prodd">
        {{ item.prodCommNumber }}评价{{ item.positiveRating }}%好评
      </p>
      <p class="itrm-price">￥{{ item.price.toFixed(2) }}</p>
    </view>
  </view>
</template>

<script>
export default {
  props: ["item", "displa"],
  data() {
    return {};
  },
  methods: {
    upPage(id) {
      this.$goPage({
        url: "/detailPkg/detail/index",
        query: {
          id: id,
        },
      });
    },
  },
};
</script>

<style scoped>
.one {
  display: flex;
  justify-content: start;
  padding: 20rpx;
  border-radius: 20rpx;
  background: #fff;
  margin-bottom: 20rpx;
  box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);
  font-size: 24rpx;
  box-sizing: border-box;
}
.one .img_s {
  width: 26%;
  height: 160rpx;
}
.one .img_s cover-image {
  width: 100%;
  height: 100%;
}
.one .itrm {
  flex: 1;
  margin-left: 15rpx;
}
.one .itrm .itrm-title {
  font-size: 30rpx;
  height: 62rpx;
  line-height: 31rpx;
}
.one .itrm .itrm-prodd {
  color: #a8a8a8;
  height: 62rpx;
  line-height: 62rpx;
}
.one .itrm .itrm-price {
  font-size: 30rpx;
  color: red;
}

.two {
  width: 48%;
  background: #fff;
  font-size: 24rpx;
  margin-top: 12rpx;
  padding: 20rpx;
  float: left;
  box-sizing: border-box;
  margin-left: 1%;
  border-radius: 30rpx;
}
.two .img_s {
  width: 100%;
  height: 345rpx;
}
.two .img_s img {
  width: 100%;
  height: 100%;
}
.two .itrm {
  flex: 1;
  margin-left: 15rpx;
}
.two .itrm .itrm-title {
  font-size: 25rpx;
  height: 62rpx;
  line-height: 31rpx;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.two .itrm .itrm-prodd {
  color: #a8a8a8;
  height: 62rpx;
  line-height: 62rpx;
}
.two .itrm .itrm-price {
  font-size: 30rpx;
  color: red;
}
</style>