/<template>
  <!-- 搜索 -->
  <view class="searchs">
    <icon type="search" :size="17" class="ic" />
    <input type="text" placeholder="搜索" class="inp" @click="upPage" />
  </view>
</template>

<script>
export default {
  methods: {
    upPage() {
      this.$goPage({
        url: "/detailPkg/search/index",
        query: {},
      });
    },
  },
};
</script>

<style scoped>
.searchs {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.inp {
  width: 90%;
  height: 20px;
  border: solid 1px #eee;
  border-radius: 15px;
  text-align: center;
  font-size: 24rpx;
}
.ic {
  position: absolute;
  top: 8px;
  left: 38%;
}
</style>