/<template>
  <!-- 轮播图 -->
  <view class="uni-margin-wrap">
    <swiper
      class="swiper"
      :indicator-dots="true"
      :autoplay="true"
      :interval="2000"
      :duration="1000"
      :circular="true"
      indicator-color="rgba(209,229,251)"
      indicator-active-color="rgba(27,125,236)"
      previous-margin="4px"
      next-margin="19px"
    >
      <swiper-item
        class="swipers"
        v-for="(item, index) in imgs"
        :key="index"
        @click="upPage(item.relation)"
      >
        <img :src="item.imgUrl" alt="" />
      </swiper-item>
    </swiper>
  </view>
</template>

<script>
export default {
  data() {
    return {
      imgs: [],
    };
  },
  mounted() {
    uni.request({
      url: "https://bjwz.bwie.com/mall4j/indexImgs",
      success: (res) => {
        this.imgs = res.data;
      },
      fail: (err) => {
        console.log(err);
      },
    });
  },
  methods: {
    upPage(id) {
      this.$goPage({
        url: "/detailPkg/detail/index",
        query: {
          id: id,
        },
      });
    },
  },
};
</script>

<style scoped>
.uni-margin-wrap {
  width: 100%;
  height: 320rpx;
  margin-top: 10px;
}
.swiper {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}
.swipers {
  width: 94%;
  height: 100%;
  border-radius: 15rpx;
}
.swipers img {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: 26rpx;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
  border-radius: 15rpx;
}
</style>