<template>
  <div class="guanli">
    <avue-crud :data="system.adminlist" :option='tableOption' v-model:page="page" @search-change="searchChange"
      @selection-change="selectionChange" @on-load="getlist" @size-change="sizeChange" @current-change="currentChange">
      <template #menu-left="{}">
        <el-button type="primary" color='#02A1E9' icon="el-icon-plus" @click="adduser">新增</el-button>
        <el-button type="danger" icon="el-icon-delete" @click="deleteHandle(null)">批量删除</el-button>
      </template>
      <template #menu="{ size, row }">

        <el-button type="primary" icon="el-icon-edit" @click.stop="editHandle(row)">编辑</el-button>

        <el-button type="danger" icon="el-icon-delete" @click.stop="deleteHandle(row.userId)">删除</el-button>
      </template>
    </avue-crud>
    <!-- 新增 -->
    <el-dialog :title='flag ? "新增" : "编辑"' v-model="addVisible">
      <el-form :model="dataForm" :rules="dataRule" @keyup.enter.native="dataFormSubmit()" label-width="120px">
        <el-form-item label="用户名" prop="userName">
          <el-input v-model="dataForm.userName" placeholder="登录帐号"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password" :class="{ 'is-required': !dataForm.id }">
          <el-input v-model="dataForm.password" type="password" placeholder="密码"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="comfirmPassword" :class="{ 'is-required': !dataForm.id }">
          <el-input v-model="dataForm.comfirmPassword" type="password" placeholder="确认密码"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="dataForm.email" placeholder="邮箱"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="mobile">
          <el-input v-model="dataForm.mobile" placeholder="手机号"></el-input>
        </el-form-item>
        <el-form-item label="角色" size="mini" prop="roleIdList">
          <el-checkbox-group v-model="dataForm.roleIdList">
            <el-checkbox v-for="role in system.roleList" :key="role.roleId" :label="role.roleId">{{ role.roleName }}
            </el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="状态" size="mini" prop="status">
          <el-radio-group v-model="dataForm.status">
            <el-radio :label="0">禁用</el-radio>
            <el-radio :label="1">正常</el-radio>
          </el-radio-group>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取消</el-button>
        <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script lang='ts' setup>
import { isEmail, isMobile } from "../../../../utils/validate";
import { ElMessage, ElMessageBox } from 'element-plus'
import { ref, reactive } from 'vue'
import { tableOption } from '../../../../crud/sys/user'
import userStore from '../../../../store'
import { del_user, add_user, edit_user } from "../../../../api/system";
const { system } = userStore()
// 分页
let page = ref({
  total: system.admintotal, // 总页数
  currentPage: 1, // 当前页数
  pageSize: 10 // 每页显示多少条
})
const sizeChange = (val: number) => {
  page.value.pageSize = val
  getlist({ size: val })
}
const currentChange = (val: number) => {
  page.value.currentPage = val
  getlist({ current: val })
}
// 选中的
let dataListSelections: any = []
const getlist = async (params: any) => {
  await system.getUsertAction({ ...params, size: page.value.pageSize, current: page.value.currentPage });
}
// 筛选
const searchChange = (params: any, done: any) => {
  done();
  getlist(params)
}
// 选中 全选
const selectionChange = (val: any) => {
  dataListSelections = val
}

// 新增正则
let validatePassword = (rule: any, value: any, callback: any) => {
  if (!dataForm.id && !/\S/.test(value)) {
    callback(new Error("密码不能为空"));
  } else {
    callback();
  }
};
let validateComfirmPassword = (rule: any, value: any, callback: any) => {
  if (!dataForm.id && !/\S/.test(value)) {
    callback(new Error("确认密码不能为空"));
  } else if (dataForm.password !== value) {
    callback(new Error("确认密码与密码输入不一致"));
  } else {
    callback();
  }
};
let validateEmail = (rule: any, value: any, callback: any) => {
  if (!isEmail(value)) {
    callback(new Error("邮箱格式错误"));
  } else {
    callback();
  }
};
let validateMobile = (rule: any, value: any, callback: any) => {
  if (!isMobile(value)) {
    callback(new Error("手机号格式错误"));
  } else {
    callback();
  }
}
// 弹框
let flag = ref(false)
let addVisible = ref(false)
let roleList = []
const dataForm = reactive({
  id: 0,
  userName: '',
  password: '',
  comfirmPassword: '',
  email: '',
  mobile: '',
  roleIdList: [],
  status: 1
});
// 表单校验规则
const dataRule = reactive({
  userName: [
    { required: true, message: "用户名不能为空", trigger: "blur" },
  ],
  password: [{ validator: validatePassword, trigger: "blur" }],
  comfirmPassword: [
    { validator: validateComfirmPassword, trigger: "blur" },
  ],
  email: [
    { required: true, message: "邮箱不能为空", trigger: "blur" },
    { validator: validateEmail, trigger: "blur" },
  ],
  mobile: [
    { required: true, message: "手机号不能为空", trigger: "blur" },
    { validator: validateMobile, trigger: "blur" },
  ],
})
// 获取新增角色列表
const getrolelist = async () => {
  await system.getrolelistAction();
}
getrolelist()
// 删除
const deleteHandle = (id: any) => {
  let userIds = id ? [id] : dataListSelections.map((item: any) => {
    return item.userId
  })
  ElMessageBox.confirm(
    '确定进行[删除]操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      let res: any = await del_user(userIds)
      if (res.status === 200) {
        ElMessage({
          type: 'success',
          message: '删除成功',
        })
        getlist({})
      }
      else {
        ElMessage({
          type: 'info',
          message: '删除失败',
        })
      }
    })
}
// 新增 
const adduser = () => {
  addVisible.value = true;
  flag.value = true;
  dataForm.id = 0;
  dataForm.userName = '';
  dataForm.password = '';
  dataForm.comfirmPassword = '';
  dataForm.email = '';
  dataForm.mobile = '';
  dataForm.roleIdList = [];
  dataForm.status = 0
}
//编辑
const editHandle = (row: any) => {
  addVisible.value = true;
  flag.value = false;
  dataForm.id = row.userId;
  dataForm.userName = row.username;
  dataForm.mobile = row.mobile;
  dataForm.roleIdList = row.roleIdList;
  dataForm.status = row.status;
  dataForm.email = row.email

}
// 提交
const dataFormSubmit = async () => {
  if (flag.value) {
    let res: any = await add_user({
      userId: dataForm.id || undefined,
      username: dataForm.userName,
      password: dataForm.password,
      email: dataForm.email,
      mobile: dataForm.mobile,
      status: dataForm.status,
      roleIdList: dataForm.roleIdList,
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '新增成功',
      })
      getlist({})
    }
    else {
      ElMessage({
        type: 'info',
        message: '新增失败',
      })
    }
  } else {
    let res: any = await edit_user({
      userId: dataForm.id || undefined,
      username: dataForm.userName,
      password: dataForm.password,
      email: dataForm.email,
      mobile: dataForm.mobile,
      status: dataForm.status,
      roleIdList: dataForm.roleIdList,
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '编辑成功',
      })
      getlist({})
    }
    else {
      ElMessage({
        type: 'info',
        message: '编辑失败',
      })
    }
  }
  getlist({})
  addVisible.value = false;
}

</script>

<style lang='scss' scoped>
.guanli {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;

  .button {
    color: #fff !important;
  }

  form {
    width: 100%;
    font-size: 12px !important;

    .el-form-item {
      margin-right: 10px;
    }
  }

  .produce_table {
    margin-top: 10px;
  }
}

svg {
  margin-right: 5px;
}
</style>