/<template>
  <view class="detail">
    <view class="pages">
      <!-- 轮播图部分 -->
      <swiper
        :autoplay="autoplay"
        class="swiper"
        :indicator-dots="indicatorDots"
        :indicator-color="indicatorColor"
        :indicator-active-color="indicatorActiveColor"
        :duration="duration"
        :interval="interval"
      >
        <swiper-item v-for="(item, index) in imgs" :key="index">
          <cover-image class="Img" :src="item" alt="" mode="aspectFit" />
        </swiper-item>
      </swiper>
      <view class="introduction">
        <view class="introduction-t">
          <view class="introduction-l">
            <view class="introduction-tit">{{ detailObj.prodName }}</view>
            <view class="introduction-con">{{ detailObj.brief }}</view>
          </view>
          <view class="introduction-r">
            <view class="collectbox" @click="addlike(detailObj.prodId)">
              <image
                v-if="iscollect"
                class="collect"
                src="../../static/prod-col-red.png"
              />
              <image v-else class="collect" src="../../static/Collection.png" />
              <p class="sc">收藏</p>
            </view>
          </view>
        </view>
        <view class="introduction-b">
          <text class="introduction-price"
            ><text class="introduction-p">￥</text
            ><text class="in-price">{{
              detailObj.price.toFixed(2)
            }}</text></text
          >
        </view>
      </view>
      <!-- sku部分 -->
      <view class="showsku" @click="showPopup">
        <view class="show-l">已选</view>
        <view class="show-c">{{ skuObj.defaultSkuList.join(",") }}{{ skuObj.selectCount }}件</view>
        <view class="show-r">...</view>
      </view>
      <!-- 评价部分 -->
      <view class="evaluate" @click="evalytePopup">
        <view class="evaluate-t">
          <view class="evaluate-l">评价</view>
          <view class="evaluate-c">好评0%</view>
          <view class="evaluate-r">共0条 ></view>
        </view>
        <view class="evaluate-b">
          <view class="cmt-tag">
            <text>全部0</text>
            <text>好评0</text>
            <text>中评0</text>
            <text>差评0</text>
            <text>有图0</text>
          </view>
        </view>
      </view>
      <!-- 富文本部分 -->
      <view class="rich-text">
        <view>
          <rich-text class="rich-img" :nodes="detailObj.content"></rich-text>
        </view>
      </view>
      <!-- 加入购物车 -->
      <view class="detail-footer">
        <view class="foot-l">
          <button open-type="contact" plain="false" class="foot-btn icon-left">
            <image class="customer" src="../../static/customer.png" />
            <p class="kfs">客服</p>
          </button>
          <view class="icon-right" @click="goshopcar">
            <image class="customers" src="../../static/shopcar.png" />
            <p class="kf">
              购物车
              <view class="shoptag" v-if="totalCartNum">{{
                totalCartNum
              }}</view>
            </p>
          </view>
        </view>
        <view class="foot-r">
          <view class="btn-car" @click="showPopup">
            <text @click="showPopup">加入购物车</text>
          </view>
          <view class="btn-shop" @click="addset">
            <text>立即购买</text>
          </view>
        </view>
      </view>
      <!-- sku弹窗 -->
      <uni-popup ref="popup" type="bottom" background-color="#fff">
        <view class="popup-content">
          <view class="popup-main">
            <view class="popup-top">
              <view class="popup-info">
                <image class="popup-img" :src="skuObj.selectPic" />
              </view>
              <view class="popup-r">
                <h4 class="popup-price">￥{{ skuObj.selectPrice }}</h4>
                <p>
                  <span class="chose">已选</span>
                  <text class="shops" v-if="!disabled"
                    >{{ skuObj.defaultSkuList.join(",") }}{{ skuObj.selectCount }}件</text
                  >
                  <text v-else>无货</text>
                </p>
              </view>
              <view class="popup-close" @click="close">×</view>
            </view>
            <view class="popup-con">
              <view v-if="skuObj.propertiesList.length">
                <view
                  v-for="(item, index) in skuObj.propertiesList"
                  :key="index"
                >
                  <view class="popup-tit">
                    <span class="popup-span">{{ item.title }}</span>
                  </view>
                  <view class="popup-btns">
                    <button
                      v-for="(item2, ind2) in item.titlePlus"
                      :key="ind2"
                      :class="[
                        isActive({
                          ind: index,
                          item: item2,
                        }),
                      ]"
                      @click="
                        handleSel({
                          ind: index,
                          item: item2,
                        })
                      "
                    >
                      {{ item2 }}
                    </button>
                  </view>
                </view>
              </view>
              <view class="popup-num">
                <span class="num-prc">数量</span>
                <view class="nums">
                  <text class="num-btn" @click="handlechangeCount(-1)">-</text>
                  <span class="num-btn">{{ skuObj.selectCount }}</span>
                  <text class="num-btn" @click="handlechangeCount(1)">+</text>
                </view>
              </view>
            </view>
          </view>
          <view class="popup-foot">
            <view class="btn-car" @click="addshop">
              <text>加入购物车</text>
            </view>
            <view class="btn-shop" @click="addset">
              <text>立即购买</text>
            </view>
          </view>
        </view>
      </uni-popup>
      <!-- 评论弹窗 -->
      <uni-popup ref="cmtpopup" type="bottom" background-color="#fff">
        <div class="cmt-content">
          <div class="cmt-head">
            <text class="pj">商品评价</text>
            <text class="good-cmt">好评度0%</text>
            <text class="popup-close" @click="closecmt">×</text>
          </div>
          <div class="cmt-foot">
            <view class="cmt-tag">
              <text
                v-for="(item, index) in list"
                :key="index"
                @click="getTab(index)"
                :class="DetialIndex === index ? 'active' : ''"
                >{{ item }}({{ pingLun }})</text
              >
            </view>
          </div>
        </div>
      </uni-popup>
    </view>
  </view>
</template>

<script>
import {
  _get_detail,
  addShopApi,
  requestPingLun,
  requestAddLike,
  isLikeApi,
} from "@/services/detail";
import { requestcarcount } from "@/services/cart";
export default {
  data() {
    return {
      detailObj: {},
      autoplay: true,
      indicatorDots: true,
      indicatorColor: "#f2f2f2",
      indicatorActiveColor: "#eb2444",
      interval: 3000,
      duration: 1000,
      imgs: [], //轮播
      skuObj: {
        defaultSkuList: [],
        propertiesList: [],
        selectPic: "",
        selectPrice: 0, //选中的商品价格
        selectCount: 1, //选中的商品数量
        selectskuId: "",
      },
      disabled: false,
      pingLun: 0, //评论数据
      DetialIndex: 0,
      list: ["全部", "好评", "中评", "差评", "有图"],
      iscollect: false, //收藏
      totalCartNum: 0, //购物车数量
    };
  },
  // 监听事件
  watch: {
    "skuObj.defaultSkuList"(val) {
      const currentSel = this.haveSkuItem(val);
      this.skuObj.selectPrice = currentSel.price;
      this.skuObj.selectPic = currentSel.pic;
      this.skuObj.selectskuId = currentSel.skuId;
    },
    totalCartNum(val) {},
  },
  async onLoad(options) {
    this.id = options.id;
    this.init(options.id);
    // 购物车
    const res = await requestcarcount();
    if (typeof res === "object") {
      this.totalCartNum = 0;
    } else {
      this.totalCartNum = res;
    }
    // 收藏
    let data = await isLikeApi({ prodId: options.id });
    if (typeof data === "object") {
      data = data.data;
    }
    this.iscollect = data;
  },
  methods: {
    // 关闭sku
    close() {
      this.$refs.popup.close();
    },
    // 关闭评价框
    closecmt() {
      this.$refs.cmtpopup.close();
    },
    // 跳转购物车
    goshopcar() {
      uni.switchTab({
        url: "/pages/cart/index",
        switchTab: true,
      });
    },
    // 立即购买
    addset() {
      let skuId;
      if (this.detailObj.skuList.length > 1) {
        let info = this.haveSkuItem(this.skuObj.defaultSkuList);
        skuId = info.skuId;
      } else {
        skuId = this.detailObj.skuList[0].skuId;
      }
      let query = {
        addrId: 0,
        couponIds: [],
        userChangeCoupon: 1,
        orderItem: {
          prodId: this.id,
          skuId: skuId,
          prodCount: this.skuObj.selectCount,
          shopId: 1,
        },
      };
      uni.setStorageSync("shopcaritem", query);
      this.$goPage({
        url: "/pages/settlement/index",
      });
    },
    // 添加购物车
    addshop() {
      // 判断
      if (!this.disabled) {
        this.setAddShop({
          basketId: 0,
          count: this.skuObj.selectCount,
          prodId: this.id,
          shopId: 1,
          skuId: this.skuObj.selectskuId,
        });
      }
    },
    async setAddShop(data) {
      try {
        const res = await addShopApi(data);
        if (res) {
          uni.showToast({
            title: res,
            icon: "none",
          });
        }
        if (res.statusCode === 200) {
          uni.showToast({
            title: "加入购物车成功",
            icon: "none",
          });
        }
        const result = await requestcarcount();
        if (typeof result === "object") {
          this.totalCartNum = 0;
        } else {
          this.totalCartNum = result;
        }
      } catch (error) {
        console.log(error, "=============");
      }
    },
    // 数量加减
    handlechangeCount(num) {
      if (num === -1 && this.skuObj.selectCount === 1) return;
      this.skuObj.selectCount = this.skuObj.selectCount + num;
    },
    handleSel({ ind, item }) {
      this.disabled = this.isActive({ ind, item }).trim === "disabled";
      let { defaultSkuList } = this.skuObj;
      defaultSkuList[ind] = item;
      this.skuObj.defaultSkuList = [...defaultSkuList];
    },
    haveSkuItem(selectProtites) {
      return this.detailObj.skuList.find(
        ({ skuName }) => selectProtites.join(" ") === skuName
      );
    },
    // 判断是否是当前选中的属性
    isActive({ ind, item }) {
      const selectProtites = [...this.skuObj.defaultSkuList];
      selectProtites[ind] = item;
      // console.log(selectProtites,'fdskfksndk----------');
      let flag = "";
      this.skuObj.defaultSkuList.forEach((val, i) => {
        if (ind === i && item === val) {
          console.log("flag");
          flag = "active";
        }
      });
      // 选的东西 是否还有
      flag = this.haveSkuItem(selectProtites) ? flag : flag + " disabled";
      console.log(flag, "===========================");
      return flag;
    },
    // sku弹窗
    showPopup() {
      this.$refs.popup.open("bottom");
    },
    // 判断弹窗
    evalytePopup() {
      this.$refs.cmtpopup.open("bottom");
    },
    // 富文本图片高度 宽度
    formmatHTML(htmlStr) {
      return htmlStr
        .replace(/width\=\"\d+\"/g, 'width="100%"')
        .replace(/height\=\"\d+\"/g, "");
    },
    // 收藏
    async addlike(prodId) {
      const res = await requestAddLike(prodId);
      this.iscollect = !this.iscollect;
    },
    // 详情评论
    async getTab(index) {
      const data = await requestPingLun({
        prodId: this.detailObj.prodId,
        size: 10,
        current: 1,
        evaluate: 0,
      });
      console.log(this.pingLun);
      this.pingLun = data.total;
      this.DetialIndex = index;
    },
    // sku
    formatSKU(skuList) {
      // 判断skulist是否是空数组
      if (skuList.length) {
        // 必须有sku
        const { properties, skuName } = skuList[0]; //默认第一个
        this.skuObj.defaultSkuList = skuName.split(/\s/);
        if (properties) {
          // 处理商品规格参数
          this.skuObj.propertiesList = properties
            .split(";")
            .map((item, index) => {
              const [title] = item.split(":");
              const titlePlus = [
                ...new Set(
                  skuList.map(({ skuName }) => skuName.split(/\s/)[index])
                ),
              ];
              return {
                title,
                titlePlus,
              };
            });
        }
      }
    },
    async init(id) {
      console.log(id, "ids");
      const result = await _get_detail(id);
      console.log(result);
      const image = result.imgs.split(",");
      this.imgs = image;
      this.detailObj = result;
      result.content = this.formmatHTML(result.content);
      this.formatSKU(result.skuList);
      this.skuObj.selectPic = result.pic;
      this.skuObj.selectPrice = result.price;
    },
  },
};
</script>

<style scoped>
.cmt-tag .active {
  background: red;
  color: #fff;
}
.popup-foot {
  width: 100%;
  height: 100rpx;
  display: flex;
}
.popup-btns button.disabled {
  background: #f7f7f7;
  color: #fff;
  border-style: dashed;
}
.popup-btns button.active {
  background: red;
  color: #fff;
  border-color: transparent;
}
.detail {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}
.pages {
  background-color: #f3f3f3;
}
.swiper-item {
  display: block;
  height: 300rpx;
  line-height: 300rpx;
  text-align: center;
}
.swiper-list {
  margin-top: 40rpx;
  margin-bottom: 0;
}
.swiper {
  width: 100%;
  height: 600rpx;
  /* background:skyblue; */
  /* z-index: 999; */
}
.Img {
  width: 100%;
  height: 100%;
}
.introduction {
  width: 100%;
  height: 200rpx;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding-top: 10rpx;
}
.introduction-t {
  display: flex;
  width: 100%;
  height: 100rpx;
  justify-content: space-between;
}
.introduction-b {
  width: 100%;
  height: 100rpx;
}
.introduction-l {
  width: 80%;
  height: 100%;
  border-right: 1px #eee solid;
}
.introduction-tit {
  width: 100%;
  height: 45%;
  font-size: 26rpx;
  flex-wrap: wrap;
  margin-top: 15rpx;
  margin-left: 25rpx;
  line-height: 35rpx;
}
.introduction-con {
  width: 100%;
  height: 45%;
  line-height: 22rpx;
  font-size: 22rpx;
  color: #a9a9a9;
  margin-left: 25rpx;
  margin-top: 25rpx;
}
.introduction-r {
  width: 20%;
  height: 100%;
}
.collectbox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  margin-left: 30%;
  margin-top: 10%;
}
.collect {
  width: 27%;
  height: 42%;
}
.sc {
  width: 100%;
  height: 30px;
  font-size: 8px;
  display: flex;
  color: #666;
}
.introduction-p {
  color: red;
  font-size: 12px;
}
.introduction-price {
  color: red;
  line-height: 100rpx;
  margin-left: 25rpx;
  font-size: 18px;
}
.in-price {
  font-size: 40rpx;
}
.showsku {
  width: 100%;
  height: 80rpx;
  display: flex;
  margin-top: 25rpx;
  background: #fff;
  position: relative;
}
.show-l {
  margin-left: 25rpx;
  align-items: center;
  line-height: 80rpx;
  font-size: 10px;
  color: #a9a9a9;
}
.show-c {
  margin-left: 35rpx;
  align-items: center;
  line-height: 80rpx;
  font-size: 12px;
  font-weight: bold;
}
.show-r {
  position: absolute;
  right: 25rpx;
  align-items: center;
  line-height: 80rpx;
  font-size: 16px;
  color: #a9a9a9;
}
.evaluate {
  width: 100%;
  height: 280rpx;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-top: 20rpx;
}
.evaluate-t {
  display: flex;
  width: 100%;
  height: 70rpx;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.evaluate-l {
  font-size: 14px;
  margin-left: 20rpx;
  line-height: 70rpx;
}
.evaluate-c {
  font-size: 12px;
  color: red;
  line-height: 70rpx;
  margin-left: 20rpx;
}
.evaluate-r {
  font-size: 12px;
  right: 30rpx;
  color: #696969;
  position: absolute;
  line-height: 70rpx;
  margin-left: 15rpx;
}
.evaluate-b {
  width: 100%;
  height: 120rpx;
  flex-wrap: wrap;
  margin-top: 30rpx;
}
.cmt-tag {
  margin-left: 40rpx;
}
.cmt-tag text {
  margin: 0 20px 10px 0;
  background: #fdf0f0;
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  border-radius: 3px;
  line-height: 25px;
  font-size: 12px;
  font-family: -apple-system, Helvetica, sans-serif;
  color: #666;
}
.rich-text {
  width: 100%;
  background: #fff;
  margin-top: 20rpx;
}
.detail-footer {
  width: 100%;
  height: 100rpx;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  display: flex;
}
.foot-l {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.foot-btn {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 0;
  background-color: #fff;
  font-size: 28rpx;
  flex-flow: column;
  border: none !important;
}
.foot-l .foot-btn .icon-left {
  flex-grow: 0;
  flex-shrink: 0;
  width: 125rpx;
  font-size: 20rpx;
  color: #666;
  border: none !important;
}
.foot-r {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 99999 !important;
}
.icon-right {
  width: 45%;
  height: 100%;
}
.customer {
  width: 38%;
  height: 45%;
  margin-left: 28rpx;
  margin-top: 17rpx;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 20rpx;
}
.customers {
  width: 45%;
  height: 50%;
  margin-left: 28rpx;
  margin-top: 10rpx;
  align-items: center;
  text-align: center;
}
.kf {
  font-size: 8px;
  margin-left: 35rpx;
  align-items: center;
  color: #808080;
  position: relative;
}
.shoptag {
  position: absolute;
  top: 5rpx;
  left: 190rpx;
  display: inline-block;
  width: 28rpx;
  height: 28rpx;
  border-radius: 14rpx;
  background-color: #eb2444;
  text-align: center;
  line-height: 28rpx;
  font-size: 18rpx;
  color: #fff;
}
.kfs {
  font-size: 8px;
  margin-left: 35rpx;
  align-items: center;
  color: #808080;
  position: absolute;
  bottom: -5rpx;
  left: 22rpx;
}
.btn-car {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: #584e61;
  color: #fff;
  font-size: 28rpx;
}
.btn-car text {
  line-height: 100rpx;
  margin-left: 25%;
}
.btn-shop {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: #eb2444;
  color: #fff;
  font-size: 28rpx;
}
.btn-shop text {
  line-height: 100rpx;
  margin-left: 25%;
}
.popup-content {
  width: 100%;
  height: 60%;
  background: pink;
  position: relative;
}
.popup-main {
  width: 100%;
  height: 900rpx;
  background: #fff;
}
.popup-top {
  width: 100%;
  height: 100rpx;
  background: #fff;
  display: flex;
}
.popup-info {
  width: 35%;
  height: 100%;
  position: relative;
}
.popup-img {
  position: absolute;
  top: -105rpx;
  left: 20rpx;
  width: 200rpx;
  height: 200rpx;
}
.popup-r {
  width: 55%;
  height: 100%;
}
.popup-close {
  position: absolute;
  right: 20rpx;
  top: 10rpx;
  font-weight: bold;
  color: #a9a9a9;
}
.popup-con {
  width: 100%;
  height: 800rpx;
  margin-top: 80rpx;
  display: flex;
  flex-direction: column;
}
.popup-tit {
  width: 100%;
  height: 80rpx;
}
.popup-span {
  line-height: 80rpx;
  margin-left: 20rpx;
  font-size: 28rpx;
  color: #c0c0c0;
}
.popup-btns {
  width: 100%;
  height: 50%;
  display: flex;
  margin-bottom: 50rpx;
}
.popup-btns button {
  width: 170rpx;
  height: 80rpx;
  font-size: 32rpx;
  margin-left: 30rpx;
  margin-right: 10rpx;
  text-align: center;
  line-height: 80rpx;
  border: 1px #696969 solid;
}
.popup-price {
  color: red;
  font-size: 35rpx;
}
.chose {
  font-size: 28rpx;
  color: #696969;
  margin-right: 20rpx;
}
.shops {
  font-size: 30rpx;
}
.popup-num {
  width: 100%;
  height: 80rpx;
  display: flex;
  position: relative;
}
.num-prc {
  line-height: 80rpx;
  margin-left: 20rpx;
  font-size: 28rpx;
  color: #c0c0c0;
}
.nums {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 20rpx;
  top: 0;
  display: flex;
  justify-content: space-around;
}
.num-btn {
  width: 90rpx !important;
  height: 100%;
  background: #eee;
  margin-left: 10rpx;
  text-align: center;
  line-height: 80rpx;
  font-size: 28rpx;
}
.cmt-content {
  width: 100%;
  height: 1177rpx;
  background: #fff;
}
.cmt-head {
  width: 100%;
  height: 80rpx;
  border-bottom: 1px solid #ccc;
  margin-bottom: 35rpx;
}
.pj {
  font-size: 32rpx;
  line-height: 70rpx;
  margin-left: 20rpx;
}
.good-cmt {
  font-size: 25rpx;
  color: red;
  line-height: 70rpx;
  margin-left: 18rpx;
}
.customer-btn {
  background: #fff;
  border: none;
  position: relative;
}
</style>