<template>
  <div class="mod-sys-area">
    <el-input v-model="areaName" class="area-search-input" placeholder="地区关键词" @change="sou">
    </el-input>
    <el-button type="primary" size="mini" class="area-add-btn" @click="addarea()">新增</el-button>
    <!-- 树形控件 -->
    <el-tree :data="system.soulist" :props="defaultProps" node-key="areaId" :expand-on-click-node="false">
      <template #default="{ node, data }" class="con">
        <span class="custom-tree-node">
          <span>{{ node.label }}</span>
          <span class="span">
            <el-button type="text" icon="el-icon-edit" size="small" @click="() => update(node, data)">
              修改
            </el-button>
            <el-button type="text" icon="el-icon-delete" size="small" @click="() => remove(node, data)">
              删除
            </el-button>
          </span>
        </span>
      </template>
    </el-tree>

    <!-- 弹框 -->
    <el-dialog :title='flag ? "新增" : "编辑"' v-model="addVisible">
      <el-form :model="dataForm" :rules="dataRule" @keyup.enter.native="dataFormSubmit()" label-width="120px">
        <el-form-item label="地区名称" prop="areaName">
          <el-input v-model="dataForm.areaName" placeholder="角色名称"></el-input>
        </el-form-item>
        <el-form-item label="上级地区" prop="parentId">
          <el-cascader expand-trigger="hover" :options="system.arealist" :props="categoryTreeProps" v-model="selectedOptions" @change="handleChange">
          </el-cascader>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取消</el-button>
        <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script setup lang='ts'>
import { ref, reactive } from 'vue'
import userStore from '../../../../store'
import { ElMessage, ElMessageBox } from 'element-plus'
import { del_area, add_area, edit_area ,get_editlist} from "../../../../api/system";
const { system } = userStore()
const areaName = ref('')
const selectedOptions:any=[]
const defaultProps = {
  children: 'children',
  label: 'areaName',
}
const categoryTreeProps:any = ref({
  value: 'areaId',
  label: 'areaName'
})
const getlist = async () => {
  await system.getareaAction()
}
getlist()
const sou = async (val: string) => {
  await system.souAction(val)
}
// 弹框
let flag = ref(false)
let addVisible = ref(false)
const dataForm = reactive({
  areaId: 0,
  areaName: null,
  parentId: null,
  level: null,
  areas: null,
});
// 表单校验规则
const dataRule = reactive({
  areaName: [
    { required: true, message: "地区名称不能为空", trigger: "blur" },
  ],
})
// 新增
const addarea = () => {
  addVisible.value = true;
  flag.value = true;
  dataForm.areaName = null;
  dataForm.level = null;
  dataForm.areas = null;
  dataForm.areaId = 0;
  dataForm.parentId = null;
}
//编辑
const update = async(node: any, data: any) => {
  addVisible.value = true;
  flag.value = false;
  let res:any=await get_editlist(data.areaId)
  console.log(res.data);
  dataForm.parentId = data.parentId;
  dataForm.areaId = data.areaId;
  dataForm.areaName = data.areaName;
  dataForm.level = data.level;
  dataForm.areas = data.areas;
  selectedOptions.push(dataForm.parentId)
  categoryTreeProps.value.areaId = dataForm.areaId
  categoryTreeProps.value.areaName = dataForm.areaName
}
// 提交
const dataFormSubmit = async () => {
  if (flag.value) {
    let res: any = await add_area({
      areaId: dataForm.areaId,
      areaName: dataForm.areaName,
      level: dataForm.level,
      parentId: dataForm.parentId,
      areas: dataForm.areas,
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '新增成功',
      })
      getlist()
      console.log(1);

    }
    else {
      ElMessage({
        type: 'info',
        message: '新增失败',
      })
    }
  } else {
    let res: any = await edit_area({
      areaId: dataForm.areaId,
      areaName: dataForm.areaName,
      level: dataForm.level,
      parentId: dataForm.parentId,
      areas: dataForm.areas,
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '编辑成功',
      })
      getlist()
    }
    else {
      ElMessage({
        type: 'info',
        message: '编辑失败',
      })
    }
  }
  getlist()
  addVisible.value = false;
}

// 删除
const remove = (node: any, data: any) => {
  ElMessageBox.confirm(
    '确定进行[删除]操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      let res: any = await del_area(data.areaId)
      if (res.status === 200) {
        ElMessage({
          type: 'success',
          message: '删除成功',
        })
        getlist()
      }
      else {
        ElMessage({
          type: 'info',
          message: '删除失败',
        })
      }
    })
}
// 上级地区
const handleChange=(val:any)=>{
  dataForm.parentId = val[val.length - 1] 
}
</script>

<style lang="scss" scoped>
.mod-sys-area {
  padding: 20px;
.con{
  display: flex;
}
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
  .span{
    position: absolute;
    right:0;
  }
  .area-search-input {
    width: 30%;
    margin-bottom: 10px;
  }

  .area-add-btn {
    float: right;
    margin-bottom: 10px;
  }
}
</style>