/<template>
  <view class="live">
    <view
      v-for="(item, index) in roomList"
      :key="index"
      @click="golives(item.roomid)"
      class="livelist"
    >
      <div class="live-con">
        <image class="live-img" :src="item.feeds_img" />
      </div>
      <div class="live-foot">
        <div class="cname">{{ item.name }}</div>
        <div class="zuozhe">{{ item.anchor_name }}</div>
      </div>
      <view :class="item.live_status !== 103 ? 'none' : 'mask'">直播结束</view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      roomList: [],
    };
  },
  async onLoad() {
    try {
      // 获取直播列表
      const cloud = await this.$cloud;
      const result = await cloud.callFunction({
        name: "liveroom",
      });
      this.roomList = result.result.body.room_info;
      console.log(this.roomList, "rrrrrrrrrrrrrrrrrr");
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    golives(roomId) {
      let customParams = encodeURIComponent(
        JSON.stringify({ path: "pages/lives/index", pid: 1 })
      ); // 开发者在直播间页面路径上携带自定义参数（如示例中的 path 和pid参数），后续可以在分享卡片链接和跳转至商详页时获取，详见【获取自定义参数】、【直播间到商详页面携带参数】章节（上限600个字符，超过部分会被截断）
      wx.navigateTo({
        url: `plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${roomId}&custom_params=${customParams}`,
      });
    },
  },
};
</script>

<style>
.none {
  display: none;
}
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 30rpx;
}
.live {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #eee;
}
.livelist {
  width: 45%;
  height: 500rpx;
  display: flex;
  flex-direction: column;
  margin-right: 10rpx;
  margin-left: 25rpx;
  margin-bottom: 40rpx;
  background: #fff;
  border-radius: 30rpx;
  position: relative;
}
.live-con {
  width: 100%;
  height: 350rpx;
}
.live-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30rpx 30rpx 0 0;
}
.live-foot {
  width: 100%;
  height: 150rpx;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0 0 30rpx 30rpx;
  overflow: hidden;
}
.cname {
  width: 100%;
  padding: 28rpx 28rpx;
  background: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.zuozhe {
  font-size: 28rpx;
  font-family: 黑体;
  background: white;
  padding-left: 28rpx;
}
</style>