<template>
  <div class="produce">
    <avue-crud :data="product.produceList" :option="tableOption" @search-change="searchs" @search-reset="resetChange"
      v-model:page="page" @size-change="sizeChange" @current-change="currentChange" @selection-change="selectionch">
      <template #menu-left="{}">
        <el-button type="primary" color='#02A1E9' icon="el-icon-plus" @click="addproduce">新增</el-button>
        <el-button type="danger" @click="del">批量删除</el-button>
      </template>
      <template #status="scope">
        <el-tag v-if="scope.row.status === 0" size="small" type="danger">未上架</el-tag>
        <el-tag v-else size="small">上架</el-tag>
      </template>
      <template #pic="scope">
        <img :src="scope.row.pic" alt="">
      </template>
      <template #menu="{ size, row }">
        <el-button type="primary" icon="el-icon-edit" @click="editproduce(row)">编辑</el-button>

        <el-button type="danger" icon="el-icon-delete" @click="del(row.prodId)">删除</el-button>
      </template>
    </avue-crud>
  </div>
</template>

<script setup lang='ts'>
import { ref } from 'vue'
import userStore from '../../../../store'
import { tableOption } from '../../../../crud/prod/prodList.js'
import { _get_produce, _del_produce } from '../../../../api/produce'
import router from '../../../../router';
import { ElMessage, ElMessageBox } from 'element-plus'

const { product } = userStore()

//分页
const page = ref({
  currentPage: 1, //当前页数
  pageSize: 10, //每页显示条目个数
  total: 0  //总条目数
})
//渲染
const getList = async (params: any) => {
  const res = await _get_produce(params)
  console.log(res);
  product.produceList = res.data.records
  page.value.total = res.data.total
  page.value.pageSize = res.data.size
  page.value.currentPage = res.data.current
}
getList({ size: page.value.pageSize, current: page.value.currentPage })
// 点击每页多少条
const sizeChange = (val: number) => {
  page.value.pageSize = val;
  getList({ size: val })
}
//点击页码
const currentChange = (val: number) => {
  page.value.currentPage = val;
  getList({ current: val })
}
//搜索
const searchs = (params: any, done: any) => {
  console.log(params);
  done();
  getList(params)
}
// 清空搜索栏
const resetChange = (item: any) => {
  console.log(item);
}
//新增
const addproduce = () => {
  router.push({
    path: '/prodinfo'
  })
}
//编辑
const editproduce = (row: any) => {
  router.push({
    path: `/prodinfoe/${row.prodId}`,
    query: row
  })
}

const dataListSelections = ref<any[]>([])

//全选
const selectionch = (val: any) => {
  dataListSelections.value = val
}
//删除
function del(id: number): void {
  let userIds = id ? [id] : dataListSelections.value.map((item: any) => {
    console.log(item, '全部删除');
    return item.userId;
  });
  ElMessageBox.confirm(
    '确定进行删除操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  ).then(async () => {
    console.log(userIds, 'bbbbbbbbbbbbbbbbbbbbb');
    // await del_groupList(id)
    getList({});
    ElMessage({
      type: 'success',
      message: '删除成功',
    });
  }).catch(() => {
  });
}

</script>

<style lang='scss' scoped>
.produce {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;

  .button {
    color: #fff !important;
  }

  form {
    width: 100%;
    display: flex;
    font-size: 12px !important;

    .el-form-item {
      margin-right: 10px;
    }
  }

  .produce_table {
    margin-top: 10px;
  }
}

svg {
  margin-right: 5px;
}

img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}
</style>