<template>
    <el-form-item label="规格名" v-show="isShowTagInput">
        <el-col :span="8">
            <el-select v-model="skuName.propName" filterable allow-create default-first-option placeholder="请选择">
                <el-option>
                </el-option>
            </el-select>
        </el-col>
    </el-form-item>
    <el-form-item label="规格值" v-show="isShowTagInput">
        <el-col :span="8">
            <el-select multiple filterable allow-create default-first-option placeholder="请选择">
                <el-option>
                </el-option>
            </el-select>
        </el-col>
    </el-form-item>
    <el-form-item>
        <el-button size="mini" type="primary" v-show="isShowTagInput">确定</el-button>
        <el-button size="mini" v-show="isShowTagInput">取消</el-button>
    </el-form-item>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import { _edit_skuList } from '../../../../api/produce'
defineProps({
    isShowTagInput: Boolean
})

const skuName = ref([])

const getList = async (params: any) => {
    const skuRes = await _edit_skuList(params)

    skuName.value = skuRes.data
}
getList({})
</script>
<style>

</style>