<template>
  <div class="mod-prod-info">
    <el-form :model="form" label-width="100px">
      <el-form-item label="产品图片" prop="imgs">
        <el-upload v-model:file-list="fileList" action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
          list-type="picture-card" :on-preview="handlePictureCardPreview" :on-remove="handleRemove">
          <el-icon>
            <Plus />
          </el-icon>
        </el-upload>
      </el-form-item>
      <el-form-item label="状态" prop="status">
        <el-radio-group v-model="form.status">
          <el-radio :label="1">上架</el-radio>
          <el-radio :label="0">下架</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="产品分类" prop="categoryId">
        <el-col :span="8">
          <el-cascader expand-trigger="hover" :options="product.classList" :props="category.props"
            v-model="category.selected" change-on-select @change="handleCategoryChange">
          </el-cascader>
        </el-col>
      </el-form-item>
      <el-form-item label="产品分组" prop="tagList">
        <el-col :span="8">
          <el-select multiple style="width: 250px" placeholder="请选择" v-model="tags">
            <el-option v-for="item in form.tagList" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
          </el-select>
        </el-col>
      </el-form-item>
      <el-form-item label="产品名称" prop="prodName" :rules="[{ required: true, message: '产品名称不能为空' }]">
        <el-col :span="8">
          <el-input v-model="form.prodName" placeholder="产品名称" maxlength="50"></el-input>
        </el-col>
      </el-form-item>
      <el-form-item label="产品卖点" prop="brief">
        <el-col :span="8">
          <el-input type="textarea" v-model="form.brief" :autosize="{ minRows: 2, maxRows: 4 }" placeholder="产品卖点">
          </el-input>
        </el-col>
      </el-form-item>
      <el-form-item label="配送方式">
        <el-checkbox v-model="form.deliveryMode.hasShopDelivery">商家配送</el-checkbox>
        <el-checkbox v-model="form.deliveryMode.hasUserPickUp">用户自提</el-checkbox>

      </el-form-item>

      <Prodmon v-show="form.deliveryMode.hasShopDelivery" v-model="form.deliveryTemplateId" />

      <el-form-item label="商品规格">
        <el-button>商品规格</el-button>
      </el-form-item>

      <el-table :data="tablieData" style="width: 100%" border>
        <el-table-column header-align="center" align="center" prop="price" label="销售价" width="180">
          <template #default="scope">
            <el-input-number :min="0.01" v-model="scope.row.price" controls-position="right" size="large"
              :disabled="!scope.row.status" />
          </template>
        </el-table-column>
        <el-table-column header-align="center" align="center" prop="oriPrice" label="市场价" width="180">
          <template #default="scope">
            <el-input-number :disabled="!scope.row.status" :min="0.01" v-model="scope.row.oriPrice"
              controls-position="right" size="large" />
          </template>
        </el-table-column>
        <el-table-column header-align="center" align="center" prop="stocks" label="库存">
          <template #default="scope">
            <el-input-number :disabled="!scope.row.status" :min="0" v-model="scope.row.stocks" controls-position="right"
              size="large" />
          </template>
        </el-table-column>
        <el-table-column header-align="center" align="center" prop="weight" label="商品重量(kg)">
          <template #default="scope">
            <el-input :disabled="!scope.row.status" placeholder="Please input" v-model="scope.row.weight" />
          </template>
        </el-table-column>
        <el-table-column header-align="center" align="center" prop="volume" label="商品体积(m³)">
          <template #default="scope">
            <el-input :disabled="!scope.row.status" placeholder="Please input" v-model="scope.row.volume" />
          </template>
        </el-table-column>
        <el-table-column header-align="center" align="center" label="操作">
          <template #default="scope">
            <el-button type="text" size="small" @click="changeSkuStatus(`${scope.$index}`)" v-if="scope.row.status">禁用
            </el-button>
            <el-button type="text" size="small" @click="changeSkuStatus(`${scope.$index}`)" v-else>启用</el-button>
          </template>
        </el-table-column>
      </el-table>
      <br>
      <el-form-item label="产品详情" prop="content">
        <el-input v-model="textarea" :rows="2" type="textarea" placeholder="Please input" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submit">确定</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import { Plus } from '@element-plus/icons-vue'
import userStore from '../../../../store'
import { _get_produceC, get_groupList } from '../../../../api/class'
import { _add_produce } from '../../../../api/produce'
import type { UploadProps, UploadUserFile } from 'element-plus'
//@ts-ignore
import { treeDataTranslate } from '../../../../utils/tool'
import Prodmon from './prod-ymoney.vue'
//表单数据
const form = ref(
  {
    imgs: '',//图片
    status: 1,//状态
    prodName: '',//产品名称
    brief: '',//产品卖点
    skuList: ref([]) as any,//规格
    tagList: [] as any,//产品分组
    shopName: '',//详情
    deliveryMode: {//配送方式
      hasShopDelivery: false,//商家配送
      hasUserPickUp: false//用户自提
    },
    deliveryTemplateId: 0
  }
)
//表格数据
const tablieData = ref([{
  price: 0,//销售价
  status: 1,
  oriPrice: 0,//市场价
  stocks: 0,//库存
  weight: 0,//商品重量
  volume: 0//体积重量
}]) as any

// console.log(form.value.skuList = tablieData, 'ssssssssssssssssssss');

let tags = ref([]) as any
const { product } = userStore()
const fileList = ref<UploadUserFile[]>([])
const textarea = ref('')
const dialogImageUrl = ref('')
const dialogVisible = ref(false)
const getList = async (params: any) => {
  const res = await _get_produceC(params);
  product.classList = treeDataTranslate(res.data, 'categoryId', 'parentId')
  const result = await get_groupList(params)
  form.value.tagList = result.data.records
  console.log('====================================');
  console.log(tablieData._rawValue[0]);
  console.log('====================================');
  tags = result.data.records
  form.value.skuList = tablieData._rawValue[0]

  // console.log(tags);
}
getList({})


const handleRemove: UploadProps['onRemove'] = (uploadFile: any, uploadFiles: any) => {
  console.log(uploadFile, uploadFiles)
}
const handlePictureCardPreview: UploadProps['onPreview'] = (uploadFile: any) => {
  dialogImageUrl.value = uploadFile.url!
  dialogVisible.value = true
}

const category = ref({
  list: [],
  selected: [],
  props: {
    value: 'categoryId',
    label: 'categoryName'
  }
})
const handleCategoryChange = (val: any) => {
  // console.log(val);
}
//启用禁用
const changeSkuStatus = (tagIndex: any) => {
  tablieData.value[tagIndex].status = tablieData.value[tagIndex].status ? 0 : 1
}

const submit = async () => {
  form.value.skuList = tablieData._rawValue[0]
  await _add_produce({ ...form.value })
}
</script>

<style scoped lang="scss">
.mod-prod-info {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  background: #fff;
}
</style>