<template>
    <div class="mod-prod-info">
        <el-form :model="form" label-width="100px">
            <el-form-item label="产品图片" prop="imgs">
                <el-upload :file-list="imgArry" list-type="picture-card" :on-preview="handlePictureCardPreview"
                    :on-remove="handleRemove">
                    <el-icon>
                        <Plus />
                    </el-icon>
                </el-upload>
                <el-dialog v-model="dialogVisible">
                    <img class="imgs" :src="dialogImageUrl" alt="Preview Image" />
                </el-dialog>
            </el-form-item>
            <el-form-item label="状态" prop="status">
                <el-radio-group v-model="form.status">
                    <el-radio :label="1">上架</el-radio>
                    <el-radio :label="0">下架</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="产品分类" prop="categoryId">
                <el-col :span="8">
                    <el-cascader expand-trigger="hover" :options="product.classList" :props="category.props"
                        v-model="category.selected" change-on-select @change="handleCategoryChange">
                    </el-cascader>
                </el-col>
            </el-form-item>
            <el-form-item label="产品分组" prop="tagList">
                <el-col :span="8">
                    <el-select multiple style="width: 250px" placeholder="请选择" v-model="form.tagList">
                        <el-option v-for="item in tags" :key="item.id" :label="item.title" :value="item.id">
                        </el-option>
                    </el-select>
                </el-col>
            </el-form-item>
            <el-form-item label="产品名称" prop="prodName" :rules="[{ required: true, message: '产品名称不能为空' }]">
                <el-col :span="8">
                    <el-input v-model="form.prodName" placeholder="产品名称" maxlength="50"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="产品卖点" prop="brief">
                <el-col :span="8">
                    <el-input type="textarea" v-model="form.brief" :autosize="{ minRows: 2, maxRows: 4 }"
                        placeholder="产品卖点">
                    </el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="配送方式">
                <el-checkbox v-model="form.deliveryMode.hasShopDelivery">商家配送</el-checkbox>
                <el-checkbox v-model="form.deliveryMode.hasUserPickUp">用户自提</el-checkbox>
            </el-form-item>

            <Prodmon v-show="form.deliveryMode.hasShopDelivery" v-model="form.deliveryTemplateId" />

            <el-form-item label="商品规格">
                <el-button @click="isShowTagInput = !isShowTagInput">商品规格</el-button>
            </el-form-item>
            <skuList :isShowTagInput="isShowTagInput" />
            <el-table :data="tablieData" style="width: 100%" border>
                <el-table-column header-align="center" align="center" v-for="(item, index) in tablieData" :key="index"
                    :label="item.sku" v-if="tablieData.sku">
                    <template #default="scope">
                        {{ scope.row.properties[1] }}
                    </template>
                </el-table-column>
                <el-table-column header-align="center" align="center" prop="pic" label="sku图片" width="150px"
                    v-if="tablieData.sku">
                    <template #default="scope">
                        <img :src="scope.row.pic" alt="" class="tabImg">
                    </template>
                </el-table-column>
                <el-table-column header-align="center" align="center" prop="prodName" label="商品名称" width="180"
                    v-if="tablieData.sku">
                    <template #default="scope">
                        {{ scope.row.prodName }}
                    </template>
                </el-table-column>
                <el-table-column header-align="center" align="center" prop="price" label="销售价">
                    <template #default="scope">
                        <el-input-number v-model="scope.row.price" controls-position="right" size="large"
                            :disabled="!scope.row.status" />
                    </template>
                </el-table-column>
                <el-table-column header-align="center" align="center" prop="oriPrice" label="市场价">
                    <template #default="scope">
                        <el-input-number :disabled="!scope.row.status" v-model="scope.row.oriPrice"
                            controls-position="right" size="large" />
                    </template>
                </el-table-column>
                <el-table-column header-align="center" align="center" prop="stocks" label="库存">
                    <template #default="scope">
                        <el-input-number :disabled="!scope.row.status" v-model="scope.row.stocks"
                            controls-position="right" size="large" />
                    </template>
                </el-table-column>
                <el-table-column header-align="center" align="center" prop="weight" label="商品重量(kg)">
                    <template #default="scope">
                        <el-input :disabled="!scope.row.status" v-model="scope.row.weight" />
                    </template>
                </el-table-column>
                <el-table-column header-align="center" align="center" prop="volume" label="商品体积(m³)">
                    <template #default="scope">
                        <el-input :disabled="!scope.row.status" v-model="scope.row.volume" />
                    </template>
                </el-table-column>
                <el-table-column header-align="center" align="center" label="操作">
                    <template #default="scope">
                        <el-button type="text" size="small" @click="changeSkuStatus(`${scope.$index}`)"
                            v-if="scope.row.status">禁用
                        </el-button>
                        <el-button type="text" size="small" @click="changeSkuStatus(`${scope.$index}`)" v-else>启用
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <br>
            <el-form-item label="产品详情" prop="content">
                <el-input v-model="textarea" :rows="2" type="textarea" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submit">确定</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script lang="ts" setup>
import { onMounted, ref } from 'vue'
import { useRoute } from 'vue-router'
import { Plus } from '@element-plus/icons-vue'
import userStore from '../../../../store'
import { _get_produceC, get_groupList, get_TaggroupList } from '../../../../api/class'
import { _add_produce, _edit_produces, _img_produces, _edit_produce } from '../../../../api/produce'
import type { UploadProps, UploadUserFile } from 'element-plus'
// @ts-ignore
import { treeDataTranslate } from '../../../../utils/tool.js'
import Prodmon from './prod-ymoney.vue'
import skuList from './prod-sku.vue'
import modelpic from './model-pic.vue'

const Route = useRoute()
const EditList = ref({})
//表单数据
const form = ref(
    {
        imgs: '',//图片
        status: 1,//状态
        prodName: '',//产品名称
        brief: '',//产品卖点
        skuList: ref([]) as any,//规格
        tagList: [] as any,//产品分组
        shopName: '',//详情
        deliveryMode: {//配送方式
            hasShopDelivery: false,//商家配送
            hasUserPickUp: false//用户自提
        },
        deliveryTemplateId: 0
    }
)
// 商品规格
const isShowTagInput = ref<boolean>(false)
//表格数据
const tablieData = ref([{
    properties: '',//规格
    prodName: '',//名称]
    pic: '',//图片
    price: 0,//销售价
    status: 1,
    oriPrice: 0,//市场价
    stocks: 0,//库存
    weight: 0,//商品重量
    volume: 0,//体积重量
    sku: '',
    isDelete: 0,
    modelId: null,
    partyCode: null,
    prodId: 0,
    recTime: '',
    skuId: 0,
    skuName: '',
    updateTime: '',
    version: 0,
}]) as any
onMounted(() => {
    EditList.value = Route.query
    // console.log(EditList.value);
    // form.value.prodName = EditList.value.prodName 
})
const tableTitle = ref('')
const imgArry = ref([])
// console.log(form.value.skuList = tablieData, 'ssssssssssssssssssss');
const tags = ref([]) as any
const { product } = userStore()
const fileList = ref<any[]>([])
const textarea = ref('')
const dialogImageUrl = ref('')
const dialogVisible = ref(false)
const getList = async (params: any) => {
    const res = await _get_produceC(params);
    product.classList = treeDataTranslate(res.data, 'categoryId', 'parentId')
    const result = await get_TaggroupList(params)
    // console.log(result,'resultresultresultresultresult');

    form.value.tagList = result.data
    tags.value = result.data //表格分类
    // console.log(tags.value, 'tagstagstagstagstags');

    form.value.skuList = tablieData._rawValue[0]
    const resulte = await _edit_produces(EditList.value)
    //@ts-ignore
    form.value = resulte.data
    //@ts-ignore
    form.value.deliveryMode = JSON.parse(resulte.data.deliveryMode)
    //@ts-ignore
    tablieData.value[0] = resulte.data
    // tablieData.value[0].price = resulte.data.price
    // //@ts-ignore
    // tablieData.value[0].oriPrice = resulte.data.oriPrice
    // //@ts-ignore
    // tablieData.value[0].stocks = resulte.data.totalStocks
    // //@ts-ignore
    // tablieData.value[0].weight = resulte.data.skuList[0].weight
    // //@ts-ignore
    // tablieData.value[0].volume = resulte.data.skuList[0].volume
    // //@ts-ignore
    // tablieData.value[0].pic = resulte.data.skuList[0].pic
    // //@ts-ignore
    // tablieData.value[0].properties = resulte.data.skuList[0].properties.split(':')
    // //@ts-ignore
    // tablieData.value[0].sku = resulte.data.skuList[0].properties.split(':')[0]
    // //@ts-ignore
    // tablieData.value[0].prodName = resulte.data.skuList[0].prodName
    // //@ts-ignore
    // tablieData.value[0].isDelete = resulte.data.skuList[0].isDelete
    // //@ts-ignore
    // tablieData.value[0].modelId = resulte.data.skuList[0].modelId
    // //@ts-ignore
    // tablieData.value[0].partyCode = resulte.data.skuList[0].partyCode
    // //@ts-ignore
    // tablieData.value[0].prodId = resulte.data.skuList[0].prodId
    // //@ts-ignore
    // tablieData.value[0].recTime = resulte.data.skuList[0].recTime
    // //@ts-ignore
    // tablieData.value[0].skuId = resulte.data.skuList[0].skuId
    // //@ts-ignore
    // tablieData.value[0].skuName = resulte.data.skuList[0].skuName
    // //@ts-ignore
    // tablieData.value[0].updateTime = resulte.data.skuList[0].updateTime
    // //@ts-ignore
    // tablieData.value[0].version = resulte.data.skuList[0].version
    // // @ts-ignore
    // tablieData.value[0].prodName = resulte.data.skuList[0].prodName

    fileList.value.push(form.value.imgs.split(','))

    imgArry.value = fileList.value[0].map((item: any) => {
        return {
            name: item,
            url: `http://img-test.gz-yami.com/` + item
        }
    })

}
getList({})
// console.log(fileList.value, 'fileList.valuefileList.valuefileList.valuefileList.valuefileList.value');

tableTitle.value = tablieData.value[0].properties[0]

const handleRemove: UploadProps['onRemove'] = (uploadFile: any, uploadFiles: any) => {
    // console.log(uploadFile, uploadFiles)
}
const handlePictureCardPreview = (uploadFile: any) => {
    dialogImageUrl.value = uploadFile.url
    dialogVisible.value = true
}

const category = ref({
    list: [],
    selected: [],
    props: {
        value: 'categoryId',
        label: 'categoryName'
    }
})
const handleCategoryChange = (val: any) => {
    // console.log(val);

}
//启用禁用
const changeSkuStatus = (tagIndex: any) => {
    tablieData.value[tagIndex].status = tablieData.value[tagIndex].status ? 0 : 1
}

const submit = async () => {
    // String(form.value.deliveryMode)
  await _edit_produce({...form.value})
}
</script>
<style scoped lang="scss">
.mod-prod-info {
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    background: #fff;
}

.tabImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.imgs {
    width: 100%;
    height: 100%;
}
</style>