<template>
    <div>
        <el-form-item label="运费设置" :rules="[{ required: true, message: '运费模板不能为空' }]">
            <el-select v-model="formInline.transportId" placeholder="请选择"
                @change="changeTransport(formInline.transportId)">
                <el-option v-for="item in formInline" :key="item.transportId" :label="item.transName"
                    :value="item.transportId" @click="flag = true" />
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-table :data="tableData" style="width: 100%" v-show="flag">
                <el-table-column label="配送区域" width="180">所有区域</el-table-column>
                <el-table-column label="首件(个)" width="180">
                    <template #default="scope">
                        {{ tableData.firstPiece }}
                    </template>
                </el-table-column>
                <el-table-column prop="firstFee" label="运费（元）">
                    <template #default="scope">
                        {{ tableData.firstFee }}
                    </template>
                </el-table-column>
                <el-table-column prop="continuousPiece" label="续件（个）">
                    <template #default="scope">
                        {{ tableData.continuousPiece }}
                    </template>
                </el-table-column>
                <el-table-column prop="continuousFee" label="续费（元）">
                    <template #default="scope">
                        {{ tableData.continuousFee }}
                    </template>
                </el-table-column>

            </el-table>
        </el-form-item>
    </div>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue'
import { _getfeightList } from '../../../../api/shop'
import { _edit_transport } from '../../../../api/produce'
const transportId = ref('')
let formInline = ref([]) as any
const tableData = ref([
    {
        transportId: 0,
        firstPiece: 1,//首件
        firstFee: 0,//运费
        continuousPiece: 1,//续件
        continuousFee: 0 //续元
    }

]) as any
const flag = ref(false)
const changeTransport = async (transportId: number) => {
    console.log(transportId);
    const result = await _edit_transport(transportId)
    // console.log(result.data.transfees, 'resultresultresultresultresult');
    // tableData.value
    //@ts-ignore
    // tableData.value = result.data.transfees[0]
    tableData.value.firstPiece = result.data.transfees[0].firstPiece
    //@ts-ignore
    tableData.value.firstFee = result.data.transfees[0].firstFee
    //@ts-ignore
    tableData.value.continuousPiece = result.data.transfees[0].continuousPiece
    //@ts-ignore
    tableData.value.continuousFee = result.data.transfees[0].continuousFee
    console.log(tableData.value);

}
console.log(tableData.value.firstPiece);

const getList = async () => {
    const res = await _getfeightList()
    formInline.value = res.data.records
    // console.log(formInline.value, 'llllllllllllllllllllll');
    // const result = await _edit_transport(res.data.records)
    // console.log(result, 'resultresultresultresultresult');
}
getList()


</script>
<style>

</style>