<template>
    <div class="sku">
        <avue-crud :data="product.skuList" :option="tableOption" @search-change="searchs" @search-reset="resetChange"
            v-model:page="page" @size-change="sizeChange" @current-change="currentChange">
            <template #menu-left="{}">
                <el-button type="primary" color='#02A1E9' icon="el-icon-plus" @click="addGroup">新增</el-button>
            </template>
            <template #prodPropValues="scope">
                <el-tag v-for="item in scope.row.prodPropValues" :key="scope.propId">{{ item.propValue }}</el-tag>
            </template>
            <template #menu="{ size, row }">
                <el-button type="primary" icon="el-icon-edit" @click="editGroup(row)">编辑</el-button>

                <el-button type="danger" icon="el-icon-delete" @click="del(row.propId)">删除</el-button>
            </template>
        </avue-crud>
        <!-- form -->
        <el-dialog v-model="dialogVisible" :title="flag === true ? '新增' : '编辑'" width="700px">
            <el-table :data="tableData" style="width: 100%" border>
                <el-table-column header-align="center" align="center" prop="propName" label="属性名称">
                    <template #default="scope">
                        <el-input placeholder="请输入内容" v-model="scope.row.propName" clearable></el-input>
                    </template>
                </el-table-column>

                <el-table-column header-align="center" align="center" prop="prodPropValues" label="属性值">
                    <template #default="scope">
                        <el-col :span="12" v-for="(item, index) in scope.row.prodPropValues" :key="index">
                            <el-input placeholder="请输入内容" v-model="item.propValue" @clear="clearProdPropValues"
                                clearable></el-input>
                        </el-col>
                        <el-col :span="4">
                            <el-button type="primary" icon="el-icon-circle-plus" @click="addInput(tableData)">
                            </el-button>
                        </el-col>
                    </template>
                </el-table-column>
            </el-table>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="dialogVisible = false">取消</el-button>
                    <el-button type="primary" @click="comfir">
                        确定
                    </el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script setup lang='ts'>
import { _get_spec, _add_spec, _edit_spec, _del_spec } from '../../../../api/spec'
import { ref, reactive } from 'vue'
import { tableOption } from '../../../../crud/prod/spec.js'
import userStore from '../../../../store'
import { ElMessage, ElMessageBox } from 'element-plus'
import { log } from 'console'
const { product } = userStore()
const flag = ref(false)
const dialogVisible = ref(false)
const tableData = ref([{ propId: 0, propName: '', prodPropValues: [{ valueId: 0 }] }]) as any
//分页
const page = ref({
    currentPage: 1, //当前页数
    pageSize: 10, //每页显示条目个数
    total: 0  //总条目数
})
const getList = async (params: any) => {
    const res = await _get_spec(params);
    console.log(res);
    product.skuList = res.data.records
    product.skuList.forEach((item: any) => {
        product.skuListItem = item.prodPropValues
    })
    page.value.total = res.data.total
    page.value.pageSize = res.data.size
    page.value.currentPage = res.data.current
}
getList({ size: page.value.pageSize, current: page.value.currentPage })

//搜索
const searchs = (params: any, done: any) => {
    console.log(params);
    done();
    getList(params)
}
// 清空搜索栏
const resetChange = (item: any) => {
    console.log(item);
}
// 点击每页多少条
const sizeChange = (val: number) => {
    page.value.pageSize = val;
    getList({ size: val })
}
//点击页码
const currentChange = (val: number) => {
    page.value.currentPage = val;
    getList({ current: val })
}
//删除
const del = (id: number) => {
    ElMessageBox.confirm(
        '确定进行删除操作？',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    ).then(async () => {
        await _del_spec(id)
        getList({})
        ElMessage({
            type: 'success',
            message: '删除成功',
        })
    }).catch(() => {

    })
}

//新增
const addGroup = () => {
    console.log(tableData._rawValue);
    dialogVisible.value = true
    flag.value = true
    tableData._rawValue[0].propName = ''
    tableData._rawValue[0].propId = 0
    tableData._rawValue[0].prodPropValues = [{}]
}
//编辑
const editGroup = (row: any) => {
    console.log(row.prodPropValues, 'hjhjhjhjhj');
    dialogVisible.value = true
    flag.value = false
    tableData._rawValue[0].propName = row.propName
    tableData._rawValue[0].propId = row.propId
    tableData._rawValue[0].prodPropValues = row.prodPropValues
}
//确认
const comfir = async () => {
    console.log(tableData._rawValue, 'sdfsdfsdfsd');

    if (flag.value) {
        //新增\
        await _add_spec({ ...tableData._rawValue[0] })

    } else {
        await _edit_spec({ ...tableData._rawValue[0] })
    }
    dialogVisible.value = false
    getList({})
}
//清空属性值
const clearProdPropValues = () => {
    if (tableData._rawValue[0].prodPropValues.length === 1) {
        return
    }
    for (let i = 0; i < tableData._rawValue[0].prodPropValues.length; i++) {
        const element = tableData._rawValue[0].prodPropValues[i]
        if (!element.propValue) {
            tableData._rawValue[0].prodPropValues.splice(i, 1)
        }
    }
}
//添加input框
const addInput = (val: any) => {
    console.log('====================================');
    console.log(val[0]);
    console.log('====================================');
    console.log(val[0].prodPropValues[val[0].prodPropValues.length - 1].propValue, 'sdfsdfsdfsd');
    if (val[0].prodPropValues[val[0].prodPropValues.length - 1].propValue) {
        tableData._rawValue[0].prodPropValues.push({})
    }
}
</script>

<style lang='scss' scoped>
.sku {
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;

    form {
        width: 100%;
        display: flex;
        font-size: 12px !important;

        .el-form-item {
            margin-right: 10px;
        }
    }

    .sku_table {
        margin-top: 10px;
    }
}

.el-form {
    width: 100%;
    font-size: 12px !important;
    display: block !important;

    .el-form-item {
        margin-right: 10px;
    }
}

.el-table {
    width: 100%;
    height: 100%;

    .el-table-column {
        text-align: center;
    }
}
</style>