<template>
  <view class="index">
    <view class="uni-form-item">
      <view class="title">手机号码:</view>
      <input
        class="uni-input"
        type="number"
        placeholder="请输入手机号"
         maxlength="11"
        :value="phone"
        @input="setphone"
      />
    </view>
    <view class="uni-form-item">
      <view class="title">验证码:</view>
      <input
        class="uni-input"
        placeholder="请输入验证码"
        :value="cation"
        @input="setcation"
      />
      <p @click="getcation">获取验证码</p>
    </view>
    <button
      class="btn"
      type="primary"
      :disabled="phone !== '' && cation !== '' ? false : true"
    >
      确定
    </button>
  </view>
</template>

<script>
import {getPhone} from '@/services/user'
export default {
  data() {
    return {
      phone: "",
      cation: "",
    };
  },
  methods: {
    showLoading(title) {
      uni.showToast({
        title: title,
        icon: "none",
        duration: 2000,
      });
    },
    setphone(e) {
      this.phone = e.target.value;
    },
    setcation(e) {
      this.cation = e.target.value;
    },
    //获取验证码
   async getcation() {
      if (this.phone === "") {
        this.showLoading("请输入手机号");
      } else if(!(/^1[3-9]\d{9}$/).test(this.phone)){
        this.showLoading("请输入正确的手机号");
      }else{
        const res=await getPhone({mobile:this.phone})
        if (res) {
          this.showLoading(res);
        }
      }
    },
  },
};
</script>

<style scoped>
.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e9eaec;
}
.uni-form-item {
  width: 100%;
  height: 100rpx;
  display: flex;
  align-items: center;
  border-bottom: 1rpx #e9eaec solid;
  background: #fff;
}
.uni-form-item p {
  color: rgba(62, 179, 112);
}
.title {
  width: 25%;
  display: flex;
  justify-content: center;
}
.btn {
  width: 90%;
  margin-top: 100rpx;
  border-radius: 60rpx;
}
</style>