<template>
  <view class="index">
    <view class="index_header">
      <view
        class="header_item"
        v-for="(item, i) in List"
        :key="i"
        @click="Tab(i)"
      >
        <p :class="active === i ? 'active' : ''">
          {{ item }}
        </p>
      </view>
    </view>
    <view class="index_main">
      <view v-if="TabList.length" class="index_list">
        <view v-for="(item, i) in TabList" :key="i" class="index_main_item">
          <!-- 订单头部 -->
          <view class="index_main_item_nav">
            <p>订单编号: {{ item.orderNumber }}</p>
            <p v-if="item.status === 1" class="alltext">待支付</p>
            <p v-else-if="item.status === 2">待发货</p>
            <p v-else-if="item.status === 3">待收货</p>
            <p v-else-if="item.status === 5">已完成</p>
            <h5 v-else-if="item.status === 6" class="alltext1">
              <p>已取消</p>
              |
              <image
                src="@/static/my/clear-his.png"
                mode=""
                @click="deletList(item.orderNumber)"
              />
            </h5>
          </view>
          <!-- 订单中间 -->
          <view
            class="index_main_item_connect"
            @click="upPage(item.orderNumber)"
          >
            <view class="index_main_item_connect_head">
              <view class="index_main_item_connect_head_img">
                <image :src="item.orderItemDtos[0].pic" mode="aspectFit" />
              </view>
              <view class="connect">
                <p class="text">{{ item.orderItemDtos[0].prodName }}</p>
                <view class="connect_con">{{
                  item.orderItemDtos[0].skuName
                }}</view>
                <view class="connect_text">
                  <p>￥{{ item.orderItemDtos[0].price }}</p>
                  <p>x{{ item.orderItemDtos[0].prodCount }}</p>
                </view>
              </view>
            </view>
            <view class="index_main_item_connect_foot">
              <p>
                共{{ item.orderItemDtos[0].prodCount }}件商品&nbsp;合计:
                &nbsp;&nbsp;￥{{ item.actualTotal }}
              </p>
            </view>
          </view>
          <!-- 订单尾部 -->
          <view class="index_main_item_footer">
            <p>
              <button
                class="btn"
                v-if="item.status !== 6"
                @click="Cancelorder(item.orderNumber)"
              >
                取消订单
              </button>
              <button class="allbutton">再次购买</button>
              <button
                class="allbutton"
                v-if="item.status !== 6"
                @click="subPay(item.orderNumber)"
              >
                付款
              </button>
            </p>
          </view>
        </view>
      </view>
      <view v-else class="wu">还没有任何相关订单</view>
    </view>
    <view v-if="show" class="payment">
      <view class="payment-div"> 123 </view>
    </view>
  </view>
</template>

<script>
import { send_order, order_pay } from "@/services/settlement";
import { getTabarr, getOrderNumber, deleteTabarr } from "@/services/user";
export default {
  data() {
    return {
      List: ["全部", "待支付", "代发货", "待收货", "已完成"],
      active: 0,
      TabList: [],
      show: false,
    };
  },
  async onLoad(option) {
    this.active = Number(option.id);
    await this.getTabList();
    this.show = false;
  },
  methods: {
    //点击tab切换   status
    Tab(index) {
      this.active = index;
      this.getTabList();
    },
    //获取数据
    async getTabList() {
      const { records } = await getTabarr({ status: this.active });
      // console.log(records);
      this.TabList = records;
    },
    //点击取消订单
    Cancelorder(orderNumber) {
      const that = this;
      uni.showModal({
        title: "要取消此订单",
        content: "",
        mask: true,
        showCancel: true,
        success: async ({ confirm, cancel }) => {
          if (confirm) {
            await getOrderNumber(orderNumber);
            that.getTabList();
          }
        },
      });
    },
    //点击删除订单
    deletList(orderNumber) {
      const that = this;
      uni.showModal({
        title: "确定要删除此订单",
        content: "",
        mask: true,
        showCancel: true,
        success: async ({ confirm, cancel }) => {
          if (confirm) {
            await deleteTabarr(orderNumber);
            that.getTabList();
          }
        },
      });
    },
    // 支付订单
    async subPay(orderNumber) {
      /*   // 获取订单号
      const result = await send_order({
        shopId: this.shopId,
      }); */
      // 支付信息
      const res = await order_pay({
        orderNumbers: orderNumber,
        payType: 1,
      });
      // 请求支付
      uni.requestPayment({
        appId: res.appId,
        timeStamp: res.timeStamp,
        nonceStr: res.nonceStr,
        package: res.packageValue,
        signType: res.signType,
        paySign: res.paySign,
        success: (result) => {
          uni.showToast({
            icon: "success",
            title: "支付成功",
          });
        },
        fail: (error) => {
          uni.showToast({
            icon: "error",
            title: "支付失败",
          });
        },
      });
    },
    //点击再次购买跳详情
    details(ids) {
      console.log(this.TabList);
      this.$goPage({
        url: "/detailPkg/detail/index",
        query: {
          id: ids,
        },
      });
    },
    //点击去订单详情
    upPage(id) {
      this.$goPage({
        url: "/pages/my/comps/OrderDeatil/index",
        query: { id: id },
      });
    },
  },
};
</script>

<style scoped>
.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.index_header {
  width: 100%;
  height: 100rpx;
  display: flex;
  border-bottom: 1rpx #e9eaec solid;
}
.header_item {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header_item p {
  height: 99rpx;
  display: flex;
  align-items: center;
}
.active {
  border-bottom: 4rpx red solid;
  color: red;
}

.index_main {
  flex: 1;
}
.wu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}
.index_list {
  width: 100%;
  height: 98%;
  background: #e9eaec;
}
.index_main_item {
  width: 100%;
  height: 500rpx;
  background: #fff;
  margin-top: 20rpx;
}
.index_main_item_nav {
  width: 100%;
  height: 70rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index_main_item_nav p {
  margin: 0 20rpx;
}
.index_main_item_connect {
  width: 100%;
  height: 320rpx;
}
.index_main_item_connect_head {
  width: 100%;
  height: 240rpx;
  display: flex;
  background: #eff0f3;
}
.index_main_item_connect_head_img {
  margin: 20rpx;
}
.index_main_item_connect_head_img image {
  width: 200rpx;
  height: 200rpx;
}
.connect {
  margin: 20rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.connect_con {
  font-size: 20rpx;
  color: #cccdcf;
}
.connect_text {
  width: 100%;
  height: 50rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.index_main_item_connect_foot {
  width: 100%;
  height: 80rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2rpx #cccdcf solid;
}
.index_main_item_connect_foot p {
  margin-right: 20rpx;
}
.index_main_item_footer {
  width: 100%;
  height: 100rpx;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.index_main_item_footer p {
  display: flex;
}
.index_main_item_footer p button {
  height: 50rpx;
  border-radius: 50rpx;
  font-size: 25rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-right: 15rpx;
}
.text {
  font-size: 25rpx;
}
.alltext {
  color: red;
  font-size: 24rpx;
}
.btn {
  border: #e9eaec 1rpx solid;
}
.allbutton {
  color: red;
  border: red 1rpx solid;
}
.alltext1 {
  color: #cccdcf;
  font-size: 24rpx;
  height: 100%;
  display: flex;

  align-items: center;
}
.alltext1 image {
  width: 40rpx;
  height: 40rpx;
}
.payment {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 99;
}
.payment-div {
  width: 400rpx;
  height: 400rpx;
  background: #fff;
  border-radius: 20rpx;
}
</style>