/<template>
  <view>
    <view v-if="collList.length < 0" class="index">暂无商品</view>
    <view v-else class="coll_connect">
      <view v-for="(item, i) in collList" :key="i" class="coll_connect_item" @click="godetail(item.prodId)">
          <img :src="item.pic" alt="" />
          <h3>{{item.prodName}}</h3>
          <p>￥{{ item.price }}</p>
      </view>
    </view>
  </view>
</template>

<script>
import { getcollList } from "../../../../services/user";
export default {
  data() {
    return {
      collList: [],
    };
  },
  async onLoad() {
    await this.getList();
  },
  methods: {
    showLoading() {
      uni.showToast({
        icon: "loading",
        mask: true,
      });
    },
    async getList() {
      this.showLoading();
      const { records } = await getcollList();
      this.collList = records;
    },
    godetail(ids) {
      this.$goPage({
        url: "/detailPkg/detail/index",
        query: {
          id: ids,
        },
      });
    },
  },
};
</script>

<style scoped>
.index{
  width: 100%;
  height: 300rpx;
  display: flex;
  justify-content:center;
  align-items:flex-end;
}
.coll_connect {
  width: 100%;
  height: 100%;
}
.coll_connect_item {
  width: 45%;
  height: 520rpx;
  float: left;
  margin: 18rpx;
}
.coll_connect_item img {
  width: 100%;
  height: 64%;
}
.coll_connect_item h3{
  margin: 20rpx 0;
}
.coll_connect_item p{
  font-weight: bold;
  color: red;
}
</style>