<template>
    <div class="group">
        <div class="group_table">
            <avue-crud :data="product.groupList" :option="tableOption" v-model:page="page" @search-change="searchs"
                @search-reset="resetChange" @size-change="sizeChange" @current-change="currentChange">
                <template #menu-left="{}">
                    <el-button type="primary" color='#02A1E9' icon="el-icon-plus" @click="addGroup">新增
                    </el-button>
                </template>
                <template #status="scope">
                    <el-tag v-if="scope.row.status === 0" size="small" type="danger">禁用</el-tag>
                    <el-tag v-else size="small">正常</el-tag>
                </template>
                <template #isDefault="scope">
                    <el-tag v-if="scope.row.isDefault === 0" size="small">自定义类型</el-tag>
                    <el-tag v-else size="small">默认类型</el-tag>
                </template>
                <template #menu="{ size, row }">
                    <el-button type="primary" icon="el-icon-edit" @click="editGroup(row)">编辑</el-button>

                    <el-button type="danger" icon="el-icon-delete" @click="del(row.id)">删除</el-button>
                </template>
            </avue-crud>
            <div class="group_table_pagination">

            </div>
        </div>
        <!-- form -->
        <el-dialog v-model="dialogVisible" :title="flag === true ? '新增' : '编辑'" width="700px">
            <el-form :model="form" label-width="120px">
                <el-form-item label="标签名称">
                    <el-input v-model="form.title" />
                </el-form-item>
                <el-form-item label="状态">
                    <el-radio-group v-model="form.status">
                        <el-radio label="1">正常</el-radio>
                        <el-radio label="0">禁用</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="列表样式">
                    <el-radio-group v-model="form.style">
                        <el-radio label="0">一列一个</el-radio>
                        <el-radio label="1">一列两个</el-radio>
                        <el-radio label="2">一列三个</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="排序">
                    <el-input v-model="form.seq" />
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="dialogVisible = false">取消</el-button>
                    <el-button type="primary" @click="comfir">
                        确定
                    </el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script setup lang='ts'>
import { tableOption } from '../../../../crud/prod/prodTag'
import { ref, reactive } from 'vue'
import { get_groupList, del_groupList, add_groupList, edit_groupList } from '../../../../api/group'
import userStore from '../../../../store'
import { PROUPLIST } from '../../../../types/product/group'
import { ElMessage, ElMessageBox } from 'element-plus'
const flag = ref(false)
const dialogVisible = ref(false)

const onSubmit = () => {
    console.log('submit!')
}
const { product } = userStore()
let total = product.groupList.length
//分页
const page = ref({
    currentPage: 1, //当前页数
    pageSize: 10, //每页显示条目个数
    total: 0  //总条目数
})
//渲染
const getList = async (params: any) => {
    const res = await get_groupList(params)
    product.groupList = res.data.records
    page.value.total = res.data.total
    page.value.pageSize = res.data.size
    page.value.currentPage = res.data.current
}
getList({ size: page.value.pageSize, current: page.value.currentPage })
//搜索
const searchs = (params: any, done: any) => {
    console.log(params);
    done();
    getList(params)
}
// 清空搜索栏
const resetChange = (item: any) => {
    console.log(item);
}
// 点击每页多少条
const sizeChange = (val: number) => {
    page.value.pageSize = val;
    getList({ size: val })
}
//点击页码
const currentChange = (val: number) => {
    page.value.currentPage = val;
    getList({ current: val })
}
//删除
const del = (id: number) => {
    ElMessageBox.confirm(
        '确定进行删除操作？',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    ).then(async () => {
        await del_groupList(id)
        getList({})
        ElMessage({
            type: 'success',
            message: '删除成功',
        })
    }).catch(() => {

    })
}
const form = reactive({
    title: '', //标签名称
    style: '0',//样式
    status: '0',//状态
    seq: '',//排序
    id: '',
})
//新增
const addGroup = () => {
    dialogVisible.value = true
    flag.value = true
    form.title = '',
        form.style = '0',
        form.status = '1',
        form.seq = ''
}
//编辑
const editGroup = (row: any) => {
    console.log(row);
    dialogVisible.value = true
    flag.value = false
    form.title = row.title
    form.style = String(row.style)
    form.status = String(row.status)
    form.seq = row.seq
    form.id = row.id
}
//确认
const comfir = async () => {
    if (flag.value) {
        //新增\
        await add_groupList({ ...form })
    } else {
        await edit_groupList({ ...form })
    }
    dialogVisible.value = false
    getList({})
}
</script>

<style lang='scss' scoped>
.group {
    width: 100%;

    padding: 2px;
    box-sizing: border-box;

    form {
        width: 100%;
        display: flex;
        font-size: 12px !important;

        .el-form-item {
            margin-right: 10px;
        }
    }

    .avue-crud {
        padding: 10px;
    }

    .group_table {
        margin-top: 10px;

        .group_table_pagination {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

svg {
    margin-right: 5px;
}

.el-form {
    width: 100%;
    font-size: 12px !important;
    display: block !important;

    .el-form-item {
        margin-right: 10px;
    }
}
</style>