<template>
  <div>
    <avue-crud :data="system.canshulist" :option='tableOption' v-model:page="page" @search-change="searchChange"
      @selection-change="selectionChange" @on-load="getlist" @size-change="sizeChange" @current-change="currentChange">
      <template #menu-left="{}">
        <el-button type="primary" color='#02A1E9' icon="el-icon-plus" @click="addcanshu">新增</el-button>
        <el-button type="danger" color='#fab6b6' @click="deleteHandle(null)">批量删除</el-button>
      </template>
      <template #menu="{ size, row }">
        <el-button type="primary" icon="el-icon-edit" @click.stop="editHandle(row)">编辑</el-button>

        <el-button type="danger" icon="el-icon-delete" @click.stop="deleteHandle(row.id)">删除</el-button>
      </template>
    </avue-crud>
    <el-dialog :title='flag ? "新增" : "编辑"' v-model="addVisible">
      <el-form :model="dataForm" :rules="dataRule" @keyup.enter.native="dataFormSubmit()" label-width="120px">
        <el-form-item label="参数名" prop="paramKey">
          <el-input v-model="dataForm.paramKey" placeholder="参数名"></el-input>
        </el-form-item>
        <el-form-item label="参数值" prop="paramValue">
          <el-input v-model="dataForm.paramValue" placeholder="参数值"></el-input>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
          <el-input v-model="dataForm.remark" placeholder="备注"></el-input>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取消</el-button>
        <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script setup lang='ts'>
import { ref, reactive } from 'vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import { tableOption } from '../../../../crud/sys/config'
import userStore from '../../../../store'
import { del_canshu, add_canshu, edit_canshu } from "../../../../api/system";
const { system } = userStore()
const page = ref({
  total: system.canshutotal, // 总页数
  currentPage: 1, // 当前页数
  pageSize: 10 // 每页显示多少条
})
const getlist = async (params: any) => {
  await system.getcanshuAction({ ...params, ...page.value })
}
// 每页显示多少天
const sizeChange = (val: number) => {
  page.value.pageSize = val
  getlist({ size: val })
}
// 改变当前页
const currentChange = (val: number) => {
  page.value.currentPage = val
  getlist({ current: val })
}
// 筛选
const searchChange = (params: any, done: any) => {
  done();
  getlist(params)
}
// 选中的数组
let dataListSelections = reactive([])
// 选中 全选
const selectionChange = (val: any) => {
  dataListSelections = val
}
// 删除
const deleteHandle = (id: any) => {
  let ids = id ? [id] : dataListSelections.map((item: any) => {
    return item.id
  })
  ElMessageBox.confirm(
    '确定进行[删除]操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      let res: any = await del_canshu(ids)
      if (res.status === 200) {
        ElMessage({
          type: 'success',
          message: '删除成功',
        })
        getlist({})
      }
      else {
        ElMessage({
          type: 'info',
          message: '删除失败',
        })
      }
    })
}
// 弹框
let flag = ref(false)
let addVisible = ref(false)
const dataForm = reactive({
  id: 0,
  paramKey: '',
  paramValue: '',
  remark: '',
});
// 表单校验规则
const dataRule = reactive({
  paramKey: [
    { required: true, message: "参数名不能为空", trigger: "blur" },
  ],
  paramValue: [
    { required: true, message: "参数值不能为空", trigger: "blur" },
  ],
})
// 新增
const addcanshu = () => {
  addVisible.value = true;
  flag.value = true;
  dataForm.paramKey = '';
  dataForm.paramValue = '';
  dataForm.remark = '';
}
//编辑
const editHandle = (row: any) => {
  addVisible.value = true;
  flag.value = false;
  dataForm.id = row.id;
  dataForm.paramKey = row.paramKey;
  dataForm.paramValue = row.paramValue;
  dataForm.remark = row.remark;
}
// 提交
const dataFormSubmit = async () => {
  if (flag.value) {
    let res: any = await add_canshu({
      paramKey: dataForm.paramKey,
      paramValue: dataForm.paramValue,
      remark: dataForm.remark,
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '新增成功',
      })
      getlist({})
    }
    else {
      ElMessage({
        type: 'info',
        message: '新增失败',
      })
    }
  } else {
    let res: any = await edit_canshu({
      id: dataForm.id,
      paramKey: dataForm.paramKey,
      paramValue: dataForm.paramValue,
      remark: dataForm.remark,
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '编辑成功',
      })
      getlist({})
    }
    else {
      ElMessage({
        type: 'info',
        message: '编辑失败',
      })
    }
  }
  getlist({})
  addVisible.value = false;
}
</script>

<style>

</style>