<template>
  <div class="notice">
    <main>
      <avue-crud :option="tableOption" :data="shop.noticeList" v-model:page="page" @size-change="sizeChange"
        @current-change="currentChange" @search-change="Search">
        <!-- 新增按钮 -->
        <template #menu-left="{ size }">
          <el-button type="primary" @click="addList"><span>+</span> 新增</el-button>
        </template>
        <!-- 内容 -->
        <template #status="scope">
          <el-tag v-if="scope.row.status === 1">公布</el-tag>
          <el-tag v-else type="danger">撤销</el-tag>
        </template>
        <template #isTop="scope">
          <el-tag v-if="scope.row.isTop === 1">是</el-tag>
          <el-tag v-else type="danger">否</el-tag>
        </template>
        <!-- 操作 -->
        <template #menu="{ row, index, size }">
          <el-button type="primary" :size="size" icon="el-icon-edit" @click="updateList(row)">编辑
          </el-button>
          <el-button type="danger" icon="el-icon-delete" @click="rowDel(row)">删除
          </el-button>
        </template>
      </avue-crud>
    </main>
    <!-- 弹窗 -->
    <el-dialog v-model="dialogVisible" :title="flag ? '新增' : '编辑'" width="50%">
      <span>
        <el-form v-model="form" label-width="120px">
          <el-form-item label="公告标题">
            <el-input v-model="form.title" />
          </el-form-item>
          <el-form-item label="状态">
            <el-radio-group v-model="form.status">
              <el-radio label="1">公布</el-radio>
              <el-radio label="0">撤销</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="置顶">
            <el-radio-group v-model="form.isTop">
              <el-radio label="1">是</el-radio>
              <el-radio label="0">否</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="公告内容">
            <el-input v-model="form.content" type="textarea" />
          </el-form-item>
        </el-form>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button type="primary" @click="confirm">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script setup lang="ts">
import { ref, reactive } from "vue";
import { _getnoticeList, _deletenoticeList, _addnoticeList ,_updatenoticeList} from '../../../../api/shop'
import userStore from '../../../../store'
import { tableOption } from '../../../../crud/shop/notice'
import { ElMessage, ElMessageBox } from 'element-plus'
const { shop } = userStore()
let page = ref({
  total: 0,
  currentPage: 1,
  pageSize: 10,
})
//分页
const sizeChange = (val: number) => {
  page.value.pageSize = val
  getList({ size: val })
}
const currentChange = (val: number) => {
  page.value.currentPage = val
  getList({ current: val })
}
//获取数据
const getList = async (query: any) => {
  const res = await _getnoticeList({ ...query, size: page.value.pageSize, current: page.value.currentPage });
  shop.noticeList = res.data.records
  page.value.total = res.data.total
  page.value.currentPage = res.data.current
  page.value.pageSize = res.data.size
}
getList({})
//搜索
const Search = (params: any, done: () => void) => {
  getList({ ...params })
  done();
}
//删除
const rowDel = async (row: any) => {
  ElMessageBox.confirm(
    '确定要进行删除操作?',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      await _deletenoticeList(row.id)
      getList({});
      ElMessage({
        type: 'success',
        message: '删除成功',
      })
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: '取消删除',
      })
    })

}
let dialogVisible = ref(false)
let flag = ref(false)
const form = reactive({
  title: '',
  status: '0',
  isTop: '0',
  content: '',
  id:0,
})
//新增
const addList = () => {
  dialogVisible.value = true
  flag.value = true
  form.title=''
  form.status='0'
  form.isTop='0'
  form.content=''
  form.id=0
}
//编辑
const updateList = (row: any) => {
  // console.log(row); 
  dialogVisible.value = true
  flag.value = false
  form.title=row.title
  form.status=String(row.status)
  form.isTop=String(row.isTop)
  form.content=row.content
  form.id=row.id
}
//点击确定按钮
const confirm = async () => {
  //新增
  if (flag.value) {
    await _addnoticeList({ ...form })
  } else {//编辑
    // console.log(form);
    await _updatenoticeList({...form})
  }
  dialogVisible.value = false;
  getList({});
}
</script>

<style lang="scss" scoped>
.notice {
  width: 100%;
  height: 100%;

  main {
    padding: 15px;
  }
}
</style>