<template>
    <div class="index">
        <main>
            <avue-crud :option="tableOption" :data="shop.searchList" v-model:page="page" @size-change="sizeChange"
                @current-change="currentChange" @search-change="Search"
                @selection-change="all" >
                <!-- 新增按钮 -->
                <template #menu-left="{ size }">
                    <el-button type="primary" @click="addList"><span>+</span> 新增</el-button>
                    <el-button type="danger" @click="deleteList" :disabled='allList.length'>批量删除</el-button>
                </template>
                <!-- 内容 -->
                <template #status="scope">
                    <el-tag v-if="scope.row.status === 1">启用</el-tag>
                    <el-tag v-else type="danger">未启用</el-tag>
                </template>
                <!-- 操作 -->
                <template #menu="{ row, index, size }">
                    <el-button type="primary" :size="size" icon="el-icon-edit" @click="updateList(row)">编辑
                    </el-button>
                    <el-button type="danger" :size="size" icon="el-icon-delete" @click="deleteList(row,'dan')">
                        删除
                    </el-button>
                </template>
            </avue-crud>
        </main>
        <!-- 弹窗 -->
        <el-dialog v-model="dialogVisible" :title="flag ? '新增' : '编辑'" width="50%">
            <span>
                <el-form :model="form" :rules="darules" label-width="120px">
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="form.title" />
                    </el-form-item>
                    <el-form-item label="内容" prop="content">
                        <el-input v-model="form.content" />
                    </el-form-item>
                    <el-form-item label="排序号">
                        <el-input-number v-model="form.seq" class="mx-4" :min="0" controls-position="right" />
                    </el-form-item>
                    <el-form-item label="置顶">
                        <el-radio-group v-model="form.status">
                            <el-radio label="0">下线</el-radio>
                            <el-radio label="1">正常</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-form>
            </span>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="dialogVisible = false">取消</el-button>
                    <el-button type="primary" @click="confirm">
                        确定
                    </el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue'
import { tableOption } from '../../../../crud/shop/hotSearch.js'
import { _getsearchList, _addsearchList, _updatesearchList, _deletesearchList } from '../../../../api/shop'
import userStore from '../../../../store'
import { ElMessage, ElMessageBox } from 'element-plus'
const { shop } = userStore()
//分页
let page = ref({
    total: 0,
    currentPage: 1,
    pageSize: 10,
})
const sizeChange = (val: number) => {
    page.value.pageSize = val
    getList({ size: val })
}
const currentChange = (val: number) => {
    page.value.currentPage = val
    getList({ current: val })
}
//获取数据
const getList = async (query: any) => {
    const { data } = await _getsearchList({ ...query,size:page.value.pageSize,current:page.value.currentPage});
    shop.searchList = data.records
    page.value.total = data.total
    page.value.currentPage = data.current
    page.value.pageSize = data.size
}
getList({})
//搜索
const Search = (params: any, done: () => void) => {
    getList({ ...params })
    done();
}
let dialogVisible = ref(false)
let flag = ref(false)
const form = reactive({
    title: '',
    content: '',
    seq: 0,
    status: '0',
    hotSearchId: 0
})
//新增
const addList = () => {
    dialogVisible.value = true
    flag.value = true
    form.title = ''
    form.content = ''
    form.seq = 0
    form.status = '0'
}
//编辑
const updateList = (row: any) => {
    dialogVisible.value = true
    flag.value = false
    form.title = row.title
    form.status = String(row.status)
    form.content = row.content
    form.seq = row.seq
    form.hotSearchId = row.hotSearchId
}
//点击确定按钮
const confirm = async () => {
    //新增
    if (flag.value) {
        await _addsearchList({ ...form })
    } else {//编辑
        // console.log(form);
        await _updatesearchList({ ...form })
    }
    dialogVisible.value = false;
    getList({});
}
let allList=reactive([]) as number[]
//多选
const all=(selection:any)=>{
    allList=[]
   selection.forEach((item:any) => {
     return allList.push(item.hotSearchId)
   });
}

//删除
const deleteList = async (row: any,a:string) => {
    if (a === undefined) {
        ElMessageBox.confirm(
        '确定要进行[批量删除]操作?',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            await _deletesearchList(allList)
            getList({});
            ElMessage({
                type: 'success',
                message: '删除成功',
            })
        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
    }else{
        ElMessageBox.confirm(
        '确定要进行[删除]操作?',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            await _deletesearchList([row.hotSearchId])
            getList({});
            ElMessage({
                type: 'success',
                message: '删除成功',
            })
        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
    }
}
// 校验
const darules = reactive({
          title: [ { required: true, message: '不能为空', trigger: 'blur' }],
          content: [{ required: true, message: '不能为空', trigger: 'blur' }],
        })

</script>

<style lang="scss" scoped>
.index {
    width: 100%;
    height: 100%;
}

main {
    padding: 15px;
}
</style>