<template>
  <div class="class">
    <avue-crud :data="product.classList" :option="tableOption" v-model:page="page" @size-change="sizeChange"
      @current-change="currentChange">
      <template #menu-left="{}">
        <el-button type="primary" color='#02A1E9' icon="el-icon-plus" @click="addGroup">新增</el-button>
      </template>
      <template #pic="scope">
        <img :src="scope.row.pic" alt="" class="img1">

      </template>
      <template #status="scope">
        <el-tag v-if="scope.row.status === 0" size="small" type="danger">不正常</el-tag>
        <el-tag v-else size="small">正常</el-tag>
      </template>
      <template #menu="{ size, row }">
        <el-button type="primary" icon="el-icon-edit" @click="editGroup(row)">编辑</el-button>

        <el-button type="danger" icon="el-icon-delete" @click="del(row.categoryId
        )">删除</el-button>
      </template>
    </avue-crud>
    <!-- form -->
    <el-dialog v-model="dialogVisible" :title="flag === true ? '新增' : '编辑'" width="700px">
      <el-form :model="form" label-width="120px" :rules="dataRule">
        <el-form-item label="分类图片">
          <el-upload class="avatar-uploader" action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
            :show-file-list="false" :on-success="handleAvatarSuccess" :before-upload="beforeAvatarUpload"
            v-model="form.pic" prop="pic">
            <img v-if="form.pic" :src="form.pic" class="avatar" />
            <el-icon v-else class="avatar-uploader-icon">
              <Plus />
            </el-icon>
          </el-upload>
        </el-form-item>
        <el-form-item label="分类名称" prop="categoryName">
          <el-input v-model="form.categoryName" />
        </el-form-item>
        <el-form-item label="上级分类">
          <el-cascader :options="product.classList" v-model="selsectlist" @change="handeleHand"
            :props="categoryTreeProps" clearable />
        </el-form-item>
        <el-form-item label="排序号">
          <el-input-number v-model="form.seq" :min="0" controls-position="right" size="large" />
        </el-form-item>
        <el-form-item label="状态">
          <el-radio-group v-model="form.status">
            <el-radio label="1">正常</el-radio>
            <el-radio label="0">禁用</el-radio>
          </el-radio-group>
        </el-form-item>

      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button type="primary" @click="comfir">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang='ts'>
import { ref, reactive } from 'vue'
import { tableOption } from '../../../../crud/prod/prodClass.js'
import userStore from '../../../../store'
import { _get_produceC, _edit_produceC, _add_produceC, _del_produceC, _get_class } from '../../../../api/class'
import { ElMessage, ElMessageBox } from 'element-plus'
//upload
import { Delete, Download, Plus, ZoomIn } from '@element-plus/icons-vue'
import type { UploadProps, FormInstance, FormRules } from 'element-plus'
import { treeDataTranslate, idList } from '../../../../utils/tool'
import { format } from 'path'
const { product } = userStore()
const imageUrl = ref('')
let creategoty = ref([])
const form = reactive({
  categoryName: '', //分类名称
  status: '0',//状态
  seq: '',//排序
  pic: '',
  categoryId: '',
  grade: 0,
  parentId: 0
})
const selsectlist = ref([]) as any
const categoryTreeProps = ref({
  value: 'categoryId',
  label: 'categoryName'
})
//弹窗
const flag = ref(false)
const dialogVisible = ref(false)
//上传图片
const handleAvatarSuccess: UploadProps['onSuccess'] = (
  response: any,
  uploadFile: any
) => {
  imageUrl.value = form.pic
}
//联机选择器
const options = ref(
  [
    {
      value: 'phope',
      label: '手机数码',
      children: [
        {
          value: 'a',
          label: '手机通讯',
        },
        {
          value: 'b',
          label: '智能设备',
        },
        {
          value: 'c',
          label: '珠宝钟表',
        },
      ],
    },
    {
      value: 'm',
      label: '美妆护肤',
    },
    {
      value: 'y',
      label: '运动服饰',
    },
    {
      value: 'l',
      label: '美味零食',
    },
  ]
)

const dataRule = reactive(
  {
    categoryName: [
      { required: true, message: '分类名称不能为空', trigger: 'blur' }
    ],
    pic: [
      { required: true, message: '分类图片不能为空', trigger: 'blur' }
    ]
  }
)
const props1 = ref([{
  checkStrictly: true,
}])
const beforeAvatarUpload: UploadProps['beforeUpload'] = (rawFile: any) => {
  if (rawFile.type !== 'image/jpeg') {
    ElMessage.error('Avatar picture must be JPG format!')
    return false
  } else if (rawFile.size / 1024 / 1024 > 2) {
    ElMessage.error('Avatar picture size can not exceed 2MB!')
    return false
  }
  return true
}
//分页
const page = ref({
  currentPage: 1, //当前页数
  pageSize: 10, //每页显示条目个数
  total: 0  //总条目数
})
//渲染
const getList = async (params: any) => {
  const res = await _get_produceC(params);
  product.classList = treeDataTranslate(res.data, 'categoryId', 'parentId')
  product.classList.map((item: { pic: string }) => {
    item.pic = `http://img-test.gz-yami.com/` + item.pic
  })
  page.value.total = res.data.total
  page.value.pageSize = res.data.size
  page.value.currentPage = res.data.current
  form.parentId = res.data.parentId
  const result = await _get_class(params)
  console.log(result.data, 'resultresultresultresult');
  selsectlist.value = idList(product.classList, res.data.parentId, 'categoryId', 'children').reverse()
}
getList({ size: page.value.pageSize, current: page.value.currentPage })
const handeleHand = (val: any) => {
  console.log(val);
  form.parentId = val[val.length - 1]
}
// 点击每页多少条
const sizeChange = (val: number) => {
  page.value.pageSize = val;
  getList({ size: val })
}
//点击页码
const currentChange = (val: number) => {
  page.value.currentPage = val;
  getList({ current: val })
}
//删除
const del = (id: number) => {
  ElMessageBox.confirm(
    '确定进行删除操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  ).then(async () => {
    await _del_produceC(id)
    getList({})
    ElMessage({
      type: 'success',
      message: '删除成功',
    })
  }).catch(() => {

  })
}

//新增
const addGroup = () => {
  dialogVisible.value = true
  flag.value = true
  form.categoryName = '',
    form.status = '1',
    form.seq = ''
  form.pic = ''
}
//编辑
const editGroup = (row: any) => {
  console.log(row);
  dialogVisible.value = true
  flag.value = false
  form.categoryName = row.categoryName
  form.status = String(row.status)
  form.seq = String(row.seq)
  form.categoryId = row.categoryId
  form.pic = row.pic
}
//确认
const comfir = async () => {
  if (selsectlist.length === 1) {
    form.grade = 0
  }
  if (selsectlist.length === 2) {
    form.grade = 1
  }
  if (selsectlist.length === 3) {
    form.grade = 2
  }
  if (flag.value) {
    // 新增

    await _add_produceC({ ...form })
  } else {
    await _edit_produceC({ ...form })
  }
  dialogVisible.value = false
  getList({})
}

</script>

<style lang='scss' scoped>
.class {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;

  .class_table {
    margin-top: 10px;
  }

  .img1 {
    width: 100%;
    height: 80px;
    object-fit: cover;
  }
}

.avatar-uploader {
  width: 178px;
  height: 178px;
  display: block;
}

.avatar {
  width: 178px;
  height: 178px;
}
</style>
<style>
.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
</style>