<template>
  <div class="index">
      <main>
          <avue-crud  :option="tableOption" :data="shop.feightList" v-model:page="page"  @size-change="sizeChange"
             @current-change="currentChange" @selection-change="all" @search-change="Search">
              <!-- 新增按钮 -->
              <template #menu-left="{ size }">
                  <el-button type="primary" @click="addList"><span>+</span> 新增</el-button>
                  <el-button type="danger" @click="deleteList('','')">批量删除</el-button>
              </template>
              <!-- 操作 -->
              <template #menu="{ row, index, size }">
                  <el-button type="primary" :size="size" icon="el-icon-edit" @click="updataList(row)">编辑
                  </el-button>
                  <el-button type="danger" :size="size" icon="el-icon-delete" @click="deleteList(row,'12')">
                      删除
                  </el-button>
              </template>
          </avue-crud>
      </main>
      <Pop :dialogVisible='dialogVisible' :flag='flag' :upteArr="upteArr" @check='changepop'/>
  </div>
</template>

<script setup lang="ts">
import {ref,reactive} from 'vue'
import { tableOption } from '../../../../crud/shop/transport' 
import { _getfeightList , _getfeList ,_deletefeightList} from '../../../../api/shop'
import userStore from '../../../../store'
import { ElMessage, ElMessageBox } from 'element-plus'
import Pop from './pop.vue'
const { shop } = userStore()
let page = ref({
  total: 0,
  currentPage: 1,
  pageSize: 10,
})
//搜索
const Search = (params: any, done: () => void) => {
  getList({ ...params })
  done();
}
//分页
const sizeChange=(val:number)=>{
  page.value.pageSize=val
  getList({size:val})
}
const currentChange=(val:number)=>{
  page.value.currentPage=val
  getList({current:val})
}
const getList = async (query:any) => {
  const { data } = await _getfeightList({...query,size:page.value.pageSize,current:page.value.currentPage});
  console.log(data,'-----');
  shop.feightList = data.records;
  page.value.total=data.total
  page.value.currentPage=data.current
  page.value.pageSize=data.size
}
getList({})
let allList=reactive([]) as number[]
//多选
const all=(selection:any)=>{
  console.log(selection);
  
    allList=[]
   selection.forEach((item:any) => {
     return allList.push(item.transportId)
   });
}
//删除
const deleteList = async (row: any,a:string) => {
  // console.log(row);
  console.log(a);
  
    if (a === '') {
        ElMessageBox.confirm(
        '确定要进行[批量删除]操作?',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            await _deletefeightList(allList)
            getList({});
            ElMessage({
                type: 'success',
                message: '删除成功',
            })
        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
    }else{
        ElMessageBox.confirm(
        '确定要进行[删除]操作?',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            await _deletefeightList([row.transportId])
            getList({});
            ElMessage({
                type: 'success',
                message: '删除成功',
            })
        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
    }
}
const flag = ref(true)
let dialogVisible = ref(false)
const changepop=(val:boolean)=>{
  dialogVisible.value=val
}
//新增
const addList=()=>{
  dialogVisible.value=true
  flag.value=true
}
//编辑
const upteArr=ref({})
const updataList=async(row:any)=>{
  // console.log(row);
  upteArr.value=row
  // console.log(upteArr.value);
  
  dialogVisible.value=true
  flag.value=false
}
</script>

<style lang="scss" scoped>
.index {
  width: 100%;
  height: 100%;
}

main {
  padding: 15px;
}
</style>