<template>
  <el-dialog v-model="dialogVisible" :title="flag ? '新增' : '编辑'" width="80%" :before-close="handleClose" center>
    <span>
      <el-form :model="form" :rules="darules" label-width="120px">
        <!-- 模板名称 -->
        <el-form-item label="模板名称" prop="transName">
          <el-input v-model="form.transName" />
        </el-form-item>
        <!-- 是否包邮 -->
        <el-form-item label="模板类型">
          <el-radio-group v-model="form.hasFreeCondition">
            <el-radio label="1">买家承担运费</el-radio>
            <el-radio label="0">卖家包邮</el-radio>
          </el-radio-group>
        </el-form-item>
        <!-- 收费方式 -->
        <el-form-item label="模板类型">
          <el-radio-group v-model="form.chargeType" :disabled="form.hasFreeCondition === '0'">
            <el-radio label="0">按件数</el-radio>
            <el-radio label="1">按重量</el-radio>
            <el-radio label="2">按体积</el-radio>
          </el-radio-group>
        </el-form-item>
        <!-- 表格 -->
        <el-form-item>
          <el-table :data="form.transfees" style="width: 100%" max-height="550" border>
            <el-table-column label="可选区域" width="250" align="center">
              <template #default="scope">
                <span v-if="scope.$index == 0">所有地区</span>
                <span v-if="(!scope.row.cityList || !scope.row.cityList.length) && scope.$index > 0">请选择可配送区域</span>
                <span v-if="scope.$index > 0">
                  <el-tag v-for="city in scope.row.cityList" :key="city.areaId">{{ city.areaName }}</el-tag>
                </span>
                <el-button v-if="scope.$index > 0" type="text" size="small" @click="bianji(scope.$index)">编辑</el-button>
                <el-button v-if="scope.$index > 0" type="text" size="small" @click="deleteHandle(`${scope.$index}`)">删除
                </el-button>
              </template>
            </el-table-column>
            <el-table-column :label="List[Number(form.chargeType)].a" width="200" align="center">
              <template #default="scope">
                <el-input-number :disabled="form.hasFreeCondition === '0'" v-model="scope.row.firstPiece"
                  controls-position="right" />
              </template>
            </el-table-column>
            <el-table-column :label="List[Number(form.chargeType)].b" width="200" align="center">
              <template #default="scope">
                <el-input-number :disabled="form.hasFreeCondition === '0'" v-model="scope.row.firstFee"
                  controls-position="right" />
              </template>
            </el-table-column>
            <el-table-column :label="List[Number(form.chargeType)].c" width="200" align="center">
              <template #default="scope">
                <el-input-number :disabled="form.hasFreeCondition === '0'" v-model="scope.row.continuousPiece"
                  controls-position="right" />
              </template>
            </el-table-column>
            <el-table-column :label="List[Number(form.chargeType)].d" width="195" align="center">
              <template #default="scope">
                <el-input-number :disabled="form.hasFreeCondition === '0'" v-model="scope.row.continuousFee"
                  controls-position="right" />
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" style="width: 30%" size="large" :disabled="form.hasFreeCondition === '0'"
            @click="onAddItem">点击添加可配送的区域和运费</el-button>
        </el-form-item>
        <!-- 多选框 -->
        <!-- <el-form-item>
          <el-checkbox v-model="checked1" label="指定条件包邮" size="large" checked="form.transfeeFrees.length" />
        </el-form-item> -->

      </el-form>
    </span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="cancel">取消</el-button>
        <el-button type="primary" @click="submi">
          确定
        </el-button>
      </span>
    </template>
    <!-- 选择配送区域 -->
    <el-dialog v-model="dialogVisibles" title="选择配送区域" width="50%">
      <span>
        <el-tree :data="date" node-key="key" :props="propss" show-checkbox @check-change="handleCheckChange"></el-tree>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button>取消</el-button>
          <el-button type="primary" @click="sunbim">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
  </el-dialog>
</template>

<script setup lang="ts">
import { format } from 'path';
import { ref, reactive, defineProps, defineEmits, watch } from 'vue'
import { _getfeList, _getaddr } from '../../../../api/shop'
import { treeDataTranslate } from "../../../../utils/tool";
import { _updatefeightList, _addfeightList } from '../../../../api/shop'
const props: any = defineProps({
  dialogVisible: {
    type: Boolean,
  },
  flag: {
    type: Boolean,
  },
  upteArr: {
    type: Object,
  }
})
const form = reactive({
  transName: '',
  hasFreeCondition: '1',
  chargeType: '0',
  transfees: [{ cityList: [], status: 1, continuousFee: 0, continuousPiece: 0, firstFee: 0, firstPiece: 0 }],
  transfeeFrees: [] as any,
  transportId:0
})

watch(() => props.dialogVisible, async (newVal, oldVal) => {
  if (props.flag) {
    form.transName = ''
    form.hasFreeCondition = '1'
    form.chargeType = '0'
    form.transfees = [{ cityList: [], status: 1, continuousFee: 0, continuousPiece: 0, firstFee: 0, firstPiece: 0 }],
      //{ freeCityList: [], freeType: 0 ,piece:0,amount:0}
      form.transfeeFrees = []
      form.transportId=0
  } else {
    console.log(props.upteArr);
    form.transName = props.upteArr.transName
    form.hasFreeCondition = String(props.upteArr.hasFreeCondition)
    form.chargeType = String(props.upteArr.chargeType)
    const res = await _getfeList(props.upteArr.transportId)
    console.log(res.data.transfeeFrees);
    form.transfees = [...res.data.transfees]
    form.transfeeFrees = [...res.data.transfeeFrees],
    form.transportId=res.data.transportId
  }
})

const List = ref([
  {
    a: '首件(个)',
    b: '运费(元)',
    c: '续件(个)',
    d: '续费(元)'
  },
  {
    a: '首重(kg)',
    b: '运费(元)',
    c: '续重(kg)',
    d: '续费(元)'
  },
  {
    a: '首体积(m³)',
    b: '运费(元)',
    c: '续体积(m³)',
    d: '续费(元)'
  }
])
const emit = defineEmits(['check'])

//点击确定
const submi = async () => {
  if (props.flag) {
    await _addfeightList({
      transName: form.transName,
      hasFreeCondition: Number(form.hasFreeCondition),
      chargeType: Number(form.chargeType),
      transfees:[...form.transfees],
      transfeeFrees:[...form.transfeeFrees],
    })
  } else {
    await _updatefeightList({ 
      transName: form.transName,
      hasFreeCondition: Number(form.hasFreeCondition),
      chargeType: Number(form.chargeType),
      transfees:[...form.transfees],
      transfeeFrees:[...form.transfeeFrees],
      transportId:form.transportId
     })
  }
  emit('check', false)
}
//点击关闭一级弹窗
const cancel = () => {
  emit('check', false)
}
//点击x
const handleClose = () => {
  emit('check', false)
}
//添加一行
const onAddItem = () => {
  form.transfees.push({ cityList: [], status: 1, continuousFee: 0, continuousPiece: 0, firstFee: 0, firstPiece: 0 })
}
//删除一行
const deleteHandle = (index: any) => {
  form.transfees.splice(index, 1)
}
const checked1 = ref(false)
//获取地区数据
let date = ref([])
const propss = {
  children: 'children',
  label: 'areaName',
}
const getList = async () => {
  const { data } = await _getaddr();
  // console.log(data, 'res');
  date.value = treeDataTranslate(data, 'areaId', 'parentId')
  console.log(date.value);

}
getList()
//选择的地址
let addrlist = ref([])
//编辑选择地址的下边
let inde = ref(0)
const handleCheckChange = (
  date: any,

) => {
  console.log(date);


  // addrlist.value=data.children
}
///选择地区
const dialogVisibles = ref(false)

const bianji = (index: number) => {
  inde.value = index
  dialogVisibles.value = true
}
//点击关闭选择地址弹窗
const sunbim = () => {
  dialogVisibles.value = false
  form.transfees[inde.value].cityList = addrlist.value
}
// 校验
const darules = reactive({
      transName: [ { required: true, message: '模板名称不能为空', trigger: 'blur' }],
        })

//树形结构转一维

</script>

<style lang="scss" scoped>

</style>