<template>
  <div>
    <avue-crud :data="system.roleList" :option='tableOption' v-model:page="page" @search-change="searchChange"
      @selection-change="selectionChange" @on-load="getlist" @size-change="sizeChange" @current-change="currentChange">
      <template #menu-left="{}">
        <el-button type="primary" color='#02A1E9' icon="el-icon-plus" @click="addrole">新增</el-button>
        <el-button type="danger" @click="deleteHandle(null)">批量删除</el-button>
      </template>
      <template #menu="{ size, row }">
        <el-button type="primary" icon="el-icon-edit" @click.stop="editHandle(row)">编辑</el-button>
        <el-button type="danger" icon="el-icon-delete" @click.stop="deleteHandle(row.roleId)">删除</el-button>
      </template>
    </avue-crud>
    <el-dialog :title='flag ? "新增" : "编辑"' v-model="addVisible">
      <el-form :model="dataForm" :rules="dataRule" @keyup.enter.native="dataFormSubmit()" label-width="120px">
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="dataForm.roleName" placeholder="角色名称"></el-input>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
          <el-input v-model="dataForm.remark" placeholder="备注"></el-input>
        </el-form-item>
        <el-form-item size="mini" label="授权">
          <el-tree :data="system.menuList" :default-checked-keys="dataForm.menuIdList" :props="menuListTreeProps" node-key="menuId" show-checkbox v-model="dataForm.menuIdList" @check-change="checkin">
          </el-tree>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取消</el-button>
        <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script setup lang='ts'>
import { ref, reactive } from 'vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import { tableOption } from '../../../../crud/sys/role'
import userStore from '../../../../store'
import { del_role, add_role, edit_role,getedit_data } from "../../../../api/system";
const { system } = userStore()
const menuListTreeProps = reactive({
  label: 'name',
  children: 'children'
})
const menulistid:any=[]
const page = ref({
  total: system.roletotal, // 总页数
  currentPage: 1, // 当前页数
  pageSize: 10 // 每页显示多少条
})
const sizeChange = (val: number) => {
  page.value.pageSize = val
  getlist({ size: val })
}
const currentChange = (val: number) => {
  page.value.currentPage = val
  getlist({ current: val })
}
const getlist = async (params: any) => {
  await system.getrolelistAction({ ...params, size: page.value.pageSize, current: page.value.currentPage })
  await system.getmenultableAction()
}
// 筛选
const searchChange = (params: any, done: any) => {
  done();
  getlist(params)
}
// 选中的数组
let dataListSelections = reactive([])
// 选中 全选
const selectionChange = (val: any) => {
  dataListSelections = val
}
// 删除
const deleteHandle = (id: any) => {
  console.log(dataListSelections);

  let roleIds = id ? [id] : dataListSelections.map((item: any) => {
    return item.roleId
  })
  ElMessageBox.confirm(
    '确定进行[删除]操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      let res: any = await del_role(roleIds)
      if (res.status === 200) {
        ElMessage({
          type: 'success',
          message: '删除成功',
        })
        getlist({})
      }
      else {
        ElMessage({
          type: 'info',
          message: '删除失败',
        })
      }
    })
}
// 弹框
let flag = ref(false)
let addVisible = ref(false)
const dataForm = reactive({
  roleId: 0,
  roleName: '',
  remark: '',
  menuIdList: [],
});
// 表单校验规则
const dataRule = reactive({
  userName: [
    { required: true, message: "角色不能为空", trigger: "blur" },
  ],
})
// 新增
const addrole = () => {
  dataForm.roleName = '';
  dataForm.remark = '';
  dataForm.menuIdList = [];
  dataForm.roleId=0;
  addVisible.value = true;
  flag.value = true;
}
//编辑
const editHandle = async(row: any) => {
  addVisible.value = true;
  flag.value = false;
  dataForm.roleId = row.roleId;
  dataForm.roleName = row.roleName;
  dataForm.remark = row.remark;
  let res:any=  await getedit_data(row.roleId)
  dataForm.menuIdList=res.data.menuIdList;
}
// 选中上级菜单
const checkin=(data:any,checked:boolean)=>{
  if (checked) {
    menulistid.push(data.menuId)
    forMenu(data)
  }
  dataForm.menuIdList=menulistid  
}
const forMenu=(data:any)=>{
  if(data.children){
    data.children.forEach((item:any) => {
      menulistid.push(item.menuId)
    });
  }
}
// 提交
const dataFormSubmit = async () => {
  if (flag.value) {
    let res: any = await add_role({
      roleName: dataForm.roleName,
      remark: dataForm.remark,
      menuIdList: dataForm.menuIdList,
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '新增成功',
      })
      getlist({})
    }
    else {
      ElMessage({
        type: 'info',
        message: '新增失败',
      })
    }
  } else {
    let res: any = await edit_role({
      roleId: dataForm.roleId,
      roleName: dataForm.roleName,
      remark: dataForm.remark,
      menuIdList: dataForm.menuIdList,
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '编辑成功',
      })
      getlist({})
    }
    else {
      ElMessage({
        type: 'info',
        message: '编辑失败',
      })
    }
  }
  getlist({})
  addVisible.value = false;
}
</script>

<style>

</style>