/<template>
  <view class="cart">
    <view v-if="cartlist.length" class="flex">
      <view class="prod-list">
        <checkbox-group @change="handleChange">
          <uni-swipe-action>
            <uni-swipe-action-item
              :right-options="options2"
              :show="isOpened"
              :auto-close="false"
              @click="bindClick($event, index)"
              v-for="(item, index) in cartlist"
              :key="item.basketId"
            >
        
              <view class="content-box">
                <dl class="dl">
                  <checkbox
                    aria-checked="false"
                    :checked="item.itemChecked"
                    :value="item.basketId"
                  ></checkbox>
                  <dt>
                    <img :src="item.pic" alt="" class="imgs" />
                  </dt>
                  <dd>
                    <p class="text">{{ item.prodName }}</p>
                    <p style="color: red">￥{{ item.price }}</p>
                  </dd>
                  <dd>
                    <span @click="handleChangeItem(-1, item)">-</span>
                    <span>{{ item.prodCount }}</span>
                    <span @click="handleChangeItem(1, item)">+</span>
                  </dd>
                </dl>
              </view>
            </uni-swipe-action-item>
          </uni-swipe-action>
        </checkbox-group>
      </view>
      <view class="di"></view>
      <view class="cart-footer">
        <view class="btn all">
          <label
            bindtap="onSelAll"
            role="checkbox"
            aria-disabled="false"
            aria-checked="false"
          >
            <checkbox :checked="allChecked" @click="hanldeAllChange"></checkbox>
            全选
          </label>
        </view>
        <view class="btn del" bindtap="onDelBasket">
          <text @click="del">删除</text>
        </view>
        <view class="btn total">
          <view class="finally">
            <text class="big-num"
              >合计: <text class="small-num">￥{{ allPrice }}</text></text
            >
          </view>
        </view>
        <view class="btn settle">
          <text @click="settlement">结算</text>
        </view>
      </view>
    </view>
    <view v-else class="kong">
      <image src="../../static/cart.png" class="imas"></image>
      <p class="p1">您还没有添加任何商品哦~</p></view
    >
  </view>
</template>

<script>
import { cartApi, cartchangeItem, zongjia, dellist } from "../../services/cart";
export default {
  data() {
    return {
      cartlist: [],
      cartlength: "",
      allChecked: false,
      allPrice: 0, // 总价
      checkes: [],
      total: 0,
      show: false,
      isOpened: "none",
      options2: [
        {
          text: "删除",
          style: {
            backgroundColor: "#F56C6C",
          },
        },
      ],
    };
  },
  onShow() {
    this.getShopCar();
    this.allChecked = false;
  },
  watch: {
    // 监测数据
    cartlist: {
      deep: true,
      handler(val) {
        // 筛选出                              选中                        商品的id
        this.checkes = val
          .filter((item) => item.itemChecked)
          .map((v) => v.basketId);
        // 把获取到的checkes选中商品传到 计算总价（是获取选中商品的总价）
        this.reduceSumPrice(this.checkes);
      },
    },
  },
  methods: {
    // 展示loading框
    showLoading() {
      uni.showToast({
        icon: "loading",
        mask: true,
      });
    },
    //获取购物车数据
    async getShopCar() {
      const res = await cartApi();
      if (res.length) {
        // 一进页面把他的单选默认为未选中
        this.cartlist = res[0].shopCartItemDiscounts[0].shopCartItems.map(
          (val) => ({ ...val, itemChecked: false })
        );
      }
      // 购物车徽标显示
      this.cartlength = this.cartlist.length;
      if (this.cartlength !== 0) {
        //不等于0显示
        uni.setTabBarBadge({
          index: 3,
          text: this.cartlength.toString(),
        });
      }
    },
    // 计算总价
    async reduceSumPrice(checkes) {
      uni.hideToast();
      const res = await zongjia(checkes);
      this.allPrice = res.totalMoney;
    },
    //数量加加减减
    async handleChangeItem(
      count,
      { prodId, shopId, skuId, basketId, prodCount }
    ) {
      if (prodCount === 1 && count === -1) {
        // 数量为1的时候不能在减
        return;
      }
      this.showLoading();
      await cartchangeItem({
        count,
        prodId,
        shopId,
        skuId,
      });
      // 等接口成功修改商品列表
      const curShopItem = this.cartlist.find(
        (val) => basketId === val.basketId
      );
      curShopItem.prodCount = curShopItem.prodCount + count;
    },
    //全选
    hanldeAllChange() {
      this.showLoading();
      this.allChecked = !this.allChecked; // 同步全选自身状态
      this.cartlist.map((item) => {
        item.itemChecked = this.allChecked;
      });
    },
    // 单选
    handleChange({ detail: { value } }) {
      console.log(value, "单选选中id");
      this.showLoading();
      this.cartlist.map((item) => {
        if (value.includes(`${item.basketId}`)) {
          item.itemChecked = true;
        } else {
          item.itemChecked = false;
        }
      });
      //选中的长度
      this.allChecked = value.length === this.cartlist.length; // 全选了
    },
    // 如果没选中 弹出对应弹框

    // 删除商品
    async del() {
      // 如果没选中商品 弹出提示
      if (!this.checkes.length) {
        uni.showToast({
          title: "请选择商品",
          icon: "none",
          duration: 2000, //展示时长
        });
        return;
      }
      // 展示删除确认弹框
      uni.showModal({
        content: "确定要删除选中的商品吗？",
        success: (res) => {
          if (res.confirm) {
            this.delItem();
          } else if (res.cancel) {
            return;
          }
        },
      });
    },
    // 删除
    async delItem() {
      await dellist(this.checkes);
      this.showLoading();
      await this.getShopCar();
    },
    // 右滑删除
    bindClick(e, index) {
      let { content } = e;
      if (content.text === "删除") {
        uni.showModal({
          title: "提示",
          content: "是否删除",
          success: (res) => {
            if (res.confirm) {
              this.checkes.push(this.cartlist[index].basketId);
              this.delItem();
              this.checkes = [];
            } else if (res.cancel) {
              console.log("用户点击取消");
            }
          },
        });
      }
    },
    // 结算
    settlement() {
      // 如果没选中商品 弹出提示
      if (!this.checkes.length) {
        uni.showToast({
          title: "请选择商品",
          icon: "none",
          duration: 2000,
        });
        return;
      }
      this.$goPage({
        url: "/pages/settlement/index",
        query: {
          checkes: this.checkes,
        },
      });
    },
  },
};
</script>

<style>
html,
body,
.cart {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.content-box {
  flex: 1;
  /* #ifdef APP-NVUE */
  justify-content: center;
  /* #endif */

  padding: 0 15px;
  position: relative;
  background-color: #fff;
  border-bottom-color: #f5f5f5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.content-text {
  font-size: 15px;
}
.kong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f4f4f4;
  width: 100%;
  height: 100%;
}
.imas {
  margin-left: calc(50% - 40rpx);
  width: 80rpx;
  height: 80rpx;
  margin-bottom: 20rpx;
}
.di {
  width: 100%;
  height: 100rpx;
}
.p1 {
  font-size: 35rpx;
  text-align: center;
  font-family: helvetica, "Heiti SC", PingFangSC-Light;
}

.car {
  height: 100%;
  box-sizing: border-box;
  color: #333;
  font-family: helvetica, "Heiti SC", PingFangSC-Light;
  background: rgb(235, 233, 233);
}
.prod-list .prod-block {
  background: #fff;
  margin-top: 15rpx;
}

.cart-footer {
  position: fixed;
  bottom: -3px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
  height: 98rpx;
  border-top: 2rpx solid #f4f4f4;
  z-index: 999;
}

.cart-footer .btn.all {
  width: 150rpx;
  font-size: 26rpx;
}

.cart-footer .btn {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  background: rgba(255, 255, 255, 0.95);
}

.cart-footer .btn.all label {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#chc {
  width: 60rpx !important;
  height: 60rpx !important;
  border-radius: 50% !important;
  border: none;
  /* border: solid 1px #000; */
}

.cart-footer .btn.del {
  color: #eb2444;
  width: 70rpx;
  font-size: 22rpx;
  text-align: left;
  display: block;
  line-height: 102rpx;
}

.cart-footer .btn.total {
  width: 300rpx;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.cart-footer .btn.total .price {
  color: #eb2444;
  font-size: 30rpx;
}

.price {
  font-family: Arial;
  display: inline-block;
  color: #eb2444;
  padding-bottom: 10rpx;
  padding-left: 10rpx;
}

.symbol {
  font-size: 24rpx;
}

.big-num {
  font-size: 32rpx;
}

.small-num {
  font-size: 24rpx;
  color: #eb2444;
}

.cart-footer .btn.settle {
  width: 200rpx;
  background: #eb2444;
  color: #fff;
}

.dl {
  width: 100%;
  height: 200rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(244, 244, 244);
  background: #fff;
  margin-top: 4rpx;
}

.dl dt {
  width: 160rpx;
  height: 160rpx;
}

.dl dt .imgs {
  width: 160rpx;
  height: 160rpx;
}

.dl dd {
  width: 160rpx;
  height: 170rpx;
}

.dl dd p {
  width: 300rpx;
  height: 35rpx;
  margin-bottom: 60rpx;
  font-size: 12px;
}

.dl dd span {
  width: 46rpx;
  height: 46rpx;
  display: inline-block;
  border: solid 1px #eee;
  text-align: center;
  line-height: 46rpx;
  margin-top: 70%;
}

.text {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

checkbox .wx-checkbox-input {
  width: 40rpx;
  height: 40rpx;
  border-radius: 50%;
}

/* 选中后的背景样式 */
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  border: none;
  background: rgb(235, 32, 68);
}

/* 选中后的勾子样式 */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  width: 40rpx;
  height: 40rpx;
  line-height: 40rpx;
  border-radius: 50%;
  text-align: center;
  font-size: 32rpx;
  color: #fff;
  background: transparent;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}
</style>