/<template>
  <view class="dmain">
    <view class="dmain-header">
      <view class="hardds">
        <view class="hardds-top">
          <text class="hardds-text">{{ arrdslist.receiver }}</text>
          <text>{{ arrdslist.mobile }}</text>
        </view>
        <view class="hardds-btm">
          <text>{{ arrdslist.province }}</text>
          <text>{{ arrdslist.city }}</text>
          <text>{{ arrdslist.area }}</text>
          <text>{{ arrdslist.addr }}</text>
        </view>
      </view>
      <view class="hlist" @click="upPage(orderList.prodId)">
        <dl>
          <dt><img :src="orderList.pic" alt="" /></dt>
          <dd>
            <view class="ltxtt">{{ orderList.prodName }}</view>
            <view class="ltxt">
              <text>数量: {{ orderList.prodCount }}</text>
              <text>{{ orderList.skuName }}</text>
            </view>
            <view>
              <text
                >￥ <text class="ltpic">{{ orderList.price }}</text
                >.00 <text class="sales btn">申请售后</text
                ><text class="addshop btn">加购物车</text>
              </text>
            </view>
          </dd>
        </dl>
      </view>
      <view class="horder">
        <view class="horder_top">
          <text class="ttit"> <text class="tit">订单编号:</text> {{ id }}</text>
          <text @click="fuzhi" class="Fuzhi">复制</text>
          <text class="horder_topitem"
            ><text class="tit">下单时间:</text>{{ list.createTime }}</text
          >
        </view>
        <view class="horder_btm">
          <view class="bitem">
            <text class="tit">支付方式: </text> <text>微信支付</text>
          </view>
          <view class="bitem"
            ><text class="tit">配送方式: </text> <text>普通配送</text></view
          >
          <view class="bitem"> <text class="tit">订单备注: </text> </view>
        </view>
      </view>
      <view class="hamount">
        <view class="bitems">
          <view class="tits"> 订单总额:</view> <view></view>
          <view class="ptits">￥{{ orderList.price }}</view>
        </view>
        <view class="bitems"
          ><view class="tits"> 运费:</view> <view class="ptits">￥0</view></view
        >
        <view class="bitems"
          ><view class="tits"> 优惠券:</view>
          <view class="ptits">￥0</view></view
        >
      </view>
    </view>
    <view class="dmain-footer">
      <text class="tol">联系客服</text>
      <text class="zshop" @click="details">再次购买</text>
    </view>
  </view>
</template>

<script>
import { getOrderDeatil } from "../../../../services/user";
export default {
  data() {
    return {
      list: {}, //总数据
      arrdslist: {}, //地址数据
      orderList: {}, //订单数据
      id: "",
    };
  },
  onLoad(options) {
    this.getOrderDeatil(options.id);
    this.id = options.id;
  },
  methods: {
    async getOrderDeatil(id) {
      const res = await getOrderDeatil({
        orderNumber: id,
      });
      this.list = res; //总数据
      this.arrdslist = res.userAddrDto; //地质数据
      this.orderList = res.orderItemDtos[0]; //订单数据
      console.log(this.orderList);
    },
    fuzhi() {
      uni.setClipboardData({
        data: this.id,
        showToast:'复制成功',
        success: function () {
          console.log("success");
        },
      });
    },
    upPage(id){
     this.$goPage({
      url:'/detailPkg/detail/index',
      query:{id}
     })
    },
    //点击再次购买
    details(){
      console.log(this.orderList.prodId);
      this.$goPage({
        url: "/detailPkg/detail/index",
        query: {
          id: this.orderList.prodId,
        },
      });
    }
  },
};
</script>

<style scoped>
.dmain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(244, 244, 244);
}

.dmain-header {
  flex: 1;
}
.hardds {
  width: 100%;
  height: 100rpx;
  padding: 20rpx;
  margin-bottom: 20rpx;
  background: #fff;
  overflow-y: auto;
  font-size: 26rpx;
}
.hardds-top {
  font-size: 26rpx;
}
.hardds-text {
  padding-right: 26rpx;
}
.hardds-btm {
  margin-top: 16rpx;
  font-size: 26rpx;
  color: #c0c0c0;
}

.hlist {
  width: 100%;
  height: 195rpx;
  background: #fff;
  margin-bottom: 20rpx;
  padding: 20rpx;
}

.hlist dl {
  display: flex;
}

.hlist dl dt {
  width: 30%;
  height: 195rpx;
  margin-right: 25rpx;
}

.hlist dl dt img {
  width: 100%;
  height: 100%;
}

.ltxtt {
  font-size: 27rpx;
}

.ltxt {
  display: block;
  color: #c0c0c0;
  margin-top: 10rpx;
  margin-bottom: 25rpx;
  font-size: 24rpx;
}

.ltpic {
  font-size: 33rpx;
}

.btn {
  display: inline-block;
  width: 130rpx;
  height: 44rpx;
  border: 1px solid #c0c0c0;
  font-size: 24rpx;
  line-height: 44rpx;
  text-align: center;
  margin-left: 20rpx;
  border-radius: 50rpx;
}

.sales {
  margin-left: 70rpx;
}

.tit {
  color: #c0c0c0;
  display: inline-block;
  margin-right: 20rpx;
}

.horder_top {
  width: 100%;
  height: 125rpx;
  background: white;
  margin-bottom: 4rpx;
  padding: 20rpx;
  font-size: 26rpx;
  box-sizing: border-box;
}

.horder_topitem {
  display: block;
  margin-top: 24rpx;
}

.horder_btm {
  font-size: 26rpx;
  width: 100%;
  height: 250rpx;
  background: white;
  padding: 20rpx;
  margin-bottom: 15rpx;
}

.bitem {
  margin-top: 36rpx;
}

.hamount {
  width: 100%;
  height: 250rpx;
  background: white;
  padding: 20rpx;
  box-sizing: border-box;
}

.bitems {
  margin-top: 26rpx;
  display: flex;
  justify-content: space-between;
}

.tits {
  color: #c0c0c0;
}

.ptits {
  color: red;
  font-size: 26rpx;
}

.Fuzhi {
  display: inline-block;
  float: right;
  width: 88rpx;
  height: 35rpx;
  border: 1px solid #c0c0c0;
  text-align: center;
  border-radius: 20rpx;
}

.dmain-footer {
  width: 100%;
  height: 100rpx;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 26rpx;
}

.tol {
  width: 120rpx;
  height: 45rpx;
  border: 1px solid #c0c0c0;
  text-align: center;
  line-height: 45rpx;
  border-radius: 20rpx;
}

.zshop {
    width: 120rpx;
  height: 45rpx;
  background: red;
  color: white;
margin-left: 25rpx;
  text-align: center;
  line-height: 45rpx;
  border-radius: 20rpx;
}
</style>