/<template>
  <!-- 新品推荐 -->
  <view class="jkl">
    <scroll-view :scroll-y="true" @scrolltolower="scrollend" class="scrollview">
      <template v-if="newList.length">
        <Item v-for="item in newList" :key="item.id" :item="item" />
      </template>
      <template v-else>
        <view>暂无数据</view>
      </template>
    </scroll-view>
  </view>
</template>

<script>
import { getDailyrushed } from "../../services/Homepage";
import Item from "../../components/index/Item";
export default {
  components: {
    Item,
  },
  data() {
    return {
      current: 1,
      size: 6,
      newList: [],
    };
  },
  onLoad() {
    this.Newproduct();
  },
  methods: {
    async Newproduct() {
      uni.showLoading({
        title: "加载中",
        mask:true
      });

      setTimeout(function () {
        uni.hideLoading();
      }, 200);
      const res = await getDailyrushed({
        current: this.current,
        size: this.size,
      });
      this.newList = this.newList.concat(res.records);
    },
    scrollend() {
      this.current++;
      console.log(this.current, "jdjkashdjkashjkdhasjkdhasjk");
      this.Newproduct();
    },
  },
};
</script>

<style scoped>
.jkl {
  width: 100%;
  height: 100%;
}
.scrollview {
  height: 100%;
  width: 100%;
}
</style>