<template>
  <view class="content">
    <Search />
    <Swipers />
    <!-- 新品推荐 -->
    <view class="newproduct">
      <view class="newproduct-item">
        <view
          v-for="(item, index) in icon"
          :key="index"
          @click="topage(item.title)"
        >
          <img :src="item.icon" alt="" class="newimg" />
          <text class="newproduct-p">{{ item.title }}</text>
        </view>
      </view>
    </view>
    <!-- 通知 -->
    <Notice :list="swiperList" />
    <!-- 商城热卖 -->
    <Dailynew :list="shopHot" />
    <!-- 更多宝贝 -->
    <Card :list="morBaby" title="更多宝贝" />
    <!-- 每日优选 -->
    <Card :list="newDay" title="每日优选" />
  </view>
</template>

<script>
import Search from "../../components/index/Search.vue";
import Swipers from "../../components/index/Swipers.vue";
import Notice from "../../components/index/Notice.vue";
import Dailynew from "../../components/index/Dailynew.vue";
import Card from "../../components/index/Cardvue.vue";
import {
  getNotice,
  getNewDay,
  getShopHot,
  getMorBaby,
  getNewproduct,
} from "../../services/Homepage";
import { cartApi } from "../../services/cart";
export default {
  components: {
    Search,
    Swipers,
    Notice,
    Dailynew,
    Card,
  },
  data() {
    return {
      cartlength: "",
      icon: [
        {
          title: "新品推荐",
          icon: "../../static/ShouYe/灯泡.png",
        },
        {
          title: "限时推荐",
          icon: "../../static/ShouYe/计划信息.png",
        },
        {
          title: "每日疯抢",
          icon: "../../static/ShouYe/火热.png",
        },
        {
          title: "领优惠券",
          icon: "../../static/ShouYe/优惠券-4.png",
        },
      ],
      swiperList: [], // 通知
      newDay: [], //每日上新
      shopHot: [], //商城热卖
      morBaby: [], //更多宝贝
    };
  },
  onShow() {
  this.getShopCar(); //获取徽标
  },
  onLoad() {
    this.getNoticeList();
    this.getNewDay();
    this.getShopHot();
    this.getMorBaby();
    this.getShopCar(); //获取徽标
  },
  methods: {
    //获取购物车数量
    async getShopCar() {
      const res = await cartApi();
      // 一进页面把他的单选默认为未选中
      this.cartlength = res[0].shopCartItemDiscounts[0].shopCartItems.map(
        (val) => ({ ...val, itemChecked: false })
      ).length;
      if (this.cartlength !== 0) {
        //不等于0显示
        uni.setTabBarBadge({
          index: 3,
          text: this.cartlength.toString(),
        });
      }
    },
    async getNoticeList() {
      //通知
      const res = await getNotice();
      this.swiperList = res;
    },
    async getNewDay() {
      //每日上新
      const res = await getNewproduct({
        current: 0,
        size: 6,
      });
      console.log("====================================");
      console.log(res);
      console.log("====================================");
      this.newDay = res.records;
    },
    async getShopHot() {
      //商城热卖
      const res = await getShopHot({
        tagId: 2,
        size: 6,
      });
      this.shopHot = res.records;
    },
    async getMorBaby() {
      //更多宝贝
      const res = await getMorBaby({
        tagId: 3,
        size: 6,
      });
      this.morBaby = res.records;
    },
    // 跳转
    topage(title) {
      if (title === "新品推荐") {
        this.$goPage({
          url: "/pages/index/Newproduct",
          query: {},
        });
      } else if (title === "限时推荐") {
        this.$goPage({
          url: "/pages/index/Timerecommend",
          query: {},
        });
      } else if (title === "每日疯抢") {
        this.$goPage({
          url: "/pages/index/Dailyrushed",
          query: {},
        });
      } else if (title === "领优惠券") {
        this.$goPage({
          url: "/pages/index/Coupons",
          query: {},
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.contene {
  width: 100%;
  height: 100%;
}

.newproduct {
  width: 100%;
  height: 120rpx;
  margin-top: 15px;
}
.newproduct-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.newproduct-p {
  font-size: 26rpx;
}
.newimg {
  width: 90rpx;
  height: 90rpx;
  display: block;
  margin: auto;
}
</style>
