/<template>
  <view class="newNtic">
    <view
      class="newNtic-item"
      v-for="(item, index) in list"
      :key="index"
      @click="upPage(item.id)"
    >
      <p>{{ item.title }}</p>
      <text>{{ item.publishTime }}</text>
    </view>
  </view>
</template>

<script>
import { getNotice } from "../../services/Homepage";
export default {
  data() {
    return {
      list: [],
    };
  },
  onLoad() {
    this.getNotices();
  },
  methods: {
    async getNotices() {
      const res = await getNotice();
      console.log(res);
      this.list = res;
    },
    upPage(id) {
      this.$goPage({
        url: "/pages/index/LatestNotice",
        query: {
          id: id,
        },
      });
    },
  },
};
</script>

<style scoped>
.newNtic {
  width: 100%;
  height: 100%;
}
.newNtic-item {
  width: 96%;
  height: 80rpx;
  font-size: 30rpx;
  border-bottom: 1px solid #c0c0c0;
  margin-left: 4%;
  margin-top: 45rpx;
}
.newNtic-item text {
  color: #c0c0c0;
  display: inline-block;
  float: right;
}
</style>