<template>
  <view>
    <view class="newtitle"> {{ list.title }} </view>
    <view v-html="list.content"></view>
  </view>
</template>

<script>
import { getNoticeDeatil } from "../../services/Homepage";
export default {
  data() {
    return {
      list: {},
    };
  },
  onLoad(option) {
    this.getNoticeDeatil(option.id);
  },
  methods: {
    // 富文本图片高度 宽度 通过正则去匹配
    formmatHTML(htmlStr) {
      return htmlStr
        .replace(/width\=\"\d+\"/g, 'width="100%"')
        .replace(/height\=\"\d+\"/g, "");
    },
    async getNoticeDeatil(id) {
      const res = await getNoticeDeatil(id);
      console.log(res);
      res.content = this.formmatHTML(res.content);//重新覆盖
      this.list = res
    },
  },
};
</script>

<style scoped>
.newNoticeD{
  padding: 20rpx;
}
.newtitle {
  font-size: 32rpx;
  font-weight: bold;
  padding: 20rpx;
}
.newimg {
  width: 95%;
  height: 500rpx;
}
</style>