/<template>
  <view>
    <MoreCard :list="list" />
  </view>
</template>

<script>
import MoreCard from "../../components/index/MoreCard.vue";
import { getShopHot } from "../../services/Homepage";
export default {
  components: {
    MoreCard,
  },
  data() {
    return {
      list: [],
    };
  },
  onLoad() {
    this.getMorBaby();
  },
  methods: {
    async getMorBaby() {
      const res = await getShopHot({
        tagId: 2,
      });
      this.list = res.records;
    },
  },
};
</script>

<style>
</style>