/<template>
<!-- 限时推荐 -->
  <view class="text"> 暂无数据 </view>
</template>

<script>
export default {};
</script>

<style scoped>
.text {
  width: 100%;
  color: #a9a9a9;
  font-size: 29rpx;
  text-align: center;
  padding-top: 40rpx;
}
</style>