<template>
    <el-menu active-text-color="#409EFF" router class="menNav">
        <el-menu-item index="/home">
     
            <span >首页</span>
        </el-menu-item>
        <el-sub-menu v-for="item in menuList" :key="item.menuId" :index="'/' + item.list[0].url">
            <template #title>
                <span>{{ item.name }}</span>
            </template>
            <el-menu-item v-for="subItem in item.list" :key="subItem.menuId" :index="'/' + subItem.url">
                {{ subItem.name }}
            </el-menu-item>
        </el-sub-menu>
    </el-menu>
</template>


<script setup lang="ts">
import store from '../../store'
import { computed } from 'vue'
const { login } = store();
const menuList = computed(() => login.menuList)
</script>

<style>

</style>