/
<template>
  <view class="classify">
    <view class="top">
      <view class="top_con">
        <text class="ipt" @click="ClassIpt">搜索您想要的商品</text>
      </view>
    </view>
    <view class="main">
      <view class="left">
        <ul
          v-for="(item, index) in ClassifyLeft"
          :key="index"
          @click="
            getId({
              index,
              categoryId: item.categoryId,
            })
          "
        >
          <li :class="categoryIndex === index ? 'active' : ''">
            {{ item.categoryName }}
          </li>
        </ul>
      </view>
      <!-- 右侧盒子 -->
      <view class="right">
        <view class="ImgBox">
          <img :src="ClassifyLeft[categoryIndex].pic" alt="" />
        </view>
        <view class="content">
          <view
            class="itemshop"
            v-for="item in ClassifyRight"
            :key="item.prodId"
            @click="godetail(item.prodId)"
          >
            <view class="imgsbox">
              <view>
                <cover-image mode="aspectFit" :src="item.pic" alt="" />
              </view>
            </view>
            <view class="conbox">
              <view>
                <h5>{{ item.prodName }}</h5>
                <p class="pp">{{ item.brief }}</p>
                <p class="pri">￥{{ item.price }}</p>
              </view>
            </view></view
          >
        </view>
      </view>
    </view>
  </view>
</template>

<script>
// import { _classifyLeft, _classifyRight } from "@/services/classify";
export default {
  data() {
    return {
      ClassifyLeft: [], //左侧数据
      ClassifyRight: [], //右侧数据
      categoryIndex: 0, //下标[0]高亮
      categoryId: 85,
    };
  },

  onLoad() {
    uni.request({
      url: "https://bjwz.bwie.com/mall4j/category/categoryInfo",
      success: (res) => {
        this.ClassifyLeft = res.data;
      },
      fail: (err) => {
        console.log(err);
      },
    });
    this.init();
  },
  //入口(挂载)
  onShow() {
    // this.getClassifyLeft();
    // this.getClassifyRight();
  },
  //方法函数
  methods: {
    init() {
      uni.request({
        url: `https://bjwz.bwie.com/mall4j/prod/pageProd?categoryId=${this.categoryId}`,
        success: (res) => {
          this.ClassifyRight = res.data.records;
        },
        fail: (err) => {
          console.log(err);
        },
      });
      // this.getClassifyLeft()
    },
    imgeError(index){
      this.ClassifyRight[index].pic='https://img0.baidu.com/it/u=1412098720,4275359013&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1666371600&t=a24796660dba9b236bb421d1db1849df'
    },
    getId(id) {
      this.categoryId = id.categoryId;
      this.categoryIndex = id.index;
      // this.getClassifyRight();
      this.init();
    },
    async getClassifyLeft() {
      const data = await _classifyLeft();
      this.ClassifyLeft = data;
    },
    async getClassifyRight() {
      const result = await _classifyRight(this.categoryId);
      this.ClassifyRight = result.records;
    },
    godetail(ids) {
      this.$goPage({
        url: "/detailPkg/detail/index",
        query: {
          id: ids,
        },
      });
    },
    ClassIpt() {
      this.$goPage({
        url: "/detailPkg/search/index",
      });
    },
  },
};
</script>

<style>
.classify {
  width: 100vw;
  height: 100vh;
}
.top {
  width: 100%;
  height: 60rpx;
  position: fixed;
  top: 0;
  left: 0;
  color: #777;
  background: #fff;
  box-shadow: 0 2rpx 6rpx rgba(0, 0, 0, 0.07);
  z-index: 3;
  padding: 20rpx 0;
}
.top_con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rpx;
  background: #f7f7f7;
  z-index: 999;
  width: 92%;
  border-radius: 50rpx;
  text-align: center;
  margin: auto;
}
.main {
  position: fixed;
  display: flex;
  overflow: hidden;
  margin-top: 100rpx;
  height: calc(100% - 100rpx);
}
.left {
  width: 190rpx;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f6f7;
  overflow: scroll;
  z-index: 2;
  margin-right: 20rpx;
}
.left ul {
  /* line-height: 3.5; */
  line-height: 90rpx;
  height: 90rpx;
  text-align: center;
  border-bottom: 2rpx silid #e3e3e3;
  position: relative;
  color: #777;
  font-size: 28rpx;
}
.right {
  width: 550rpx;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
  overflow: scroll;
}
.ImgBox {
  width: 550rpx;
  height: 170rpx;
}
.ImgBox img {
  width: 550rpx;
  height: 170rpx;
}
.content {
  width: 550rpx;
  height: calc(100% - 170rpx);
  /* background: pink; */
  display: flex;
  flex-direction: column;
}
.itemshop {
  width: 100%;
  display: flex;
  padding: 20rpx 0;
  border-bottom: 1px solid rgb(233, 232, 232);
  align-items: center;
}
.imgsbox {
  width: 150rpx;
  height: 150rpx;
}
.imgsbox image {
  width: 150rpx;
  height: 150rpx;
}
.imgsbox cover-image{
  width: 150rpx;
  height: 150rpx;
}
.conbox h5 {
  /* margin: 0; */
  margin-left: 20rpx;
  margin-right: 20rpx;
  font-size: 28rpx;
  display: -webkit-box;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #000;
}
.pp {
  font-size: 20rpx;
  color: #999;
  margin: 10rpx 0 20rpx 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-left: 20rpx;
}
.pri {
  font-size: 30rpx;
  color: red;
  margin-left: 20rpx;
}
.active {
  color: red;
  background: #fff;
  border-left: 5rpx solid red;
}
.conbox > view {
  width: calc(550rpx - 150rpx);
  height: 157rpx;
  margin: 5rpx 0;
}
</style>
