/<template>
    <div class="produce">
     <avue-crud :data="shop.swiperLists" :option="option" v-model:page='page' @search-change="searchs"
      @on-load="getList" @size-change="sizeChange" @current-change="currentChange" @selection-change="all">
 
       <template #menu-left="{size,row}">
         <el-button type="primary" color='#02A1E9' icon="el-icon-plus" @click="handleadd">新增</el-button>
         <el-button type="danger" @click="handalldel">批量删除</el-button>
       </template>
       <template #menu="{size,row}">
         <el-button type="primary" icon="el-icon-edit" @click="handleedit(row)">编辑</el-button>
         <el-button type="danger" icon="el-icon-delete" @click="handledel(row.imgId)">删除</el-button>
       </template>
       <template #imgUrl="scope">
         <img :src="scope.row.imgUrl" alt="" class="img1">
 
       </template>
     </avue-crud>
     <!-- 新增编辑弹窗 -->
     <el-dialog v-model="dialogVisible" :title="flag ? '新增' : '编辑'">
       <span>
         <el-form v-model="form" label-width="120px">
           <el-form-item label="轮播图片">
             <el-upload
               class="avatar-uploader"
               action="https://run.mocky.io/v3/9d059bf9-4660-45f2-925d-ce80ad6c4d15"
               :show-file-list="false"
             >
               <img v-if="form.imgUrl" :src="form.imgUrl" class="avatar" />
               <el-icon v-else class="avatar-uploader-icon"><Plus /></el-icon>
             </el-upload>
           </el-form-item>
           <el-form-item label="顺序">
             <el-input v-model="form.seq" />
           </el-form-item>
           <el-form-item label="状态">
             <el-radio-group v-model="form.status">
               <el-radio label='0'>禁用</el-radio>
               <el-radio label='1'>正常</el-radio>
             </el-radio-group>
           </el-form-item>
           <el-form-item label="类型">
             <el-radio-group v-model="form.type" @change="deleteRelation">
               <el-radio label="1">无</el-radio>
               <el-radio label="0" >商品</el-radio>
             </el-radio-group>
           </el-form-item>
         </el-form>
           <!-- 选择商品弹窗 -->
           <el-form-item >
         <div v-if="form.relation===null" class="checkbox">
           <div v-if="form.type === '0'">
             <el-button 
             v-show="checkList.pic===''"
               size="small" @click="handletype">
               选择商品
             </el-button>
             <div v-show="checkList.pic!==''" class="checks">
                 <img :src="checkList.pic" alt="" class="checkimg">
     
                   <p  class="checkp">{{checkList.prodName}}</p>
           
                <p @click="del" class="checkdel">删除</p>
             </div>
           </div>
            
             
           </div>
         </el-form-item>
       </span>
       <template #footer>
         <span class="dialog-footer">
           <el-button @click="dialogVisible = false">取消</el-button>
           <el-button type="primary" @click="confirm">
             确定
           </el-button>
         </span>
       </template>
     </el-dialog>
     <!-- 选择商品弹窗 -->
     <el-dialog v-model="dialogVisibles"  title="选择商品" @row-click="rowClick">
         <div class="group_table">
          
           <avue-crud :data="shop.swipertypelist" :option="options" v-model:page='pages'
             @on-load="gettype" @size-change="sizeChanges" @current-change="currentChanges">
             <template #radio="{row}">
               <el-radio v-model="selectRow"
                 :label="row.$index" @change="allcheck(row)"></el-radio>
           </template>
           </avue-crud>
         </div>
       <template #footer="{row}" >
         <span class="dialog-footer">
           <el-button @click="dialogVisible = false">取消</el-button>
           <el-button type="primary" @click="confirmtype">
             确定
           </el-button>
         </span>
       </template>
     </el-dialog>
     
   </div>
 </template>
 
 <script setup lang='ts'>
 import { reactive,ref } from 'vue'
 import {SwiperList,delswiper,swiperadd,swiperedit,swipertypelist,swipertypecheck} from '../../../../api/shop'
 import type { FormInstance, FormRules } from 'element-plus'
 import userStore from '../../../../store'
 import { ElMessage, ElMessageBox } from 'element-plus'
 const {shop}=userStore()
 
 const getList=async (params:any)=>{
     const res=await SwiperList({size:page.value.pageSize,current:page.value.currentPage,...params})
    //  console.log(res.data.records);
     shop.swiperLists=res.data.records
     shop.swiperLists.map((item: { imgUrl: string; })=>{
         item.imgUrl='http://img-test.gz-yami.com/'+item.imgUrl
     })
     page.value.total = res.data.total
     page.value.pageSize = res.data.size
     page.value.currentPage = res.data.current
 }
 // 选择商品数据
 const gettype=async(params:any)=>{
   const res=await swipertypelist({size:pages.value.pageSize,current:pages.value.currentPage,...params})
   shop.swipertypelist=res.data.records
   shop.swipertypelist.map((item: { imgUrl: string; })=>{
         item.imgUrl='http://img-test.gz-yami.com/'+item.imgUrl
     })
     pages.value.total = res.data.total
     pages.value.pageSize = res.data.size
     pages.value.currentPage = res.data.current
 }
 // 分页
 const page=ref( {
         total: 0, // 总页数
         currentPage: 1, // 当前页数
         pageSize: 10 // 每页显示多少条
       })
 const pages=ref( {
         total: 0, // 总页数
         currentPage: 1, // 当前页数
         pageSize: 10 // 每页显示多少条
       })
 getList({})
 gettype({})
 // 搜索
 const searchs=(params:any,done:any)=>{
   done()
   getList(params)
 }
 // 点击每页多少条
 const sizeChange = (val: number) => {
    page.value.pageSize = val;
    getList({ size: val })
 }
 //点击页码
 const currentChange = (val: number) => {
     page.value.currentPage = val;
     getList({ current: val })
 }
 // 点击每页多少条
 const sizeChanges = (val: number) => {
    page.value.pageSize = val;
    gettype({size:val})
 }
 //点击页码
 const currentChanges = (val: number) => {
     page.value.currentPage = val;
     gettype({current: val })
 }
  // 多选
  let allList=reactive([]) as number[]
 //多选
 const all=(selection:any)=>{
     allList=[]
     console.log(selection);
     
    selection.forEach((item:any) => {
      return allList.push(item.imgId)
    });
 }
 // 批量删除
 const handalldel=()=>{
   ElMessageBox.confirm(
     '确定进行批量[删除]操作?',
     '提示',
     {
       confirmButtonText: '确定',
       cancelButtonText: '取消',
       type: 'warning',
     }
   )
     .then(async() => {
       await delswiper(allList)
       getList({})
       ElMessage({
                 type: 'success',
                 message: '批量删除成功',
             })
     })
     .catch(() => {
       ElMessage({
         type: 'info',
         message: 'Delete canceled',
       })
     })
 }
 // 删除
 const handledel = (imgId:number) => {
   ElMessageBox.confirm(
     '确定进行[删除]操作?',
     '提示',
     {
       confirmButtonText: '确定',
       cancelButtonText: '取消',
       type: 'warning',
     }
   )
     .then(async() => {
       console.log(imgId);
       await delswiper([imgId])
       getList({})
       ElMessage({
                 type: 'success',
                 message: '删除成功',
             })
     })
     .catch(() => {
       ElMessage({
         type: 'info',
         message: 'Delete canceled',
       })
     })
 }
 // 新增
 const dialogVisible = ref(false)
 let flag = ref(false)
 const form = reactive({
   imgUrl: '',
   seq: '',
   des: "",
   status: '0',
   type:'',
   relation: null,
   link: null,
   pic: null,
   prodName: null,
   shopId:'',
   title: null,
   uploadTime:'',
   imgId:''
 })
 // 新增
 const handleadd=()=>{
   dialogVisible.value=true
   flag.value=true
   form.imgUrl='',
   form.seq='',
   form.status='0',
   form.type='0'
   checkList.value.pic=''
 }
 // 新增编辑确认弹框
 const confirm =async () => {
   // 判断是否是新增
   if(flag.value){
     await swiperadd({...form})
   }else{
     await swiperedit({...form})
     console.log(form,'===========');
     
     ElMessage({
                 type: 'success',
                 message: '编辑成功',
             })
   }
 
 getList({})
 dialogVisible.value=false
 }
 // 编辑
 const handleedit=(row:any)=>{
   dialogVisible.value=true
   flag.value=false
  //  console.log(row,'=====');
   form.imgUrl=row.imgUrl,
   form.seq=row.seq,
   form.status=String(row.status),
   form.type=String(row.type)
   form.relation=row.relation
   form.link=row.link
   form.pic=row.pic
   form.prodName=row.prodName
   form.shopId=row.shopId
   form.title=row.title
   form.uploadTime=row.uploadTime
   form.imgId=row.imgId
 }
 // 选择商品
 const dialogVisibles = ref(false)
 const deleteRelation=()=>{
       form.relation=null
 }
 let checkList=ref({
   pic:'',
   prodName:'',
   brief:'',
   categoryId:'',
   content:'',
   createTime:'',
   deliveryMode:'',
   deliveryTemplateId:'',
   imgUrl:'',
   imgs:'',
   oriPrice:'',
   price:'',
   prodId:'',
   putawayTime:'',
   shopId:'',
   shopName: null,
   skuList: null,
   soldNum: null,
   status:'',
   tagList:'',
   totalStocks:'',
   updateTime:'',
   version: null
 }) as any
 const allcheck=(selection:any)=>{
    checkList.value.pic=selection.pic
    checkList.value.prodName=selection.prodName
    checkList.value.brief=selection.brief
    checkList.value.categoryId=selection.categoryId
    checkList.value.content=selection.content
    checkList.value.createTime=selection.createTime
    checkList.value.deliveryMode=selection.deliveryMode
    checkList.value.deliveryTemplateId=selection.deliveryTemplateId
    checkList.value.imgUrl=selection.imgUrl
    checkList.value.imgs=selection.imgs
    checkList.value.oriPrice=selection.oriPrice
    checkList.value.price=selection.price
    checkList.value.prodId=selection.prodId
    checkList.value.putawayTime=selection.putawayTime
    checkList.value.shopId=selection.shopId
    checkList.value.shopName=selection.shopName
    checkList.value.skuList=selection.skuList
    checkList.value.soldNum=selection.soldNum
    checkList.value.status=selection.status
    checkList.value.tagList=selection.tagList
    checkList.value.totalStocks=selection.totalStocks
    checkList.value.updateTime=selection.updateTime
    checkList.value.version=selection.version
    console.log(selection);
    
 }
 // 弹出选择商品弹窗
 const handletype=()=>{
   dialogVisibles.value=true
 }
 // 确认
 const confirmtype =async () => {
   dialogVisibles.value=false
 }
 // 选择商品删除
 const del=()=>{
   checkList.value.pic=''
 }
 //单选
 const selectRow=ref(false)
 const rowClick=(row:any)=>{
   console.log(row);
   
 }
 const option={
         border: true,
         stripe: true,
         menuAlign: 'center',
         align: 'center',
         addBtn: false,
         editBtn: false,
         delBtn: false,
         selection: true,
         searchMenuSpan:4,
           column:[{
               label: '轮播图片',
               prop: 'imgUrl',
               type: 'upload',
               slot: true,
               listType: 'picture-img'
           },{
               label:'顺序',
               prop:'seq',
             },{
               label:'状态',
               prop: 'status',
               search: true,
               type: 'select',
               dicData: [
               {
                   label: '禁用',
                   value: 0
               }, {
                   label: '正常',
                   value: 1
               }
               ]
             }
           ]
         }
 const options={
         border: true,
         stripe: true,
         menuAlign: 'center',
         align: 'center',
         addBtn: false,
         editBtn: false,
         delBtn: false,
         // selection: true,
         // searchMenuSpan:4,
         menu: false, // 移除操作栏
           column:[
           {
               label: '',
               prop: 'radio',
               width: 60,
               hide: false,
         },
           {
               label:'产品名称',
               prop:'prodName',
             },{
               label: '产品图片',
               prop: 'pic',
               type: 'upload',
               slot: true,
               listType: 'picture-img'
           },
           ]
         }
 </script>
 <style lang='scss' scoped>
 .produce {
   width: 100%;
   height: 100%;
   padding: 24px;
   box-sizing: border-box;
 
   .button {
     color: #fff !important;
   }
 
   // form {
   //   width: 100%;
   //   display: flex;
   //   font-size: 12px !important;
 
   //   .el-form-item {
   //     margin-right: 10px;
   //   }
   // }
 
   .produce_table {
     margin-top: 10px;
   }
 }
 
 svg {
   margin-right: 5px;
 }
 .dialog-footer button:first-child {
   margin-right: 10px;
 }
 .avatar-uploader .el-upload {
   border: 1px dashed var(--el-border-color);
   border-radius: 6px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: var(--el-transition-duration-fast);
 }
 .avatar-uploader{
   border: 1px #ccc solid
 }
 .avatar-uploader .avatar {
   width: 178px;
   height: 178px;
   display: block;
 }
 .avatar-uploader .el-upload:hover {
   border-color: var(--el-color-primary);
 }
 
 .el-icon.avatar-uploader-icon {
   font-size: 28px;
   color: #8c939d;
   width: 178px;
   height: 178px;
   text-align: center;
 }
 .checkbox{
   width: 150px;
   height: 100px;
   margin-left: 100px;
 }
 .group{
         width: 100%;
         height: 100%;
         padding: 24px;
         box-sizing: border-box;
         form{
             width: 100%;
             display: flex;
             font-size: 12px !important;
             .el-form-item{
                 margin-right: 10px;
             }
         }
         .group_table{
             margin-top: 10px;
             .group_table_pagination{
                 width: 100%;
                 height: 50px;
                 display: flex;
                 align-items: center;
                 justify-content: flex-end;
             }
         }
     }
     .img1{
       width: 100px;
       height: 100px;
     }
     .checkbox{
       width: 85%;
       height: 90%;
     }
     .checks{
       width: 110px;
       height: 180px;
       background: #fff;
       border: 1px #ccc solid;
       box-shadow: 0 15px 15px 5px #eee;
       border-radius: 10px;
       overflow: hidden;
     }
     .checkp{
       width: 90px;
       font-size: 13px;
       margin-left: 5px;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
 
     }
     .checkimg{
       width: 100%;
       height: 110px;
     }
     .checkdel{
       margin-left:80px ;
       color: #02A1E9;
       font-size: 14px;
       cursor: pointer;
     }
 </style>