<template>
  <div class='menudiv'>
    <el-button type="primary" class="addbtn" @click="addmenu">新增</el-button>
    <!-- 表格 -->
    <el-table :data="system.menuTable" border style="width: 100%;" row-key="menuId">
      <el-table-column prop="name" header-align="center" treeKey="menuId" width="150" label="名称">
      </el-table-column>
      <el-table-column header-align="center" align="center" label="图标">
        <template #default="scope">
          <icon-svg :name="scope.row.icon || ''"></icon-svg>
        </template>
      </el-table-column>
      <el-table-column prop="type" header-align="center" align="center" label="类型">
        <template #default="scope">
          <el-tag v-if="scope.row.type === 0" size="small">目录</el-tag>
          <el-tag v-else-if="scope.row.type === 1" size="small" type="success">菜单</el-tag>
          <el-tag v-else-if="scope.row.type === 2" size="small" type="info">按钮</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="orderNum" header-align="center" align="center" label="排序号">
      </el-table-column>
      <el-table-column prop="url" header-align="center" align="center" width="150" :show-overflow-tooltip="true"
        label="菜单URL">
      </el-table-column>
      <el-table-column prop="perms" header-align="center" align="center" width="150" :show-overflow-tooltip="true"
        label="授权标识">
      </el-table-column>
      <el-table-column fixed="right" header-align="center" align="center" width="150" label="操作">
        <template #default="scope">
          <el-button type="text" size="small" @click="editmenu(scope.row)">修改</el-button>
          <el-button type="text" size="small" @click="deleteHandle(scope.row.menuId)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 弹框 -->
    <el-dialog :title='flag ? "新增" : "编辑"' v-model="addVisible">
      <el-form :model="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="120px">
        <el-form-item label="类型" prop="type">
          <el-radio-group v-model="dataForm.type">
            <el-radio v-for="(type, index) in dataForm.typeList" :label="index" :key="index">{{ type }}</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item :label="dataForm.typeList[dataForm.type] + '名称'" prop="name">
          <el-input v-model="dataForm.name" :placeholder="dataForm.typeList[dataForm.type] + '名称'"></el-input>
        </el-form-item>
        <el-form-item label="上级菜单">
          <el-cascader expand-trigger="hover" :options="system.MenuList" :props="menuListTreeProps" change-on-select>
          </el-cascader>
        </el-form-item>
        <el-form-item v-if="dataForm.type === 1" label="菜单路由" prop="url">
          <el-input v-model="dataForm.url" placeholder="菜单路由"></el-input>
        </el-form-item>
        <el-form-item v-if="dataForm.type !== 0" label="授权标识" prop="perms">
          <el-input v-model="dataForm.perms" placeholder="多个用逗号分隔, 如: user:list,user:create"></el-input>
        </el-form-item>
        <el-form-item v-if="dataForm.type !== 2" label="排序号" prop="orderNum">
          <el-input-number v-model="dataForm.orderNum" controls-position="right" :min="0" label="排序号"></el-input-number>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addVisible = false">取消</el-button>
        <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
      </span>
    </el-dialog>



  </div>
</template>

<script lang='ts' setup>
import { ref, reactive } from 'vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import userStore from '../../../../store'
import { del_menu,add_menu,edit_menu } from "../../../../api/system";

const { system } = userStore()
const getlist = async () => {
  await system.getmenuTable()
  await system.getMenuList()
}
getlist()

// 弹框
let flag = ref(false)
let addVisible = ref(false)
const dataForm = reactive({
  id: 0,
  type: 1,
  typeList: ['目录', '菜单', '按钮'],
  name: '',
  parentId: 0,
  url: '',
  perms: '',
  orderNum: 0,
  icon: '',
  iconList: []
});
const menuListTreeProps = {
  value: 'menuId',
  label: 'name'
}

// 新增
const addmenu = () => {
  addVisible.value = true;
  flag.value = true;
  dataForm.id=0;
  dataForm.type=1;
  dataForm.name='';
  dataForm.parentId=0;
  dataForm.url='';
  dataForm.perms='';
  dataForm.orderNum=0;
}
// 编辑
const editmenu = (row:any) => {
  addVisible.value = true;
  flag.value = false;
  dataForm.id=row.id;
  dataForm.type=row.type;
  dataForm.name=row.name;
  dataForm.parentId=row.parentId;
  dataForm.url=row.url;
  dataForm.perms=row.perms;
  dataForm.orderNum=row.orderNum;
}
// 表单确认
const dataFormSubmit = async () => {
  if (flag.value) {
    let res: any = await add_menu({
                'menuId': dataForm.id || undefined,
                'type':dataForm.type,
                'name': dataForm.name,
                'parentId': dataForm.parentId,
                'url': dataForm.url,
                'perms': dataForm.perms,
                'orderNum': dataForm.orderNum,
                'icon': dataForm.icon
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '新增成功',
      })
      getlist()
    }
    else {
      ElMessage({
        type: 'info',
        message: '新增失败',
      })
    }
  } else {
    let res: any = await edit_menu({
      'menuId': dataForm.id || undefined,
                'type':dataForm.type,
                'name': dataForm.name,
                'parentId': dataForm.parentId,
                'url': dataForm.url,
                'perms': dataForm.perms,
                'orderNum': dataForm.orderNum,
                'icon': dataForm.icon
    });
    if (res.status === 200) {
      ElMessage({
        type: 'success',
        message: '编辑成功',
      })
      getlist()
    }
    else {
      ElMessage({
        type: 'info',
        message: '编辑失败',
      })
    }
  }
  getlist()
  addVisible.value = false;
}
// 删除
const deleteHandle=(id:string)=>{
  ElMessageBox.confirm(
    '确定进行[删除]操作？',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      let res: any = await del_menu(id)
      if (res.status === 200) {
        ElMessage({
          type: 'success',
          message: '删除成功',
        })
        getlist()
      }
      else {
        ElMessage({
          type: 'info',
          message: '删除失败',
        })
      }
    })
}
</script>

<style lang='scss' scoped>
.menudiv {
  padding: 20px;

  .addbtn {
    margin-bottom: 20px;
  }

  .cell {
    width: 40px !important;
    height: 40px !important;
  }

  icon-svg {
    width: 40px !important;
    height: 40px !important;
  }
}
</style>