<template>
    <div class="common-layout">
        <el-container>
            <el-aside width="200px">
                <MenuNav />
            </el-aside>
            <el-container>
                <el-header>Header</el-header>
                <el-main>
                    <RouterView />
                </el-main>
            </el-container>
        </el-container>
    </div>
</template>

<script lang="ts" setup>
import MenuNav from '../menuNav/index.vue'
</script>

<style>
.el-container {
    height: 100%;
}

.el-header {
    height: 60px;
}

</style>