/<template>
  <!-- 搜索 -->
  <view class="searchs">
    <div class="top">
      <span class="sp">
        <icon type="search" :size="14" class="ic" />
        <input
          type="text"
          placeholder="输入关键字搜索"
          v-model="vallue"
          class="inp"
          @blur="confims"
        />
      </span>
      <span class="sp1" @click="cancel">取消</span>
    </div>
    <div class="mid">
      <text class="hots">热门搜索</text>
      <view>
        <text
          v-for="item in hotList"
          :key="item.hotSearchId"
          class="iinp"
          @click="goToPages(item.content)"
          >{{ item.title }}</text
        >
      </view>
    </div>
    <div class="btm">
      <view class="see">
        <text class="hotsl">搜索历史</text>
        <view class="icon">
          <img src="../../static/搜索/删除.png" alt="" @click="del" />
        </view>
      </view>
      <text
        v-for="(item, index) in inpList"
        :key="index"
        class="iinp"
        @click="goPages(item)"
      >
        {{ item }}
      </text>
    </div>
  </view>
</template>

<script>
import { getAllhotsea } from "../../services/search";
export default {
  data() {
    return {
      vallue: "",
      inpList: [],
      hotList: [],
    };
  },
  onLoad() {
    this.inpList = uni.getStorageSync("searchData") || []; //获取本地缓存本地缓存
    this.getAllhotsea();
  },
  methods: {
    async getAllhotsea() {
      //热门搜索
      const res = await getAllhotsea({
        number: 10,
        shopId: 1,
        sort: 1,
      });
      console.log(res);
      this.hotList = res;
    },
    cancel() {
      uni.navigateBack();
    },
    confims() {
      //失焦点击
      if (!this.vallue.length) {
        return;
      }
      this.$goPage({
        url: "/detailPkg/search/searchDeatil",
        query: {
          inp: this.vallue,
        },
      });
      setTimeout(() => {
        if (this.inpList.filter((item) => item === this.vallue).length) {
          return;
        }
        this.inpList.push(this.vallue);
        uni.setStorageSync("searchData", this.inpList);
      }, 2000);
    },
    del() {
      uni.removeStorageSync("searchData");
      this.inpList = null;
    },
    goPages(title) {
      this.$goPage({
        url: "/detailPkg/search/searchDeatil",
        query: { inp: title },
      });
    },
    goToPages(content) {
      this.$goPage({
        url: "/detailPkg/search/searchDeatil",
        query: { inp: content },
      });
    },
  },
};
</script>

<style scoped>
.searchs {
  width: 100%;
  height: 100%;
}
.top {
  width: 100%;
  height: 100rpx;
  margin-top: 15rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgb(225, 225, 225);
}
.sp {
  width: 78%;
  display: flex;
  background: rgba(247, 247, 247);
  height: 65rpx;
  border-radius: 26rpx;
  margin-left: 6rpx;
}
.inp {
  width: 85%;
  height: 65rpx;
  margin-left: 8%;
  line-height: 65rpx;
  font-size: 24rpx;
}
.ic {
  position: absolute;
  top: 35%;
  left: 5%;
}
.sp1 {
  font-size: 24rpx;
  color: #dc143c;
}
.mid {
  width: 96%;
  margin-left: 2%;
  border-bottom: 1px solid rgb(225, 225, 225);
  margin-top: 26rpx;
  margin-bottom: 26rpx;
  padding-bottom: 30rpx;
}
.hots {
  font-size: 26rpx;
  color: #a9a9a9;
}
.see {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotsl {
  font-size: 26rpx;
  color: #a9a9a9;
}
.btm {
  width: 96%;
  margin-left: 2%;
  height: 260rpx;
  margin-top: 26rpx;
}
.icon {
  width: 42rpx;
  height: 42rpx;
}
.icon img {
  width: 100%;
  height: 100%;
}
.iinp {
  display: inline-block;
  padding: 20rpx;
  background: rgba(242, 242, 242);
  font-size: 28rpx;
  border-radius: 35rpx;
  margin: 10rpx;
}
</style>