/<template>
  <!-- 搜索 -->
  <view class="searchs">
    <view class="top">
      <span class="sp">
        <icon type="search" :size="14" class="ic" />
        <input
          type="text"
          placeholder="输入关键字搜索"
          v-model="inp"
          class="inp"
          @blur="confims"
        />
      </span>
      <cover-image :src="src" alt="" class="inimg" @click="changeimg" />
    </view> 
    <!-- 下 -->
    <view class="btm">
      <text
        v-for="(item, index) in titleList"
        :key="index"
        :class="index === cindex ? 'active' : ''"
        @click="changeIndex(index)"
        >{{ item }}</text
      >
    </view>
    <!-- 渲染数据 -->
    <view :class="displa == 'one' ? 'once' : 'onse'">
      <SearchItem
        v-for="item in sDeaList"
        :key="item.prodId"
        :item="item"
        :displa="displa"
      />
    </view>
  </view>
</template>

<script>
import { getTabHotSearch } from "../../services/search";
import SearchItem from "../../components/index/SearchItem";
export default {
  components: {
    SearchItem,
  },
  data() {
    return {
      inp: "",
      src: "../../static/搜索/search-col2.png",
      titleList: ["综合", "销量", "价格"],
      cindex: 0,
      sDeaList: [],
      displa: "one",
    };
  },
  onLoad(options) {
    this.inp = options.inp;
    this.getTabHotSearch();
  },
  methods: {
    confims() {
      this.getTabHotSearch();
    },
    async getTabHotSearch() {
      const res = await getTabHotSearch({
        prodName: this.inp,
        shopId: this.cindex,
        sort: this.cindex,
      });
      console.log(res.records);
      this.sDeaList = res.records;
    },
    changeimg() {
      this.src =
        this.src === "../../static/搜索/search-col2.png"
          ? "../../static/搜索/search-col.png"
          : "../../static/搜索/search-col2.png";

      this.displa =
        this.src === "../../static/搜索/search-col2.png" ? "one" : "two";
    },
    changeIndex(index) {
      this.cindex = index;
      this.getTabHotSearch();
    },
  },
};
</script>

<style scoped>
.searchs {
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244);
}
.top {
  width: 100%;
  height: 100rpx;
  margin-top: 15rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: #fff;
}
.sp {
  width: 78%;
  display: flex;
  background: rgba(247, 247, 247);
  height: 65rpx;
  border-radius: 26rpx;
  margin-left: 6rpx;
}
.inp {
  width: 85%;
  height: 65rpx;
  margin-left: 8%;
  line-height: 65rpx;
  font-size: 24rpx;
}
.ic {
  position: absolute;
  top: 35%;
  left: 5%;
}
.inimg {
  width: 40rpx;
  height: 40rpx;
}
.btm {
  width: 100%;
  height: 66rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  font-size: 26rpx;
  box-shadow: 0 4px 10px 0 rgba(83, 83, 83, 0.288);
}
.active {
  color: red;
}
.once {
  padding: 48rpx;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244);
  box-sizing: border-box;
}
.onse {
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244);
  /* width: 100%;
  height: 100%;
  background: #c8c8c8;
  padding: 48rpx;
  box-sizing: border-box;
  display: flex; */
}
</style>