<template>
  <div class="login">
    <div class="login-box">
      <div class="top">
        <img src="../../../static/img/logo.png" alt="">
      </div>
      <div class="mid">
        <el-form  :model="dataForm"  ref="ruleFormRef" :rules="rulesConfig">
          <el-form-item prop="username">
            <el-input v-model="dataForm.username" placeholder="账号" size="large"/>
          </el-form-item>
          <el-form-item prop="pwd">
            <el-input v-model="dataForm.pwd" type="password" placeholder="密码" size="large"/>
          </el-form-item>
          <el-form-item prop="code">
            <el-input v-model="dataForm.code" placeholder="验证码"  size="large" class="w-50"/>
            <img @click="getNewCode" style="width:150px;marginLeft:20px;" :src="dataForm.captchaImg" alt="">
          </el-form-item>
          <el-form-item>
            <el-button type="primary" style="width:100%;height:40px;" @click="submitForm(ruleFormRef)">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {reactive} from 'vue'
import { ref } from 'vue';
import { uuid } from 'vue-uuid'
import useStore from '../../store'
import type { FormInstance,FormRules } from 'element-plus'
import { rulesConfig } from './rule'
import { _login } from '../../api/login'
import local from '../../utils/util'
import {valid} from "semver"
import {useRouter} from 'vue-router';
import { ElMessage } from 'element-plus'
const router=useRouter()
const { login }=useStore();
const ruleFormRef = ref<FormInstance>()
const dataForm=reactive({
  code:'',
  username:'',
  pwd:'',
  uuidCode:'',
  captchaImg:''
})
const rules=reactive<FormRules>(rulesConfig)

const getCode=()=>{
  dataForm.uuidCode=uuid.v4()
  dataForm.captchaImg=ref(`/api/captcha.jpg?uuid=${dataForm.uuidCode}`) as any
}
getCode()
// 点击重新获取验证码
const getNewCode=()=>{
  getCode()
}

const submitForm= async (ruleFormRef:FormInstance|undefined)=>{  
 if(!ruleFormRef) return;
 await ruleFormRef.validate(async (valid,fields)=>{
   if (valid) {
    //  发起http请求
  await login.loginAction({
       credentials:dataForm.pwd,
       imageCode:dataForm.code,
       principal:dataForm.username,
       sessionUUID:dataForm.uuidCode,
     })
       router.push('/home')
   }else{
      ElMessage.error(`${fields}输入错误`)
   }
 })
}
</script>

<style lang="scss" scoped>
  .login{
    width: 100%;
    height: 100%;
    background: url(/static/img/login-bg.909c916.png) no-repeat;
    background-size: cover;
    position: fixed;
    .login-box{
      width: 410px;
      height: 100%;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 100%;
      padding-top: 10%;
      .top{
        width: 100%;
        height: 44px;
        margin-bottom: 30px;
        text-align: center;
      }
      .mid{
        .w-50{
          width: 230px;
        }
      }
    }
  }
</style>