<template>
  <div class="index">
    <main>
      <avue-crud :option="tableOption" :data="shop.pickList" v-model:page="page" @size-change="sizeChange"
        @current-change="currentChange" @search-change="Search" @selection-change="all">
        <!-- 新增按钮 -->
        <template #menu-left="{ size }">
          <el-button type="primary" @click="addList"><span>+</span> 新增</el-button>
          <el-button type="danger" @click="deleteList">批量删除</el-button>
        </template>
        <!-- 操作 -->
        <template #menu="{ row, index, size }">
          <el-button type="primary" :size="size" icon="el-icon-edit" @click="updateList(row)">
            编辑
          </el-button>
          <el-button type="danger" :size="size" icon="el-icon-delete" @click="deleteList(row,'dan')">
            删除
          </el-button>
        </template>
      </avue-crud>
    </main>
    <el-dialog v-model="dialogVisible" :title="flag ? '新增' : '编辑'" width="65%">
      <span>
        <el-form :model="form" :rules="darules" label-width="120px">
          <el-form-item label="名称" prop="addrName">
            <el-input v-model="form.addrName" />
          </el-form-item>
          <el-form-item label="省份">
            <el-select v-model="valu" class="m-2" placeholder="请选择" size="large">
              <el-option v-for="item in city" :key="city.areaId" :value="item.areaName" @click='sel(item)' />
            </el-select>
            <el-select v-model="valu1" class="m-2" placeholder="请选择" size="large">
              <el-option v-for="item in city1" :key="city.areaId" :value="item.areaName" @click='sel1(item)' />
            </el-select>
            <el-select v-model="valu2" class="m-2" placeholder="请选择" size="large">
              <el-option v-for="item in city2" :key="city.areaId" :value="item.areaName" @click='sel2(item)' />
            </el-select>
          </el-form-item>
          <el-form-item label="地址" prop="addr">
            <el-input v-model="form.addr" />
          </el-form-item>
          <el-form-item label="手机号" prop="mobile">
            <el-input v-model="form.mobile" />
          </el-form-item>
        </el-form>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button type="primary" @click="confirm">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
  
<script setup lang="ts">
import { ref, reactive } from 'vue'
import { tableOption } from '../../../../crud/shop/pickAddr'
import { _getpicktList, _getaddrList , _addpicktList ,_updatepicktList,_deletepickList} from '../../../../api/shop'
import userStore from '../../../../store'
import { ElMessage, ElMessageBox } from 'element-plus'
const { shop } = userStore()
let allList=reactive([]) as number[]
//多选
const all=(selection:any)=>{
    allList=[]
   selection.forEach((item:any) => {
     return allList.push(item.addrId)
   });
}
//删除
const deleteList = async (row: any,a:string) => {
  // console.log(row);
  
    if (a === undefined) {
        ElMessageBox.confirm(
        '确定要进行[批量删除]操作?',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            await _deletepickList(allList)
            getList({});
            ElMessage({
                type: 'success',
                message: '删除成功',
            })
        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
    }else{
        ElMessageBox.confirm(
        '确定要进行[删除]操作?',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            await _deletepickList([row.addrId])
            getList({});
            ElMessage({
                type: 'success',
                message: '删除成功',
            })
        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
    }
}
//分页
let page = ref({
  total: 0,
  currentPage: 1,
  pageSize: 10,
})
const sizeChange = (val: number) => {
  page.value.pageSize = val
  getList({ size: val })
}
const currentChange = (val: number) => {
  page.value.currentPage = val
  getList({ current: val })
}
//获取数据
const getList = async (query: any) => {
  const { data } = await _getpicktList({ ...query, size:page.value.pageSize,current:page.value.currentPage });
  console.log(data);
  shop.pickList = data.records
  page.value.total = data.total
  page.value.currentPage = data.current
  page.value.pageSize = data.size
}
getList({})
//分页
const Search = (params: any, done: () => void) => {
  getList({ ...params })
  done();
}
let dialogVisible = ref(false)
let flag = ref(false)
const form = reactive({
  addrName: '',
  addr: '',
  mobile: '',
  addrId:0,
})
//新增
const addList = () => {
  dialogVisible.value = true;
  flag.value = true;
  form.addrName='';
  form.addr='';
  form.mobile='';
  valu.value = '请选择'
  valu1.value = '请选择'
  valu2.value = '请选择'
}
//编辑
const updateList = (row: any) => {
  console.log(row);
  
  dialogVisible.value = true
  flag.value = false
  form.addrName=row.addrName;
  form.addr=row.addr;
  form.mobile=row.mobile;
  form.addrId=row.addrId;
  valu.value = row.province
  valu1.value = row.city
  valu2.value = row.area
}
//点击确定按钮
const confirm = async () => {
  //新增
  if (flag.value) {
     await _addpicktList({ ...form ,province:valu.value,city:valu1.value,area:valu2.value})
  } else {//编辑
    // console.log(form);
     await _updatepicktList({ ...form ,province:valu.value,city:valu1.value,area:valu2.value})
  }
  dialogVisible.value = false;
  getList({});
}



//三级联动

let valu = ref('请选择')
let valu1 = ref('请选择')
let valu2 = ref('请选择')
let city = ref([]) as any
let city1 = ref([]) as any
let city2 = ref([]) as any
const getaddrList = async (query: any) => {
  const { data } = await _getaddrList(query)
  city.value = data
}
getaddrList({ pid: 0 })
//省
const sel = async (val: any) => {
  valu.value = val.areaName
  const { data } = await _getaddrList({ pid: val.areaId })
  city1.value = data
  valu1.value='请选择';
}
//市
const sel1 = async (val: any) => {
  valu1.value = val.areaName
  const { data } = await _getaddrList({ pid: val.areaId })
  city2.value = data
  valu2.value='请选择';
}
//区
const sel2 =(val:any)=>{
  valu2.value = val.areaName
}

//表单正则
const res=/^(?:(?:\+|00)86)?1[3-9]\d{9}$/
const validatePass = (rule:any,value:any, callback:any) => {
     if (!res.test(value)) {
        callback(new Error("手机号格式不正确"));
      } else {
        callback();
      }
    };
// 校验
const darules = reactive({
          addrName: [ { required: true, message: '自提点名称不能为空', trigger: 'blur' }],
          addr: [{ required: true, message: '地址不能为空', trigger: 'blur' }],
          mobile: [{ required: true, message: '手机号不能为空', trigger: 'blur' },
                   { validator: validatePass, trigger: "blur" },  ],
        })

</script>
  
<style lang="scss" scoped>
.index {
  width: 100%;
  height: 100%;
}

main {
  padding: 15px;
}
</style>