<template>
  <view class="index">
    <view class="uni-item">
      <view class="title">收&nbsp;货&nbsp;人</view>
      <input
        class="uni-input"
        placeholder="姓名"
        :value="name"
        @change="
          (e) => {
            this.name = e.target.value;
          }
        "
      />
    </view>
    <view class="uni-item">
      <view class="title">手机号码</view>
      <input
        class="uni-input"
        placeholder="11位手机号"
        maxlength="11"
        :value="phone"
        @change="
          (e) => {
            this.phone = e.target.value;
          }
        "
      />
    </view>
    <view class="uni-item">
      <view class="title"> 所在地区 </view>
      <view>
        <view @click="open">
          {{ province }}
          {{ city }}
          {{ area }}
        </view>
      </view>
    </view>

    <view class="uni-item">
      <view class="title">详细地址</view>
      <input
        class="uni-input"
        placeholder="如楼号/单元/门牌号"
        :value="addr"
        @change="
          (e) => {
            this.addr = e.target.value;
          }
        "
      />
      <p class="uni-item-p" @click="goMap">
        <image src="../../../../static/my/addr.png" mode="" />
        <span class="dizhi">地图选址</span>
      </p>
    </view>
    <view class="btn">
      <button @click="updateadd" class="bao">保存收货地址</button>
    </view>
    <view v-if="addrId !== 'undefined'" class="btn">
      <button @click="deleteAddress" class="shan">删除收货地址</button>
    </view>
    <view class="xuan" v-if="visible">
      <view class="xuan_title"
        ><p
          @click="
            () => {
              this.visible = false;
            }
          "
        >
          确定
        </p></view
      >
      <picker-view :value="keys" class="xuan_cont" @change="chageKey">
        <picker-view-column>
          <view class="item" v-for="(item, index) in city0" :key="index">{{
            item.areaName
          }}</view>
        </picker-view-column>
        <picker-view-column>
          <view class="item" v-for="(item, index) in city1" :key="index">{{
            item.areaName
          }}</view>
        </picker-view-column>
        <picker-view-column>
          <view class="item" v-for="(item, index) in city2" :key="index">{{
            item.areaName
          }}</view>
        </picker-view-column>
      </picker-view>
    </view>
  </view>
</template>

<script>
import {
  getAddressdata,
  getCity,
  updateAddr,
  addAddress,
  deleteRess,
} from "@/services/user";
const chooseLocation = requirePlugin("chooseLocation");
export default {
  data() {
    return {
      index: 0,
      visible: false,
      keys: [0, 0, 0],
      city0: [],
      city1: [],
      city2: [],
      addrId: "",
      name: "",
      phone: "",
      province: "",
      city: "",
      area: "",
      addr: "",
      List: {},
    };
  },
  async onLoad(option) {
    await this.getList();
    await this.getEcho(Number(option.id));
    this.addrId = option.id;
  },
  // 从地图选点插件返回后，在页面的onShow生命周期函数中能够调用插件接口，取得选点结果对象
  onShow() {
    const location = chooseLocation.getLocation();
    if (location !== null) {
      this.addr = location.name;
      this.province = location.province;
      this.city = location.city;
      this.area = location.district;
    }
  },
  onUnload() {
    // 页面卸载时 清除
    chooseLocation.setLocation(null);
  },
  methods: {
    //提示弹窗
    showLoading(title) {
      uni.showToast({
        title: title,
        icon: "none",
        duration: 2000,
      });
    },
    //跳转选址
    goMap() {
      const key = "JE4BZ-4OJWK-PL3JK-ABZOY-5YGUE-YOFNS";
      const referer = "八维电商平台";
      const location = JSON.stringify({
        latitude: 39.89631551,
        longitude: 116.323459711,
      });
      const category = "生活服务";
      wx.navigateTo({
        url: `plugin://chooseLocation/index?key=${key}&referer=${referer}&location=${location}&category=${category}`,
      });
    },
    bindCityChange(e) {
      console.log("picker发送选择改变，携带值为", e.target.value);
      this.index = e.target.value;
    },
    async chageKey(e) {
      this.keys = e.target.value;
      // console.log(this.keys);
      this.city1 = await this.getcity(this.keys);
      if (this.keys[1] > this.city1.length) {
        this.keys[1] = 0;
      }
      this.city2 = await this.getcity1(this.keys);
      this.province = this.city0[this.keys[0]].areaName;
      this.city = this.city1[this.keys[1]].areaName;
      this.area = this.city2[this.keys[2]].areaName;
    },
    //获取省市区
    async getList() {
      const arrList = await getAddressdata({ pid: 0 });
      this.city0 = arrList;
      this.city1 = await this.getcity(this.keys);
      this.city2 = await this.getcity1(this.keys);
      this.province = this.city0[this.keys[0]].areaName;
      this.city = this.city1[this.keys[1]].areaName;
      this.area = this.city2[this.keys[2]].areaName;
    },
    //获取市
    async getcity(key) {
      return await getAddressdata({ pid: this.city0[key[0]].areaId });
    },
    //获取区
    async getcity1(key) {
      return await getAddressdata({ pid: this.city1[key[1]].areaId });
    },
    //点击出现三级联动
    open() {
      this.visible = true;
    },
    //刚一进判断是新增还是编辑
    async getEcho(addrId) {
      if (addrId !== "undefined") {
        const arr = await getCity(addrId);
        this.List = arr;
        this.name = arr.receiver;
        this.phone = arr.mobile;
        this.province = arr.province;
        this.city = arr.city;
        this.area = arr.area;
        this.addr = arr.addr;
      } else {
        this.name = "";
        this.phone = "";
        this.province = this.city0[this.keys[0]].areaName;
        this.city = this.city1[this.keys[1]].areaName;
        this.area = this.city2[this.keys[2]].areaName;
        this.addr = "";
      }
    },
    //编辑新增地址
    async updateadd() {
      //编辑
      if (this.addrId !== "undefined") {
        if (this.name === "") {
          this.showLoading("请输入收货人姓名");
          return;
        } else if (!/^1[3-9]\d{9}$/.test(this.phone)) {
          this.showLoading("请输入正确的手机号");
          return;
        } else {
          await updateAddr({
            addr: this.addr,
            addrId: Number(this.addrId),
            area: this.area,
            areaId: 0,
            city: this.city,
            cityId: 0,
            mobile: this.phone,
            postCode: "",
            province: this.province,
            provinceId: 0,
            receiver: this.name,
            commonAddr:0
          });
        }
      } else {
        //新增
        if (this.name === "") {
          this.showLoading("请输入收货人姓名");
          return;
        } else if (!/^1[3-9]\d{9}$/.test(this.phone)) {
          this.showLoading("请输入正确的手机号");
          return;
        } else {
          await addAddress({
            addr: this.addr,
            addrId: 0,
            area: this.area,
            areaId: 0,
            city: this.city,
            cityId: 0,
            mobile: this.phone,
            postCode: "",
            province: this.province,
            provinceId: 0,
            receiver: this.name,
          });
        }
      }
      uni.navigateBack();
    },
    //删除地址
    deleteAddress() {
      const that = this;
      if (this.List.commonAddr === 1) {
        this.showLoading("默认地址不能删除");
        return;
      } else {
        uni.showModal({
          title: "要取消此订单",
          content: "",
          mask: true,
          showCancel: true,
          success: async ({ confirm, cancel }) => {
            if (confirm) {
              await deleteRess(that.List.addrId);
              uni.navigateBack();
            }
          },
        });
      }
    },
  },
};
</script>

<style scoped>
.index {
  width: 100%;
  height: 100%;
}
.uni-item {
  width: 90%;
  height: 100rpx;
  border-bottom: 1rpx #ccc solid;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.title {
  width: 25%;
}
.uni-item-p {
  display: flex;
  align-items: center;
}
.uni-item-p image {
  width: 40rpx;
  height: 40rpx;
}
.dizhi {
  font-size: 28rpx;
}
.xuan {
  width: 100%;
  height: 400rpx;
  position: fixed;
  background: #fff;
  bottom: 20rpx;
}
.xuan_title {
  width: 100%;
  height: 100rpx;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1rpx #e9eaec solid;
}
.xuan_title p {
  margin-right: 20rpx;
}
.xuan_cont {
  width: 100%;
  height: 300rpx;
  margin-left: 12%;
}
.btn {
  width: 100%;
  height: 100rpx;
  margin-top: 30rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bao {
  width: 400rpx;
  height: 80rpx;
  border-radius: 80rpx;
  background: rgba(235, 36, 68);
  color: #fff;
}
.shan {
  width: 400rpx;
  height: 80rpx;
  border-radius: 80rpx;
  background: rgba(250, 244, 245);
  color: rgba(235, 36, 68);
  border: 1rpx rgba(235, 36, 68) solid;
}
</style>