<template>
  <div class="produce">
    <avue-crud :data="timing.timingLists" :option="option" v-model:page='page' @search-change="searchs"
      @on-load="getList" @size-change="sizeChange" @current-change="currentChange" @selection-change="all">
      <template #menu-left="{}">
        <el-button type="primary" color='#02A1E9' @click="handleadd">新增</el-button>
        <el-button type="danger" @click="handlalldel"  >批量删除</el-button>
        <el-button type="danger" @click="handleallstop">批量暂停</el-button>
        <el-button type="danger" @click="handleallopen">批量恢复</el-button>
        <el-button type="danger" @click="handallrun">批量立即执行</el-button>
        <el-button type="success" @click="timelog">日志列表</el-button>
      </template>
      <template #menu="{ size, row }">
        <span class="operations" @click="handedit(row)">修改</span>
        <span class="operations" @click="handledel(row.jobId)">删除</span>
        <span class="operations" @click="handlestop(row.jobId, row.status)">暂停</span>
        <span class="operations" @click="handleopen(row.jobId, row.status)">恢复</span>
        <span class="operations" @click="handlerun(row.jobId)">立即执行</span>
      </template>
      <template #status="scope">
        <el-tag v-if="scope.row.status === 1" size="small" type="danger">暂停</el-tag>
        <el-tag v-else size="small">正常</el-tag>
      </template>
    </avue-crud>
    <div class="group_table_pagination">
    </div>
    <!-- 新增编辑弹窗 -->
    <el-dialog v-model="dialogVisible" :title="flag ? '新增' : '编辑'">
      <el-form ref="ruleFormRef" :model="form" :rules="darules">
        <el-form-item label="bean名称" prop="beanName">
          <el-input v-model="form.beanName" placeholder="spring bean名称, 如: testTask" />
        </el-form-item>
        <el-form-item label="方法名称" prop="methodName">
          <el-input v-model="form.methodName" placeholder="方法名称" />
        </el-form-item>
        <el-form-item label="参数">
          <el-input v-model="form.params" placeholder="参数" />
        </el-form-item>
        <el-form-item label="cron表达式" prop="cronExpression">
          <el-input v-model="form.cronExpression" placeholder="如: 0 0 12 * * ?" />
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="form.remark" placeholder="备注" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button type="primary" @click="confirm">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
    <!-- 日志弹窗 -->
    <el-dialog v-model="dialogVisibles" title="选择商品" width="90%">
      <span>
        <avue-crud :data="timing.timinglogList" :option="options" v-model:page='pages' @on-load="getlog"
          @size-change="sizeChanges" @current-change="currentChanges">
        </avue-crud>
      </span>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button type="primary" @click="confirmtype">
            确定
          </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang='ts'>
import { reactive, ref } from 'vue'
import { gettimer, timerdel, timeadd, timeedit, timingloge, timestop, timesopen, timerun } from '../../../../api/timing'
import userStore from '../../../../store'
import { ElMessage, ElMessageBox, selectKey } from 'element-plus'
import type { FormInstance, FormRules } from 'element-plus'
const { timing } = userStore()
// 列表数据
const getList = async (params: any) => {
  const res = await gettimer({ size: page.value.pageSize, current: page.value.currentPage, ...params })
  console.log(res.data.records)
  timing.timingLists = res.data.records
  page.value.total = res.data.total
  page.value.pageSize = res.data.size
  page.value.currentPage = res.data.current
}
const getlog = async (params: any) => {
  const res = await timingloge({ size: page.value.pageSize, current: page.value.currentPage, ...params })
  timing.timinglogList = res.data.records
  pages.value.total = res.data.total
  pages.value.pageSize = res.data.size
  pages.value.currentPage = res.data.current
}
const page = ref({
  total: 0, // 总页数
  currentPage: 1, // 当前页数
  pageSize: 10 // 每页显示多少条
})
const pages = ref({
  total: 0, // 总页数
  currentPage: 1, // 当前页数
  pageSize: 10 // 每页显示多少条
})
getList({})
getlog({})
// 点击每页多少条
const sizeChange = (val: number) => {
  page.value.pageSize = val;
  getList({ size: val })
}
//点击页码
const currentChange = (val: number) => {
  page.value.currentPage = val;
  getList({ current: val })
}
// 点击每页多少条
const sizeChanges = (val: number) => {
  page.value.pageSize = val;
  getlog({ size: val })
}
//点击页码
const currentChanges = (val: number) => {
  page.value.currentPage = val;
  getlog({ current: val })
}
// 搜索
const searchs = (params: any, done: any) => {
  done()
  getList(params)
}
// 删除
const handledel = (jobId: number) => {
  ElMessageBox.confirm(
    '确定进行删除操作?',
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async () => {
      console.log(jobId);
      await timerdel(jobId)
      getList({})
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
// 多选
let allList=reactive([]) as number[]
//多选
const all=(selection:any)=>{
    allList=[]
    console.log(selection);
    
   selection.forEach((item:any) => {
     return allList.push(item.jobId)
   });
}
// 批量删除
const handlalldel=()=>{
  ElMessageBox.confirm(
        '确定要进行[批量删除]操作?',
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            await timerdel(allList)
            getList({});
            ElMessage({
                type: 'success',
                message: '批量删除成功',
            })
        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
}
// 新增
const dialogVisible = ref(false)
let flag = ref(false)
const form = reactive({
  beanName: '',
  methodName: '',
  params: '',
  cronExpression: '',
  remark: '',
  status: 0,
  jobId: 0
})
// 校验
const darules = reactive<FormRules>({
  beanName: [
    { required: true, message: 'beanName不能为空', trigger: 'blur' }
  ],
  methodName: [
    { required: true, message: '方法名称不能为空', trigger: 'blur' }
  ],
  cronExpression: [
    { required: true, message: 'cron表达式不能为空', trigger: 'blur' }
  ]
})
const handleadd = () => {
  dialogVisible.value = true
  flag.value = true
  form.beanName = ''
  form.methodName = ''
  form.params = ''
  form.cronExpression = ''
  form.remark = ''
}
const confirm = async () => {
  // 判断是否是新增
  if (flag.value) {
    await timeadd({ ...form })
  } else {
    console.log(form, 'form');

    await timeedit({ ...form })
  }

  getList({})
  dialogVisible.value = false
}
// 修改
const handedit = (row: any) => {
  dialogVisible.value = true
  flag.value = false
  console.log(row, '=====');
  form.beanName = row.beanName
  form.methodName = row.methodName
  form.params = row.params
  form.cronExpression = row.cronExpression
  form.remark = row.remark
  form.status = row.status
  form.jobId = row.jobId

}
/// 批量暂停
const handleallstop=()=>{
  ElMessageBox.confirm(
      `确定进行批量暂停操作?`,
        '提示',
        {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
        }
    )
        .then(async () => {
            await timestop(allList)
            getList({});
            ElMessage({
                type: 'success',
                message: '批量暂停成功',
            })
        })
        .catch(() => {
            ElMessage({
                type: 'info',
                message: '取消删除',
            })
        })
}
// 暂停
const handlestop=(jobId:number,status:number)=>{
  ElMessageBox.confirm(
    `确定对[id=${jobId}]进行暂停操作?`,
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async() => {
      await timestop([jobId])
      console.log(status,'===========');
      getList({})
      ElMessage({
                type: 'success',
                message: '暂停成功',
            })
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
// 批量恢复
const handleallopen=(jobId:number)=>{
  ElMessageBox.confirm(
    `确定对[id=${jobId}]进行批量恢复操作?`,
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async() => {
      await timesopen(allList)
      // console.log(jobId,'===========');
      getList({})
      ElMessage({
                type: 'success',
                message: '批量恢复成功',
            })
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
// 恢复
const handleopen=(jobId:number,status:number)=>{
  ElMessageBox.confirm(
    `确定对[id=${jobId}]进行恢复操作?`,
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async() => {
      await timesopen([jobId])
      console.log(jobId,'===========');
      
      getList({})
      ElMessage({
                type: 'success',
                message: '恢复成功',
            })
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
// 批量立即执行
const handallrun=(jobId:number)=>{
  ElMessageBox.confirm(
    `确定对[id=${jobId}]进行批量立即执行操作?`,
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async() => {
      await timerun(allList)
      getList({})
      ElMessage({
                type: 'success',
                message: '批量立即执行成功',
            })
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
// 立即执行
const handlerun=(jobId:number)=>{
  ElMessageBox.confirm(
    `确定对[id=${jobId}]进行立即执行操作?`,
    '提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  )
    .then(async() => {
      await timerun([jobId])
      console.log(jobId,'=sssssssss');
      
      getList({})
      ElMessage({
                type: 'success',
                message: '立即执行成功',
            })
    })
    .catch(() => {
      ElMessage({
        type: 'info',
        message: 'Delete canceled',
      })
    })
}
// 日志
const dialogVisibles = ref(false)
const confirmtype = async () => {
  dialogVisible.value = false
}
const timelog = () => {
  dialogVisibles.value = true
  getlog({})
}
const option = {
  border: true,
  stripe: true,
  menuAlign: 'center',
  align: 'center',
  addBtn: false,
  editBtn: false,
  delBtn: false,
  selection: true,
  searchMenuSpan: 4,
  column: [{
    label: 'ID',
    prop: 'jobId',
    search: false
  },
  {
    label: 'bean名称',
    prop: 'beanName',
    search: true
  },
  {
    label: '方法名称',
    prop: 'methodName',
  },
  {
    label: '参数',
    prop: 'params',
  },
  {
    label: 'cron表达式',
    prop: 'cronExpression',
  },
  {
    label: '备注',
    prop: 'remark',
  },
  {
    label: '状态',
    prop: 'status',
    type: 'select',
    slot: true,
    search: false,
    dicData: [
      {
        label: '正常',
        value: 0
      }, {
        label: '暂停',
        value: 1
      }
    ]
  }
  ]
}
const options = {
  border: true,
  stripe: true,
  menuAlign: 'center',
  align: 'center',
  addBtn: false,
  editBtn: false,
  delBtn: false,
  selection: true,
  searchMenuSpan: 4,
  menu: false, // 移除操作栏
  column: [{
    label: '日志ID',
    prop: 'logId',
    search: false
  },
  {
    label: '任务ID',
    prop: 'jobId',
    search: true
  },
  {
    label: 'bean名称',
    prop: 'beanName',
    search: false
  },
  {
    label: '方法名称',
    prop: 'methodName',
  },
  {
    label: '参数',
    prop: 'params',
  },
  {
    label: '状态',
    prop: 'status',
    type: 'select',
    slot: true,
    search: false,
    dicData: [
      {
        label: '正常',
        value: 0
      }, {
        label: '暂停',
        value: 1
      }
    ]
  },
  {
    label: '耗时(单位:毫秒)',
    prop: 'times',
  },
  {
    label: '执行时间',
    prop: 'createTime',
  },
  ]
}
</script>

<style lang='scss' scoped>
.produce {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;

  .button {
    color: #fff !important;
  }

  // form {
  //   width: 100%;
  //   display: flex;
  //   font-size: 12px !important;

  //   .el-form-item {
  //     margin-right: 10px;
  //   }
  // }

  .produce_table {
    margin-top: 10px;
  }
}

svg {
  margin-right: 5px;
}

.dialog-footer button:first-child {
  margin-right: 10px;
}

.operations {
  font-size: 12px;
  padding: 12px;
  color: #02B6F2;
}
</style>